body, html {
    margin: 0;
    overflow: hidden;
    height:100%;
}

@media (min-width: 768px){
    #left {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 25%;
    }

    #right {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        overflow-y: scroll;
        width: 75%;
    }
}

#left {
    text-align: center;
    height:100%;
}

#right {
    height:100%;
    text-align: center;
    padding: 0px;
}


.selected {
    border-bottom: 6px #36ff30 solid;
}

p {
    margin: 0;
}


#topic_header {
    background-color: #efefef;
}

#flag-lang {
    position: absolute;
    right: 50%;
}


#topic_header h1 {
    color: #333;
    font-size: 18px;
    margin: 0;
}