/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
}
span.rvts8
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
}
a.rvts9, span.rvts9
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts9:hover { color: #0000ff; }
a.rvts10, span.rvts10
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts10:hover { color: #0000ff; }
span.rvts11 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts12, span.rvts12 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts13
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts14
{
 font-weight: bold;
 color: #000080;
}
span.rvts15
{
 font-style: italic;
 color: #800000;
}
a.rvts16, span.rvts16
{
 color: #008000;
 text-decoration: underline;
}
span.rvts17
{
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts18
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 font-weight: bold;
}
span.rvts19
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
}
span.rvts20
{
 font-size: 14pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
}
a.rvts21, span.rvts21
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts22
{
 font-size: 14pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
}
span.rvts23
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #ff0000;
 text-decoration: underline;
}
span.rvts24
{
 font-size: 11pt;
 font-family: 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
 font-weight: bold;
}
span.rvts25
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #e36c0a;
}
span.rvts26
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #548dd4;
}
span.rvts27
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #00b050;
}
span.rvts28
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #000000;
}
span.rvts29
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000000;
}
span.rvts30
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 color: #000000;
}
span.rvts31
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #00a44a;
}
span.rvts32
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #ff0000;
}
span.rvts33
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #f79646;
}
span.rvts34
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
}
a.rvts35, span.rvts35
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #0000ff;
 text-decoration: none;
}
a.rvts36, span.rvts36
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: none;
}
a.rvts37, span.rvts37
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: ;
 text-decoration: none;
}
a.rvts38, span.rvts38
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts39
{
 font-size: 14pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
}
a.rvts40, span.rvts40
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts41
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
}
span.rvts42
{
 font-size: 11pt;
 font-family: 'Calibri';
}
span.rvts43
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-style: italic;
}
span.rvts44
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-weight: bold;
}
span.rvts45
{
 font-size: 11pt;
 font-family: 'Calibri';
 color: #ff0000;
}
span.rvts46
{
 font-size: 11pt;
 font-family: 'Calibri';
 text-decoration: underline;
}
a.rvts47, span.rvts47
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000000;
 text-decoration: none;
}
span.rvts48
{
 font-size: 11pt;
 font-family: 'verda';
}
span.rvts49
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 text-decoration: underline;
}
span.rvts50
{
 font-size: 7pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 vertical-align: super;
}
span.rvts51
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts52
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #0000ff;
}
span.rvts53
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #3333ff;
}
span.rvts54
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #0070c0;
}
a.rvts55, span.rvts55
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 text-decoration: none;
}
span.rvts56
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts57
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 text-decoration: underline;
}
span.rvts58
{
 font-size: 14pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts59
{
 font-family: 'Verdana', 'Geneva', sans-serif;
}
a.rvts60, span.rvts60
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts61
{
 font-size: 16pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
}
span.rvts62
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 text-decoration: underline;
}
span.rvts63
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts64
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts65
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000000;
}
a.rvts66, span.rvts66
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts66:hover { color: #0000ff; }
a.rvts67, span.rvts67
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts67:hover { color: #0000ff; }
a.rvts68, span.rvts68
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts68:hover { color: #0000ff; }
a.rvts69, span.rvts69
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts69:hover { color: #0000ff; }
a.rvts70, span.rvts70
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts70:hover { color: #0000ff; }
a.rvts71, span.rvts71
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: none;
}
a.rvts71:hover { color: #0000ff; }
a.rvts72, span.rvts72
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #190000;
 text-decoration: none;
}
a.rvts72:hover { color: #0000ff; }
a.rvts73, span.rvts73
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: ;
 text-decoration: none;
}
a.rvts73:hover { color: #0000ff; }
a.rvts74, span.rvts74
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts74:hover { color: #0000ff; }
span.rvts75
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts76
{
 font-family: 'Verdana', 'Geneva', sans-serif;
}
span.rvts77
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 font-weight: bold;
}
span.rvts78
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 font-weight: bold;
}
a.rvts79, span.rvts79
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000000;
 text-decoration: none;
}
a.rvts79:hover { color: #0000ff; }
a.rvts80, span.rvts80
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts80:hover { color: #0000ff; }
a.rvts81, span.rvts81
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts81:hover { color: #0000ff; }
a.rvts82, span.rvts82
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts82:hover { color: #0000ff; }
a.rvts83, span.rvts83
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts83:hover { color: #0000ff; }
a.rvts84, span.rvts84
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000000;
 text-decoration: none;
}
span.rvts85
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 font-weight: bold;
 color: #ff0000;
}
span.rvts86
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000000;
}
span.rvts87
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #000000;
}
a.rvts88, span.rvts88
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 text-decoration: none;
}
a.rvts89, span.rvts89
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 text-decoration: none;
}
a.rvts90, span.rvts90
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 text-decoration: none;
}
a.rvts90:hover { color: #0000ff; }
span.rvts91
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #ff0000;
}
span.rvts92
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #ff0000;
}
a.rvts93, span.rvts93
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 text-decoration: none;
}
span.rvts94
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #0000ff;
}
span.rvts95
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #00b050;
}
span.rvts96
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: ;
}
span.rvts97
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 text-decoration: underline;
}
span.rvts98
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
}
span.rvts99
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
}
span.rvts100
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #007bbf;
}
span.rvts101
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #6666ff;
}
a.rvts102, span.rvts102
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000000;
 text-decoration: none;
}
a.rvts102:hover { color: #0000ff; }
span.rvts103
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000000;
}
span.rvts104
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
}
a.rvts105, span.rvts105
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #190000;
 text-decoration: none;
}
span.rvts106
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 text-decoration: underline;
}
span.rvts107
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 text-decoration: underline;
}
span.rvts108
{
 font-size: 18pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
}
span.rvts109
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #ff0000;
}
span.rvts110
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #ff6666;
}
span.rvts111
{
 font-weight: bold;
}
span.rvts112
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
}
span.rvts113
{
 font-size: 11pt;
 font-weight: bold;
}
span.rvts114
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 color: #00b050;
}
span.rvts115
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #ff0000;
 text-decoration: underline;
}
span.rvts116
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: ;
}
span.rvts117
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #b96666;
}
span.rvts118
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: ;
}
span.rvts119
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: ;
 text-decoration: underline;
}
span.rvts120
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
}
span.rvts121
{
 font-size: 13pt;
}
span.rvts122
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #193c50;
}
span.rvts123
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #193c50;
}
a.rvts124, span.rvts124
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #3333ff;
 text-decoration: underline;
}
span.rvts125
{
 font-family: 'calibri';
}
span.rvts126
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
}
span.rvts127
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 color: #244061;
}
span.rvts128
{
 font-size: 12pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #000000;
}
a.rvts129, span.rvts129
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: ;
 text-decoration: none;
}
a.rvts129:hover { color: #0000ff; }
a.rvts130, span.rvts130
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts130:hover { color: #0000ff; }
span.rvts131
{
 font-size: 18pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #ff0000;
}
span.rvts132
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #190000;
}
span.rvts133
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #190000;
}
a.rvts134, span.rvts134
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #190000;
 text-decoration: none;
}
span.rvts135
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #a5a5a5;
}
span.rvts136
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts137
{
 font-size: 8pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
}
span.rvts138
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #1f497d;
}
span.rvts139
{
 font-style: italic;
 text-decoration: underline;
}
span.rvts140
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
}
span.rvts141
{
 font-size: 9pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
}
span.rvts142
{
 font-size: 11pt;
 font-family: 'calibri';
 font-style: italic;
 text-decoration: underline;
}
span.rvts143
{
 font-size: 16pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
}
span.rvts144
{
 font-size: 16pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
}
span.rvts145
{
 font-size: 16pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
}
a.rvts146, span.rvts146
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #000000;
 text-decoration: none;
}
a.rvts147, span.rvts147
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-weight: bold;
 color: #000000;
 text-decoration: none;
}
span.rvts148
{
 font-size: 11pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
 margin: 0px 0px 8px 24px;
}
.rvps4
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
}
.rvps5
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
 margin: 7px 0px 7px 0px;
}
.rvps6 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps7
{
 text-align: center;
}
.rvps8
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
 margin: 0px 0px 8px 0px;
}
.rvps9
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
 margin: 0px 0px 8px 48px;
}
.rvps10
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
 margin: 0px 0px 8px 72px;
}
.rvps11
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
 margin: 0px 0px 0px 24px;
}
.rvps12
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
 margin: 7px 0px 7px 48px;
}
.rvps13
{
 line-height: 1.50;
}
.rvps14
{
 margin: 0px 0px 0px 48px;
}
.rvps15
{
 margin: 0px 0px 0px 47px;
}
.rvps16
{
 margin: 0px 0px 0px 52px;
}
.rvps17
{
 margin: 0px 0px 0px 65px;
}
.rvps18
{
 text-indent: 1px;
 margin: 0px 0px 0px 47px;
}
.rvps19
{
 margin: 10px 0px 2px 0px;
}
.rvps20
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.35;
 margin: 0px 0px 0px 24px;
}
.rvps21
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
 margin: 0px 0px 0px 53px;
}
.rvps22
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
 margin: 0px 0px 0px 5px;
}
.rvps23
{
 line-height: 1.50;
 margin: 32px 0px 8px 0px;
}
.rvps24
{
 line-height: 1.50;
 margin: 0px 0px 13px 48px;
}
.rvps25
{
 line-height: 1.50;
 margin: 0px 0px 13px 0px;
}
.rvps26
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
 margin: 0px 0px 13px 0px;
}
.rvps27
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
 margin: 0px 0px 13px 24px;
}
.rvps28
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
 margin: 32px 0px 8px 0px;
}
.rvps29
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
 margin: 0px 0px 13px 28px;
}
.rvps30
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
 margin: 0px 0px 13px 47px;
}
.rvps31
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
 margin: 0px 0px 13px 48px;
}
.rvps32
{
 line-height: 1.50;
 margin: 0px 0px 13px 24px;
}
.rvps33
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
 margin: 0px 0px 13px 71px;
}
.rvps34
{
 line-height: 1.50;
 margin: 0px 0px 13px 96px;
}
.rvps35
{
 line-height: 1.15;
 margin: 0px 0px 13px 0px;
}
.rvps36
{
 line-height: 21px;
 margin: 0px 0px 13px 48px;
}
.rvps37
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
 margin: 0px 0px 0px 48px;
}
.rvps38
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
 margin: 0px 0px 0px 71px;
}
.rvps39
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
 margin: 0px 0px 0px 72px;
}
.rvps40
{
 line-height: 1.50;
 margin: 0px 0px 0px 48px;
}
.rvps41
{
 text-align: justify;
 text-justify: distribute;
 text-align-last: auto;
 line-height: 1.50;
}
.rvps42
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: -4px;
 line-height: 1.50;
 margin: 0px 0px 0px 4px;
}
.rvps43
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps44
{
 text-indent: -24px;
 line-height: 1.50;
 margin: 0px 0px 0px 86px;
}
.rvps45
{
 text-indent: -14px;
 line-height: 1.50;
 margin: 0px 0px 0px 14px;
}
.rvps46
{
 line-height: 1.50;
 margin: 0px 0px 0px 24px;
}
.rvps47
{
 text-align: center;
 line-height: 1.50;
}
.rvps48
{
 line-height: 2.00;
}
.rvps49
{
 line-height: 2.00;
 margin: 0px 0px 0px 86px;
}
.rvps50
{
 line-height: 1.50;
 margin: 0px 0px 0px 86px;
}
.rvps51
{
 line-height: 1.50;
 margin: 0px 0px 0px 118px;
}
.rvps52
{
 line-height: 1.50;
 margin: 7px 0px 7px 0px;
}
.rvps53
{
 line-height: 1.50;
 margin: 0px 279px 0px 0px;
}
.rvps54
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 line-height: 1.50;
 margin: 7px 0px 7px 24px;
}
.rvps55
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: -24px;
 line-height: 1.50;
 margin: 0px 0px 0px 48px;
}
.rvps56
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
 text-indent: -24px;
 line-height: 1.50;
 margin: 0px 0px 0px 24px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: inside; list-style-type: disc;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 52px; list-style-position: outside; list-style-type: decimal;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 44px; list-style-position: outside; list-style-type: lower-alpha;}
.list7 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: lower-roman;}
.list8 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: decimal;}
.list9 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: lower-alpha;}
.list10 {text-indent: 0px; padding: 0; margin: 0 0 0 53px; list-style-position: outside; list-style-type: disc;}
.list11 {text-indent: 19px; padding: 0; margin: 0 0 0 28px; list-style-position: outside; list-style-type: disc;}
.list12 {text-indent: 0px; padding: 0; margin: 0 0 0 47px; list-style-position: outside; list-style-type: disc;}
.list13 {text-indent: 0px; padding: 0; margin: 0 0 0 71px; list-style-position: outside; list-style-type: disc;}
.list14 {text-indent: 0px; padding: 0; margin: 0 0 0 96px; list-style-position: outside; list-style-type: disc;}
.list15 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside;}
.list16 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: decimal;}
