

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Active une configuration</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Configuration.html">Configuration</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Configuration.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Configuration.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Dclinelesconfigurations.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces ou les assemblages. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition000.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet d&apos;activer une configuration.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Active la configuration &quot;</span><span class="rvts18">Avec Moteur</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Oper-config2.png"><span class="rvts7"> &#xA0;</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	