



	
		<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Active une sc&#xE8;ne</h1>
				
				
				<div id="topic_breadcrumb">
					<a href="PrsentationdelutilitaireIntegrat.html">Integration</a> &#x203A;&#x203A; Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Document.html">Document</a> &#x203A;&#x203A; 
				</div>
				
			</div>
			
			<div id="topic_header_nav">
				
				
				<a href="Document.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				
				
				<a href="Activeuneorientation.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				
				
				<a href="Changerunenormedhabillage.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				
			</div>
			
			<div class="clear"></div>
		</div>
	
	
	<div id="topic_content">
		
<p></p>
<p class="rvps13"><span class="rvts6"><br></span></p>
<p class="rvps13"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces ou les assemblages. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1884.png"></p>
<p class="rvps13"><span class="rvts7">Cette op&#xE9;ration permet de choisir une sc&#xE8;ne parmi les sc&#xE8;nes standard de SOLIDWORKS </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1883.png"><span class="rvts7">.</span></p>
<p class="rvps13"><span class="rvts7">La s&#xE9;lection de la sc&#xE8;ne se fait par le biais du menu d&#xE9;roulant :</span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1882.png"><span class="rvts7"> &#xA0;</span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts49">Exemple</span><span class="rvts7"> : La sc&#xE8;ne &quot;</span><span class="rvts19">Basic - Toile de fond - Studio</span><span class="rvts7">&quot; sera appliqu&#xE9;e sur tous les documents s&#xE9;lectionn&#xE9;s.</span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1881.png"><span class="rvts7"> </span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p></p>

	</div>
	
	
		<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017  by Visiativ. All Rights Reserved.
			</div>
		</div>
	
	

	
