

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Ajoute une propri&#xE9;t&#xE9; de la mise en plan</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Proprit1.html">Propri&#xE9;t&#xE9;</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Proprit1.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Ajouteunepropritdelassemblagepar.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Ajouteunepropritsurtouteslesdpen.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces ou les assemblages. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition000.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration cr&#xE9;e une propri&#xE9;t&#xE9; sur le document 3D (pi&#xE8;ce ou assemblage) depuis une propri&#xE9;t&#xE9; de la mise en plan. Si la propri&#xE9;t&#xE9; existe d&#xE9;j&#xE0; elle sera modifi&#xE9;e.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> :</span></p>
<p class="rvps3"><span class="rvts7">Cr&#xE9;er dans la pi&#xE8;ce ou l&apos;assemblage la propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">Revision</span><span class="rvts7">&quot; en r&#xE9;cup&#xE9;rant la propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">Revision</span><span class="rvts7">&quot; pr&#xE9;sente dans la mise en plan.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Oper-Propriete10.png"></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Pour cette op&#xE9;ration il faut d&#xE9;finir, dans les </span><a class="rvts32" href="Emplacement.html">options</a><span class="rvts7">, le ou les dossiers o&#xF9; les fichiers de mises en plan pourront &#xEA;tre recherch&#xE9;s.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Emplacement_Plans.png"></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	