

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Ajoute-Modifie une propri&#xE9;t&#xE9; SOLIDWORKS</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Proprit1.html">Propri&#xE9;t&#xE9;</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Proprit1.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="AjouteModifieuneproprietedepuisu.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="AjouteModifieuneproprietedepuis1.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces, les assemblages ou les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition00.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet de d&apos;ajouter ou de modifier une propri&#xE9;t&#xE9; du document parcouru en r&#xE9;cup&#xE9;rant la valeur d&apos;une propri&#xE9;t&#xE9; SOLIDWORKS.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> :</span></p>
<p class="rvps3"><span class="rvts7">Modifie la propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">Matiere</span><span class="rvts7">&quot; avec la valeur de la propri&#xE9;t&#xE9; SOLIDWORKS &quot;</span><span class="rvts18">Materiau</span><span class="rvts7">&quot;. Si la propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">Matiere</span><span class="rvts7">&quot; n&apos;existe pas elle sera cr&#xE9;&#xE9;e.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Oper-Propriete6.png"></p>
<p class="rvps3"><span class="rvts7">PS: Les propri&#xE9;t&#xE9;s SOLIDWORKS sont du type &quot;</span><span class="rvts18">SW-Material@Pi&#xE8;ce1.SLDPRT</span><span class="rvts7">&quot; pour r&#xE9;cup&#xE9;rer le mat&#xE9;riau, &quot;</span><span class="rvts18">SW-Volume@Pi&#xE8;ce1.SLDPRT</span><span class="rvts7">&quot; pour r&#xE9;cup&#xE9;rer le volume de la pi&#xE8;ce, &quot;</span><span class="rvts18">SW-CenterofMassX@Pi&#xE8;ce1.SLDPRT</span><span class="rvts7">&quot; pour r&#xE9;cup&#xE9;rer le centre de gravit&#xE9; en X etc ...</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts30"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	