

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Ajoute/Modifie une propri&#xE9;t&#xE9;</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Proprit1.html">Propri&#xE9;t&#xE9;</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Proprit1.html"><img src="fr/imgspec/arrow_up.png" alt="Parent"></a>
				
				<a href="Ajouteunepropritsurtouteslesdpen.html"><img src="fr/imgspec/arrow_left.png" alt="Previous"></a>
				
				<a href="AjouteModifieuneproprietedepuisu.html"><img src="fr/imgspec/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces, les assemblages ou les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition00.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet d&apos;ajouter ou de modifier, du document parcouru, la propri&#xE9;t&#xE9; sp&#xE9;cifi&#xE9;e.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> :</span></p>
<p class="rvps3"><span class="rvts7">Ajout de la propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">Dessinateur</span><span class="rvts7">&quot; avec la valeur &quot;</span><span class="rvts18">Antoine</span><span class="rvts7">&quot;, si elle existe d&#xE9;j&#xE0; elle sera modifi&#xE9;e.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Oper-Propriete31.png"></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Vous pouvez utiliser certaines instructions cod&#xE9;es.</span></p>
<p class="rvps3"><span class="rvts18">&lt;FileName&gt;</span><span class="rvts7"> pour afficher le nom du document.</span></p>
<p class="rvps3"><span class="rvts18">&lt;PathName&gt;</span><span class="rvts7"> pour afficher le chemin complet de sauvegarde du document.</span></p>
<p class="rvps3"><span class="rvts18">$Nom de la propri&#xE9;t&#xE9;</span><span class="rvts7"> </span><span class="rvts8">pour afficher une valeur de propri&#xE9;t&#xE9; du document (si le nom de la propri&#xE9;t&#xE9; contient un espace, utiliser </span><span class="rvts16">%20%</span><span class="rvts8"> pour remplacer cet espace).</span></p>
<p class="rvps3"><span class="rvts18">&lt;Configuration&gt;</span><span class="rvts7"> pour afficher le nom de la configuration active du document.</span></p>
<p class="rvps3"><span class="rvts18">&lt;Date&gt;</span><span class="rvts7"> pour afficher la date.</span></p>
<p class="rvps3"><span class="rvts18">&lt;Time&gt;</span><span class="rvts7"> pour afficher l&apos;heure.</span></p>
<p class="rvps3"><span class="rvts18">&lt;NewLine&gt;</span><span class="rvts7"> pour passer &#xE0; la ligne.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : </span></p>
<p class="rvps3"><span class="rvts7">L&apos;op&#xE9;ration consiste ici &#xE0; cr&#xE9;er la propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">Dossier</span><span class="rvts7">&quot; en r&#xE9;cup&#xE9;rant le r&#xE9;pertoire courant du document parcouru.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Oper-Propriete34.png"></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Warning.png"><span class="rvts7"> </span><span class="rvts30">BIEN RESPECTER LA CASSE</span></p>
<p class="rvps3"><span class="rvts30"><br></span></p>
<p class="rvps3"><span class="rvts30"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	