

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Ajout dans un rapport la liste des propri&#xE9;t&#xE9;s utilis&#xE9;es dans les documents</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Proprit1.html">Propri&#xE9;t&#xE9;</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Proprit1.html"><img src="fr/imgspec/arrow_up.png" alt="Parent"></a>
				
				<a href="Proprit1.html"><img src="fr/imgspec/arrow_left.png" alt="Previous"></a>
				
				<a href="Ajouteladatedujour.html"><img src="fr/imgspec/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces, les assemblages ou les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition00.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet de renseigner un rapport avec la liste des propri&#xE9;t&#xE9;s des documents parcourus. Le rapport doit, au pr&#xE9;alable, avoir &#xE9;t&#xE9; cr&#xE9;&#xE9; par l&apos;op&#xE9;ration &quot;</span><a class="rvts17" href="Crerunrapportdecontrle.html">Cr&#xE9;er un rapport de contr&#xF4;le</a><span class="rvts7">&quot; . Ce fichier peut &#xEA;tre au format Word (doc) ou tout simplement au format texte (txt). On peut s&#xE9;lectionner le rapport dans lequel on souhaite ajouter la liste des propri&#xE9;t&#xE9;s. (Voir la rubrique &quot;</span><a class="rvts17" href="Divers.html">Divers</a><span class="rvts7">&quot; pour toutes les op&#xE9;rations sur les rapports).</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> :</span></p>
<p class="rvps3"><span class="rvts7">Le rapport &quot;</span><span class="rvts18">Rapport propri&#xE9;t&#xE9;s.txt</span><span class="rvts7">&quot; &#xE9;tant d&#xE9;j&#xE0; cr&#xE9;&#xE9;, on ajoutera toutes les propri&#xE9;t&#xE9;s de &quot;</span><span class="rvts18">Toutes les configurations + </span><span class="rvts18">document</span><span class="rvts7">&quot; et ce quelque soit le r&#xE9;sultat de la condition sp&#xE9;cifi&#xE9;e.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Oper-Propriete201.png"></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Oper-Propriete202.png"><span class="rvts7"> Le choix du rapport dans lequel ajouter les propri&#xE9;t&#xE9;s est &#xE0; s&#xE9;lectionner parmi la liste d&#xE9;roulante.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Oper-Propriete203.png"><span class="rvts7"> Le cas d&apos;ex&#xE9;cution de l&apos;op&#xE9;ration est &#xE0; s&#xE9;lectionner parmi la liste d&#xE9;roulante en fonction du r&#xE9;sultat de la condition.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Oper-Propriete204.png"><span class="rvts7"> On peut sp&#xE9;cifier quelles propri&#xE9;t&#xE9;s ajouter dans le rapport.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	