



	
		<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Ajouter une ou plusieurs &quot;Op&#xE9;rations&quot;</h1>
				
				
				<div id="topic_breadcrumb">
					<a href="PrsentationdelutilitaireIntegrat.html">Integration</a> &#x203A;&#x203A; Utilisation de &quot;Integration&quot; &#x203A;&#x203A; 
				</div>
				
			</div>
			
			<div id="topic_header_nav">
				
				
				<a href="UtilisationdeIntegration.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				
				
				<a href="Lestandarddelanormedhabillagepou.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				
				
				<a href="Dfinitionduneopration.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				
			</div>
			
			<div class="clear"></div>
		</div>
	
	
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7">Les op&#xE9;rations sont &#xE0; s&#xE9;lectionner parmi la liste propos&#xE9;e. Ces op&#xE9;rations peuvent &#xEA;tre fonction de :</span></p>
<ul style="text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps13"><span class="rvts7">&quot;</span><span class="rvts68">Propri&#xE9;t&#xE9;</span><span class="rvts7">&quot; - efface une propri&#xE9;t&#xE9; - ajoute ou modifie une propri&#xE9;t&#xE9; - modifie un champs dans une valeur - ajoute une date etc ...</span></li>
<li class="rvps13"><span class="rvts7">&quot;</span><span class="rvts68">Pi&#xE8;ce</span><span class="rvts7">&quot; - change le mat&#xE9;riau, la couleur - exporte le fichier etc ...</span></li>
<li class="rvps13"><span class="rvts7">&quot;</span><span class="rvts68">Assemblage</span><span class="rvts7">&quot; - remplace le composant - R&#xE9;soudre/All&#xE9;ger un composant - Fixer/Lib&#xE9;rer un composant etc ...</span></li>
<li class="rvps13"><span class="rvts7">&quot;</span><span class="rvts68">Plan</span><span class="rvts7">&quot; - cache/affiche un calque - supprime les table - ins&#xE8;re une table de r&#xE9;visions - insert une nomenclature - remplace les fonds de plan etc ...</span></li>
<li class="rvps13"><span class="rvts7">&quot;</span><span class="rvts68">Configuration</span><span class="rvts7">&quot; - renomme une configuration - active/supprime une configuration - reconstruction d&apos;une configuration etc ...</span></li>
<li class="rvps13"><span class="rvts7">&quot;</span><span class="rvts68">Document</span><span class="rvts7">&quot; - zoom tout - reconstruction et barre de reprise - gestion de l&apos;ombre, de la perspective, du RealView etc ...</span></li>
<li class="rvps13"><span class="rvts7">&quot;</span><span class="rvts68">Divers</span><span class="rvts7">&quot; - cr&#xE9;er un rapport de contr&#xF4;le - placer une vignette, un titre (nom du document analys&#xE9;) - lancement d&apos;une macro etc ...</span></li>
<li class="rvps13"><span class="rvts7">La </span><span class="rvts68">d&#xE9;finition d&apos;une op&#xE9;ration</span><span class="rvts7"> se fait par un simple Glisser/D&#xE9;poser.</span></li>
</ul>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7">Toutes les op&#xE9;rations d&#xE9;taill&#xE9;es ci-apr&#xE8;s peuvent &#xEA;tre d&#xE9;pos&#xE9;es dans le dossier &quot;Op&#xE9;rations&quot;.</span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement1632.png"><span class="rvts7"> </span></p>
<p class="rvps13"><span class="rvts7">Lorsque qu&apos;une op&#xE9;ration est s&#xE9;lectionn&#xE9;e dans la liste des op&#xE9;rations, un ic&#xF4;ne vous indique pour quel(s) document(s) elle sera prise en compte :</span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1631.png"><span class="rvts7"> Indique que l&apos;op&#xE9;ration est possible pour les documents Pi&#xE8;ce, Assemblage et Mise en plan.</span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1630.png"><span class="rvts7"> Indique que l&apos;op&#xE9;ration est possible pour les documents Pi&#xE8;ce, Assemblage.</span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1629.png"><span class="rvts7"> Indique que l&apos;op&#xE9;ration est possible uniquement pour les documents Mises en plan.</span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1628.png"><span class="rvts7"> Indique que l&apos;op&#xE9;ration est possible uniquement pour les documents Pi&#xE8;ces.</span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1627.png"><span class="rvts7"> Indique que l&apos;op&#xE9;ration est possible uniquement pour les documents Assemblages.</span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p></p>

	</div>
	
	
		<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017  by Visiativ. All Rights Reserved.
			</div>
		</div>
	
	

	
