

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Ajouter une ou plusieurs &quot;Conditions&quot;</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="UtilisationdeIntegration.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Icnesdanslesconditionsetopration.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Dfinitiondesconditionsdansledoss.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps2"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Definition condition.png"><span class="rvts7"> </span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Les conditions sont &#xE0; s&#xE9;lectionner parmi la liste propos&#xE9;e. Ces conditions peuvent &#xEA;tre fonction de :</span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps3"><span class="rvts7">&quot;</span><a class="rvts17" href="Proprit.html">Propri&#xE9;t&#xE9;</a><span class="rvts7">&quot; - existante ou non - &#xE9;gale ou diff&#xE9;rente &#xE0; une certaine valeur etc ...</span></li>
<li class="rvps3"><span class="rvts7">&quot;</span><span class="rvts17">SOLIDWORKS</span><span class="rvts7">&quot; - &#xE9;ventuellement par rapport au niveau de version de SOLIDWORKS</span></li>
<li class="rvps3"><span class="rvts7">&quot;</span><a class="rvts17" href="Configuration1.html">Configuration</a><span class="rvts7">&quot; - existence d&apos;une configuration particuli&#xE8;re - nombre de configurations pr&#xE9;sentes dans le document etc ...</span></li>
<li class="rvps3"><span class="rvts7">&quot;</span><a class="rvts17" href="Document1.html">Document</a><span class="rvts7">&quot; - si le document est une pi&#xE8;ce, un assemblage ou une mise en plan - si le document comporte des &#xE9;quations - si le nom contient N caract&#xE8;res etc ... </span></li>
<li class="rvps3"><span class="rvts7">&quot;</span><a class="rvts17" href="Pice1.html">Pi&#xE8;ce</a><span class="rvts7">&quot; - si la pi&#xE8;ce contient N corps volumiques, surfaciques - si la pi&#xE8;ce est un m&#xE9;cano-soud&#xE9; etc ...</span></li>
<li class="rvps3"><span class="rvts7">&quot;</span><a class="rvts17" href="Assemblage1.html">Assemblage</a><span class="rvts7">&quot; - si l&apos;assemblage contient N pi&#xE8;ces - N niveau(x) - un composant particulier etc ...</span></li>
<li class="rvps3"><span class="rvts7">&quot;</span><a class="rvts17" href="Plan1.html">Plan</a><span class="rvts7">&quot; - si la mise en plan contient N feuille(s) - si la feuille N est un format particulier - si la mise en plan r&#xE9;f&#xE9;rence un document particulier etc ...</span></li>
</ul>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Les conditions peuvent &#xEA;tre gliss&#xE9;es :</span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps3"><span class="rvts7">soit dans le dossier &quot;</span><a class="rvts17" href="Dfinitiondesconditionsdansledoss.html">Et</a><span class="rvts7">&quot; - dans ce cas toutes les conditions doivent &#xEA;tre respect&#xE9;es pour appliquer l&apos;op&#xE9;ration</span></li>
<li class="rvps3"><span class="rvts7">soit dans le dossier &quot;</span><a class="rvts17" href="Dfinitionduneconditiondansledoss.html">Ou</a><span class="rvts7">&quot; - dans ce cas toutes les conditions ne sont pas n&#xE9;cessaire d&apos;&#xEA;tre respect&#xE9;es</span></li>
</ul>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Toutes les conditions d&#xE9;taill&#xE9;es ci-apr&#xE8;s peuvent &#xEA;tre d&#xE9;pos&#xE9;es soit dans le dossier &quot;Et&quot; soit dans le dossier &quot;Ou&quot;.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Condition0.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7">Lorsque qu&apos;une condition est s&#xE9;lectionn&#xE9;e dans la liste des conditions, un ic&#xF4;ne vous indique pour quel(s) document(s) elle sera prise en compte :</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition00.png"><span class="rvts7"> Indique que la condition est possible pour les documents Pi&#xE8;ce, Assemblage et Mise en plan.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition000.png"><span class="rvts7"> Indique que la condition est possible pour les documents Pi&#xE8;ce, Assemblage.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition0000.png"><span class="rvts7"> Indique que la condition est possible uniquement pour les documents Mises en plan.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition00000.png"><span class="rvts7"> Indique que la condition est possible uniquement pour les documents Pi&#xE8;ces.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition000000.png"><span class="rvts7"> Indique que la condition est possible uniquement pour les documents Assemblages.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	