

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Barre de fonctions de la liste</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="Gestionduprojet.html">Gestion du projet</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Gestionduprojet.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Listedescritresdemodification.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Menuscontextuelsdelarbreduprojet.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Menu criteres.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7">Le bandeau de cette fen&#xEA;tre permet un certain nombre de fonctionnalit&#xE9;s.</span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps3"><span class="rvts7">L&apos;ic&#xF4;ne </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/New.png"><span class="rvts7"> permet d&apos;initialiser la liste afin de repartir &#xE0; z&#xE9;ro. Si une liste est d&#xE9;j&#xE0; pr&#xE9;sente le message suivant appara&#xEE;t.</span></li>
</ul>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Efface liste en cours.png"></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps3"><span class="rvts7">L&apos;ic&#xF4;ne </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Save as.png"><span class="rvts7"> permet d&apos;enregistrer une liste d&apos;actions (ou projet) qui sont r&#xE9;guli&#xE8;rement &#xE0; ex&#xE9;cuter. L&apos;extension de ces fichiers sauvegard&#xE9;s est &quot;.mcact&quot;.</span></li>
<li class="rvps3"><span class="rvts7">L&apos;ic&#xF4;ne </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Open.png"><span class="rvts7"> permet d&apos;ouvrir une liste pr&#xE9;-enregistr&#xE9;e (ou projet) afin de la modifier ou de l&apos;utiliser pour le traitement.</span></li>
<li class="rvps3"><span class="rvts7">L&apos;ic&#xF4;ne </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Events_Sel.png"><span class="rvts7">permet de cr&#xE9;er une action comportant les dossiers &quot;Param&#xE8;tres&quot;, &quot;Conditions&quot; avec &quot;Et&quot; &quot;Ou&quot; (dossiers vides), &quot;Op&#xE9;rations&quot;.</span></li>
</ul>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Action1.png"></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps3"><span class="rvts7">L&apos;ic&#xF4;ne </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Event Syst2.png"><span class="rvts7"> permet de cr&#xE9;er une action syst&#xE9;matique comportant les dossiers &quot;Param&#xE8;tres&quot;, &quot;Conditions&quot; avec &quot;Et&quot; &quot;Ou&quot;, &quot;Op&#xE9;rations&quot;. Cette action placera automatiquement une condition &quot;Syst&#xE9;matique&quot; dans le dossier &quot;Et&quot;. Bien entendu cette condition pourra &#xEA;tre supprim&#xE9;e par la suite si elle s&apos;av&#xE8;re inutile.</span></li>
</ul>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Action syst.png"></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps3"><span class="rvts7">La liste de toutes les actions peut &#xEA;tre &quot;R&#xE9;duite&quot; ou &quot;D&#xE9;velopp&#xE9;e&quot; en appuyant respectivement sur les ic&#xF4;nes </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Collapse.png"><span class="rvts7"> et </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Expand.png"><span class="rvts7">.</span></li>
</ul>
<p class="rvps3"><span class="rvts7"><br></span></p>
<div class="rvps3"><table width="100%" border="0" cellpadding="1" cellspacing="2" style="border-width: 0px; border-spacing: 2px;">
<tr valign="middle">
<td width="422" valign="middle" style="padding: 1px;"><p class="rvps2"><img alt="" style="padding : 1px;" src="fr/imgspec/Liste reduite.png"></p>
</td>
<td width="806" style="padding: 1px;"><p class="rvps2"><img alt="" style="padding : 1px;" src="fr/imgspec/Liste develop.png"></p>
</td>
</tr>
</table>
</div>
<p class="rvps3"><span class="rvts7"><br></span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps3"><span class="rvts7">Les ic&#xF4;nes </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/check.png"><span class="rvts7"> et </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/uncheck.png"><span class="rvts7">permettent de &quot;Cocher&quot; ou &quot;D&#xE9;cocher&quot; toutes les actions ou bien vous pouvez cocher ou d&#xE9;cocher une action compl&#xE8;te ou quelques conditions et/ou op&#xE9;rations &#xE0; ne pas prendre en compte.</span></li>
</ul>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Liste des critres de modification1.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps3"><span class="rvts7">L&apos;ic&#xF4;ne </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Suppr.png"><span class="rvts7"> permet de supprimer les actions qui ont &#xE9;t&#xE9; coch&#xE9;es (suppression d&#xE9;finitive).</span></li>
<li class="rvps3"><span class="rvts7">L&apos;ic&#xF4;ne </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Refresh.png"><span class="rvts7"> permet de mettre &#xE0; jour la propri&#xE9;t&#xE9; s&#xE9;lectionn&#xE9;e.</span></li>
<li class="rvps3"><span class="rvts7">On peut modifier l&apos;ordre des actions, des conditions ou des op&#xE9;rations dans lequel elles seront ex&#xE9;cut&#xE9;es. En les s&#xE9;lectionnant puis en en appuyant sur les fl&#xE8;ches &quot;Monter&quot; et &quot;Descendre&quot;.</span></li>
</ul>
<div class="rvps3"><table width="100%" border="0" cellpadding="1" cellspacing="2" style="border-width: 0px; border-spacing: 2px;">
<tr valign="middle">
<td width="45" valign="middle" style="padding: 1px;"><p class="rvps2"><img alt="" style="padding : 1px;" src="fr/imgspec/Fleche monte.png"></p>
</td>
<td width="1187" style="padding: 1px;"><p class="rvps2"><img alt="" style="padding : 1px;" src="fr/imgspec/Fleche descente.png"></p>
</td>
</tr>
</table>
</div>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	