

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Changer norme d&apos;habillage des notes, dimensions, table du plan</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Plan.html">Plan</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Plan.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				<a href="Changerlacouleurduncalque.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				<a href="Creruncalque.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Condition0000.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Changer_Police.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet d&apos;affecter une police aux annotations, cotations, tables, ou label de vue d&apos;un plan.</span></p>
<p class="rvps3"><span class="rvts7">Il suffit de s&#xE9;lectionner le type d&apos;entit&#xE9; &#xE0; modifier dans le menu d&#xE9;roulant:</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Type_Entite.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">&quot;Partout&quot; permet de s&#xE9;lectionner tous les types d&apos;entit&#xE9;s.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Il faut ensuite s&#xE9;lectionner la police &#xE0; utiliser dans la fen&#xEA;tre standard Windows:</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Choix_Police.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Le changement de la police peut &#xEA;tre appliqu&#xE9; individuellement sur chaque note ou directement dans la norme des propri&#xE9;t&#xE9;s du document.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Application_Police.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Le fait de ne pas s&#xE9;lectionner de police et de choisir: &quot;Chaque annotation&quot; permet de r&#xE9;-associer automatiquement le type d&apos;entit&#xE9; s&#xE9;lectionn&#xE9; &#xE0; la police du document.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	