

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Changer le format de la date</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Proprit1.html">Propri&#xE9;t&#xE9;</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Proprit1.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="AjouteModifieuneproprietedepuis1.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Concatnation.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces, les assemblages ou les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition00.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet de modifier le format d&apos;une propri&#xE9;t&#xE9; de type date.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> :</span></p>
<p class="rvps3"><span class="rvts7">Modifier le format de la propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">DateVerification</span><span class="rvts7">&quot; en utilisant le format &quot;</span><span class="rvts18">dd/MM/yyyy</span><span class="rvts7">&quot;. Si la date est le 18 janvier 2013 alors la propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">DateVerification</span><span class="rvts7">&quot; aura comme valeur &quot;</span><span class="rvts18">18/01/2013</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Oper-Propriete13.png"></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps2"><span class="rvts7">On peut choisir un format parmi la liste d&#xE9;roulante propos&#xE9;e :</span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps2"><img alt="" style="padding : 1px;" src="fr/imgspec/Liste Format Date.png"></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Ou bien saisir directement le format personnalis&#xE9;. Le tableau suivant montre les caract&#xE8;res que vous pouvez utiliser :</span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<div class="rvps2"><table border="1" cellpadding="1" cellspacing="2" style="border-color: #000000; border-style: solid; border-spacing: 2px;">
<tr valign="top">
<td width="110" style="border-width : 0px; padding: 1px; background-color: #99ccff;"><p class="rvps6"><span class="rvts31">Caract&#xE8;res</span></p>
</td>
<td width="1042" style="border-width : 0px; padding: 1px; background-color: #99ccff;"><p class="rvps6"><span class="rvts31">Description</span></p>
</td>
</tr>
<tr valign="middle">
<td width="110" height="44" valign="middle" style="border-width : 0px; padding: 1px;"><p class="rvps6"><span class="rvts25">d</span></p>
</td>
<td width="1042" height="44" style="border-width : 0px; padding: 1px;"><p class="rvps2"><span class="rvts25">Affiche le jour sous la forme d&apos;un nombre sans z&#xE9;ro significatif (exemple 1). Utiliser %d s&apos;il s&apos;agit du seul caract&#xE8;re dans le format num&#xE9;rique d&#xE9;fini par l&apos;utilisateur</span></p>
</td>
</tr>
<tr valign="middle">
<td width="110" height="26" style="border-width : 0px; padding: 1px;"><p class="rvps6"><span class="rvts25">dd</span></p>
</td>
<td width="1042" height="26" valign="middle" style="border-width : 0px; padding: 1px;"><p class="rvps2"><span class="rvts25">Affiche le jour sous la forme d&apos;un nombre avec un z&#xE9;ro non significatif (exemple 01)</span></p>
</td>
</tr>
<tr valign="middle">
<td width="110" height="25" valign="middle" style="border-width : 0px; padding: 1px;"><p class="rvps6"><span class="rvts25">ddd</span></p>
</td>
<td width="1042" height="25" style="border-width : 0px; padding: 1px;"><p class="rvps2"><span class="rvts25">Affiche le jour sous la forme d&apos;une abr&#xE9;viation (exemple lun.)</span></p>
</td>
</tr>
<tr valign="middle">
<td width="110" height="26" style="border-width : 0px; padding: 1px;"><p class="rvps6"><span class="rvts25">dddd</span></p>
</td>
<td width="950" height="26" valign="middle" style="border-width : 0px; padding: 1px;"><p class="rvps2"><span class="rvts25">Affiche le jour sous la forme d&apos;une abr&#xE9;viation (exemple lundi)</span></p>
</td>
</tr>
<tr valign="middle">
<td width="110" height="40" valign="middle" style="border-width : 0px; padding: 1px;"><p class="rvps6"><span class="rvts25">M</span></p>
</td>
<td width="1042" height="40" valign="middle" style="border-width : 0px; padding: 1px;"><p class="rvps2"><span class="rvts25">Affiche le mois sous la forme d&apos;un nombre sans z&#xE9;ro significatif (exemple janvier correspond &#xE0; 1). Utiliser %M s&apos;il s&apos;agit du seul caract&#xE8;re dans le format num&#xE9;rique d&#xE9;fini par l&apos;utilisateur</span></p>
</td>
</tr>
<tr valign="middle">
<td width="110" height="31" valign="middle" style="border-width : 0px; padding: 1px;"><p class="rvps6"><span class="rvts25">MM</span></p>
</td>
<td width="1042" height="31" valign="middle" style="border-width : 0px; padding: 1px;"><p class="rvps2"><span class="rvts25">Affiche le mois sous la forme d&apos;un nombre avec un z&#xE9;ro non significatif (exemple janvier correspond 01)</span></p>
</td>
</tr>
<tr valign="middle">
<td width="110" height="26" valign="middle" style="border-width : 0px; padding: 1px;"><p class="rvps6"><span class="rvts25">MMM</span></p>
</td>
<td width="1042" height="26" valign="middle" style="border-width : 0px; padding: 1px;"><p class="rvps2"><span class="rvts25">Affiche le mois sous la forme d&apos;une abr&#xE9;viation (exemple janvier correspond janv.)</span></p>
</td>
</tr>
<tr valign="middle">
<td width="110" height="25" valign="middle" style="border-width : 0px; padding: 1px;"><p class="rvps6"><span class="rvts25">MMMM</span></p>
</td>
<td width="1042" height="25" valign="middle" style="border-width : 0px; padding: 1px;"><p class="rvps2"><span class="rvts25">Affiche le mois sous la forme d&apos;un nom de mois complet (exemple janvier)</span></p>
</td>
</tr>
<tr valign="middle">
<td width="110" height="40" valign="middle" style="border-width : 0px; padding: 1px;"><p class="rvps6"><span class="rvts25">y</span></p>
</td>
<td width="1042" height="40" valign="middle" style="border-width : 0px; padding: 1px;"><p class="rvps2"><span class="rvts25">Affiche l&apos;ann&#xE9;e sous un format num&#xE9;rique sans z&#xE9;ros non significatifs (exemple 0-9). Utiliser %Y s&apos;il s&apos;agit du seul caract&#xE8;re dans le format num&#xE9;rique d&#xE9;fini par l&apos;utilisateur</span></p>
</td>
</tr>
<tr valign="middle">
<td width="110" height="37" valign="middle" style="border-width : 0px; padding: 1px;"><p class="rvps6"><span class="rvts6">yy</span></p>
</td>
<td width="1042" height="37" valign="middle" style="border-width : 0px; padding: 1px;"><p class="rvps2"><span class="rvts25">Affiche l&apos;ann&#xE9;e sous un format num&#xE9;rique &#xE0; deux chiffres avec un z&#xE9;ro non significatif le cas &#xE9;ch&#xE9;ant (exemple janvier correspond 01)</span></p>
</td>
</tr>
<tr valign="middle">
<td width="110" height="24" valign="middle" style="border-width : 0px; padding: 1px;"><p class="rvps6"><span class="rvts6">yyy</span></p>
</td>
<td width="1042" height="24" valign="middle" style="border-width : 0px; padding: 1px;"><p class="rvps2"><span class="rvts25">Non disponible</span></p>
</td>
</tr>
<tr valign="middle">
<td width="110" height="26" valign="middle" style="border-width : 0px; padding: 1px;"><p class="rvps6"><span class="rvts6">yyyy</span></p>
</td>
<td width="1042" height="26" valign="middle" style="border-width : 0px; padding: 1px;"><p class="rvps2"><span class="rvts25">Affiche l&apos;ann&#xE9;e sous un format num&#xE9;rique &#xE0; Quatre chiffres</span></p>
</td>
</tr>
</table>
</div>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Respecter la casse (Majuscule/minuscule) et indiquer les s&#xE9;parateurs de votre choix.</span></p>
<p class="rvps3"><span class="rvts7">Voici quelques exemples de formats de date d&#xE9;finis par l&apos;utilisateur pour le </span><span class="rvts18">vendredi 18 janvier 2013.</span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<div class="rvps3"><table width="50%" border="1" cellpadding="1" cellspacing="2" style="border-color: #000000; border-style: solid; border-spacing: 2px;">
<tr valign="middle">
<td width="138" valign="middle" style="border-color: #000000; border-style: solid; padding: 1px; background-color: #99ccff;"><p class="rvps6"><span class="rvts31">Format</span></p>
</td>
<td width="167" valign="middle" style="border-color: #000000; border-style: solid; padding: 1px; background-color: #99ccff;"><p class="rvps6"><span class="rvts31">Affiche</span></p>
</td>
</tr>
<tr valign="middle">
<td width="138" valign="middle" style="border-color: #000000; border-style: solid; padding: 1px;"><p class="rvps6"><span class="rvts25">dd-MM-yy</span></p>
</td>
<td width="167" valign="middle" style="border-color: #000000; border-style: solid; padding: 1px;"><p class="rvps6"><span class="rvts25">18-01-13</span></p>
</td>
</tr>
<tr valign="middle">
<td width="138" valign="middle" style="border-color: #000000; border-style: solid; padding: 1px;"><p class="rvps6"><span class="rvts25">dd/MM/yy</span></p>
</td>
<td width="167" valign="middle" style="border-color: #000000; border-style: solid; padding: 1px;"><p class="rvps6"><span class="rvts25">18/01/13</span></p>
</td>
</tr>
<tr valign="middle">
<td width="138" valign="middle" style="border-color: #000000; border-style: solid; padding: 1px;"><p class="rvps6"><span class="rvts25">M/d/yy</span></p>
</td>
<td width="167" valign="middle" style="border-color: #000000; border-style: solid; padding: 1px;"><p class="rvps6"><span class="rvts25">01/18/13</span></p>
</td>
</tr>
<tr valign="middle">
<td width="138" valign="middle" style="border-color: #000000; border-style: solid; padding: 1px;"><p class="rvps6"><span class="rvts25">d MMM yy</span></p>
</td>
<td width="167" valign="middle" style="border-color: #000000; border-style: solid; padding: 1px;"><p class="rvps6"><span class="rvts25">18 jan. 13</span></p>
</td>
</tr>
<tr valign="middle">
<td width="138" valign="middle" style="border-color: #000000; border-style: solid; padding: 1px;"><p class="rvps6"><span class="rvts25">d MMMM yyyy</span></p>
</td>
<td width="167" valign="middle" style="border-color: #000000; border-style: solid; padding: 1px;"><p class="rvps6"><span class="rvts25">18 janvier 2013</span></p>
</td>
</tr>
</table>
</div>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts30"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	