

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Changer la couleur d&apos;un calque</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Plan.html">Plan</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Plan.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				<a href="Ajouteunefeuille.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				<a href="Changernormedhabillagedesnotesdi.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Condition0000.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet de modifier la couleur d&apos;un calque nomm&#xE9;.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Le calque nomm&#xE9; &quot;</span><span class="rvts18">Annotations</span><span class="rvts7">&quot; sera affect&#xE9; par la couleur &quot;</span><span class="rvts18">Rouge</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Couleur_Calque.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">La couleur est &#xE0; choisir parmi le menu des couleurs en cliquant sur </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SelectValeurProp.png"><span class="rvts7">. En fonction du param&#xE8;tre coch&#xE9; dans l&apos;onglet </span><a class="rvts17" href="Emplacement.html">options</a><span class="rvts7"> de l&apos;utilitaire on pointera sur les </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/CouleursStd1.png"><span class="rvts7"> ou </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/CouleursRal1.png"><span class="rvts7">.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="imgspec/SelectCouleurs.png"></p>
<p class="rvps3"><span class="rvts7">La valeur peut &#xE9;galement &#xEA;tre saisie manuellement. C&apos;est un m&#xE9;lange de 3 nombres (chacun des nombres allant de 0 &#xE0; 255) correspondant aux 3 couleurs Rouge-Vert-Bleu (RVB) , exemple pour un magenta la valeur sera &quot;</span><span class="rvts18">213,43,183</span><span class="rvts7">&quot;</span></p>
<p class="rvps3"><span class="rvts7">L&apos;op&#xE9;ration affecte la couleur (rouge) au calque ajout&#xE9;.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="imgspec/Oper-piece30.png"><span class="rvts7"> &#xA0;</span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/CouleursStd.png"></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="imgspec/CouleursRal.png"></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	