

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Configurations</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="Lesoptions.html">Les options</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Lesoptions.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				<a href="Table.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				<a href="Export.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p class="rvps7"><span class="rvts7">Dans les documents SOLIDWORKS les propri&#xE9;t&#xE9;s peuvent &#xEA;tre affect&#xE9;es au document et/ou &#xE0; des configurations sp&#xE9;cifiques.</span></p>
<p class="rvps7"><span class="rvts7">Dans cette fen&#xEA;tre d&apos;options nous d&#xE9;finissons dans quel contexte seront lues ou appliqu&#xE9;es les propri&#xE9;t&#xE9;s.</span></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p class="rvps7"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/OptionsGeneral8.png"><span class="rvts7"> </span></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps7"><span class="rvts7">&quot;</span><span class="rvts18">Lecture des propri&#xE9;t&#xE9;s</span><span class="rvts7">&quot; :</span></li>
</ul>
<p class="rvps7"><span class="rvts7">Par exemple, on testera les propri&#xE9;t&#xE9;s sur la configuration &quot;</span><span class="rvts18">D&#xE9;gagement</span><span class="rvts7">&quot;, si elle existe. </span></p>
<p class="rvps7"><span class="rvts7">La lecture des propri&#xE9;t&#xE9;s peut &#xEA;tre r&#xE9;alis&#xE9; sur la configuration active et sur le document si la propri&#xE9;t&#xE9; est absente de la configuration active.</span></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps7"><span class="rvts7">&quot;</span><span class="rvts18">Application des propri&#xE9;t&#xE9;s</span><span class="rvts7">&quot; :</span></li>
</ul>
<p class="rvps7"><span class="rvts7">Par exemple, on appliquera les propri&#xE9;t&#xE9;s sur la configuration &quot;</span><span class="rvts18">Position ouverte</span><span class="rvts7">&quot;, si elle existe.</span></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p class="rvps7"><span class="rvts7">Cela peut donc s&apos;av&#xE9;rer tr&#xE8;s pratique pour r&#xE9;cup&#xE9;rer les propri&#xE9;t&#xE9;s d&apos;une configuration et les basculer sur une autre.</span></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	