



	
		<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Copier toutes les options du document (Nombre &#xE0; virgule)</h1>
				
				
				<div id="topic_breadcrumb">
					<a href="PrsentationdelutilitaireIntegrat.html">Integration</a> &#x203A;&#x203A; Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Document.html">Document</a> &#x203A;&#x203A; 
				</div>
				
			</div>
			
			<div id="topic_header_nav">
				
				
				<a href="Document.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				
				
				<a href="Copiertouteslesoptionsdudocument.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				
				
				<a href="Copiertouteslesoptionsdudocumen2.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				
			</div>
			
			<div class="clear"></div>
		</div>
	
	
	<div id="topic_content">
		
<p></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces ou les assemblages. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1893.png"></p>
<p class="rvps13"><span class="rvts7">Cette op&#xE9;ration permet de copier toutes les options de type &quot;Nombre &#xE0; virgule&quot;. Pour plus d&apos;information sur l&apos;utilisation de ces param&#xE8;tres, voir aide API (Aide/Aide API).</span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7">Il est possible d&apos;omettre des options:</span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement1892.png"></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1891.png"><span class="rvts7"> </span><span class="rvts109">L&apos;utilisation de cette op&#xE9;ration est r&#xE9;serv&#xE9;e aux utilisateurs avanc&#xE9;s.</span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p></p>

	</div>
	
	
		<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017  by Visiativ. All Rights Reserved.
			</div>
		</div>
	
	

	
