

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Cr&#xE9;er un rapport de contr&#xF4;le</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Divers.html">Divers</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Divers.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				<a href="Divers.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				<a href="Lancementdunemacro.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces, les assemblages ou les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Condition00.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet de cr&#xE9;er un rapport de contr&#xF4;le. Le fichier peut &#xEA;tre simplement au format texte (.txt) ou au format Word (.doc).</span></p>
<p class="rvps3"><span class="rvts7">La s&#xE9;lection du nom du rapport peut se faire en cliquant sur </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SelectValeurProp.png"><span class="rvts7"> si le fichier existe.</span></p>
<p class="rvps3"><span class="rvts7">Si le fichier n&apos;existe pas le nom peut &#xEA;tre sp&#xE9;cifi&#xE9; dans le champs &quot;</span><span class="rvts18">Nom du rapport &#xE0; cr&#xE9;er</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><span class="rvts7">Vous pouvez utiliser les codes suivants pour nommer le rapport, le symbole &quot;</span><span class="rvts18">&amp;</span><span class="rvts7">&quot; pour cumuler les champs est facultatif :</span></p>
<p class="rvps3"><span class="rvts18">&lt;User&gt;</span><span class="rvts7"> affiche le nom de l&apos;utilisateur.</span></p>
<p class="rvps3"><span class="rvts18">&lt;Date&gt;</span><span class="rvts7"> affiche la date de g&#xE9;n&#xE9;ration du rapport.</span></p>
<p class="rvps3"><span class="rvts18">&lt;Time&gt;</span><span class="rvts7"> affiche l&apos;heure de g&#xE9;n&#xE9;ration du rapport.</span></p>
<p class="rvps3"><span class="rvts18">&lt;Temp&gt;</span><span class="rvts7"> affiche le r&#xE9;pertoire temporaire.</span></p>
<p class="rvps3"><span class="rvts18">&lt;Desktop&gt;</span><span class="rvts7"> affiche le r&#xE9;pertoire du bureau.</span></p>
<p class="rvps3"><span class="rvts18">&lt;UserProfile&gt;</span><span class="rvts7"> affiche le r&#xE9;pertoire de l&apos;utilisateur.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Oper-divers1.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	