



	
		<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Cr&#xE9;er une action</h1>
				
				
				<div id="topic_breadcrumb">
					<a href="PrsentationdelutilitaireIntegrat.html">Integration</a> &#x203A;&#x203A; Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="Gestionduprojet.html">Gestion du projet</a> &#x203A;&#x203A; 
				</div>
				
			</div>
			
			<div id="topic_header_nav">
				
				
				<a href="Gestionduprojet.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				
				
				<a href="Gestionduprojet.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				
				
				<a href="Listedescritresdemodification.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				
			</div>
			
			<div class="clear"></div>
		</div>
	
	
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps2"><span class="rvts7">Cliquer sur l&#x2019;ic&#xF4;ne &quot;Action&quot; </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1404.png"><span class="rvts7"> et saisir un nom. </span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps2"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1403.png"><span class="rvts7"> </span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps2"><span class="rvts7">Il est possible de d&#xE9;finir plusieurs actions en m&#xEA;me temps. Elles seront ex&#xE9;cut&#xE9;es s&#xE9;quentiellement.</span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps2"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement1402.png"></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p></p>

	</div>
	
	
		<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017  by Visiativ. All Rights Reserved.
			</div>
		</div>
	
	

	
