

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Cr&#xE9;er une mise en plan &#xE0; partir d&apos;un plan existant</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Plan.html">Plan</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Plan.html"><img src="fr/imgspec/arrow_up.png" alt="Parent"></a>
				
				<a href="Crerundocumentplanparfeuille.html"><img src="fr/imgspec/arrow_left.png" alt="Previous"></a>
				
				<a href="Dupliquerunefeuille.html"><img src="fr/imgspec/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition000.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet de cr&#xE9;er, par recopie d&apos;un plan existant, les mises en plan de tous les fichiers s&#xE9;lectionn&#xE9;s par changement de r&#xE9;f&#xE9;rences. La sauvegarde se fait dans un dossier sp&#xE9;cifique.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> :</span></p>
<p class="rvps3"><span class="rvts7">Sauvegarder toutes les mises en plan s&#xE9;lectionn&#xE9;s prend comme mod&#xE8;le le fichier &quot;</span><span class="rvts18">Piston.slddrw</span><span class="rvts7">&quot;.</span></p>
<p class="rvps10"><span class="rvts8">S&#xE9;lection 1&#xA0;:</span><span class="rvts16"> &quot;Sp&#xE9;cifier un dossier ci-dessus pour les fichiers g&#xE9;n&#xE9;r&#xE9;s&quot;</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Oper-plan111.png"><span class="rvts7"> &#xA0;</span></p>
<p class="rvps3"><span class="rvts7">Les fichiers seront sauvegard&#xE9;s dans le r&#xE9;pertoire &quot;</span><span class="rvts18">D:\Samples\180-Integration\Plans</span><span class="rvts7">&quot;.</span></p>
<p class="rvps10"><span class="rvts8">Dans ce cas on sp&#xE9;cifie un dossier sans tenir compte des options de renommage.</span></p>
<p class="rvps10"><span class="rvts8"><br></span></p>
<p class="rvps10"><span class="rvts8">S&#xE9;lection 2&#xA0;: </span><span class="rvts16">&quot;Utiliser les options du programme &#x2018;Option/R&#xE8;gles de nommage&quot;</span></p>
<p class="rvps10"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Oper-plan112.png"><span class="rvts18"> &#xA0; </span></p>
<p class="rvps10"><span class="rvts7">Les</span><span class="rvts18"> </span><span class="rvts7">plans seront sauvegard&#xE9;s dans le r&#xE9;pertoire &quot;</span><span class="rvts18">D:\Formation SW\Clients\Plans</span><span class="rvts7">&quot; sp&#xE9;cifi&#xE9; dans les r&#xE8;gles de nommage.</span></p>
<p class="rvps3"><span class="rvts7">Avec cette solution on ne sp&#xE9;cifie pas de dossier d&apos;export, l&apos;emplacement sera d&#xE9;fini dans les </span><a class="rvts17" href="Gnral.html">options</a><span class="rvts7"> de l&apos;utilitaire (R&#xE8;gles de nommage), ainsi que les r&#xE8;gles de nommage des fichiers.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Oper-plan113.png"><span class="rvts8"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Ide-Astuce.png"><span class="rvts7"> Le mod&#xE8;le peut &#xEA;tre un plan standard (avec mod&#xE8;le repr&#xE9;sent&#xE9;) ou un plan vide avec des vues pr&#xE9;d&#xE9;finies.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	