

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Cr&#xE9;er un document plan par feuille</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Plan.html">Plan</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Plan.html"><img src="fr/imgspec/arrow_up.png" alt="Parent"></a>
				
				<a href="Creruncalque.html"><img src="fr/imgspec/arrow_left.png" alt="Previous"></a>
				
				<a href="Crerunemiseenplanpartirdunplane1.html"><img src="fr/imgspec/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition0000.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet de cr&#xE9;er autant de mises en plan que de feuilles sp&#xE9;cifi&#xE9;es.</span></p>
<p class="rvps3"><span class="rvts7">Le num&#xE9;ro de la feuille est &#xE0; choisir parmi une liste. Ce num&#xE9;ro doit &#xEA;tre num&#xE9;rique. Il peut &#xEA;tre saisi au clavier ou &#xE0; l&apos;aide de la liste d&#xE9;roulante :</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Choix_Nombres2.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7">Au-lieu de sp&#xE9;cifier une feuille, vous pouvez utiliser le caract&#xE8;re &quot;</span><span class="rvts18">*</span><span class="rvts7">&quot; afin de sauvegarder une mise en plan toutes les feuilles.</span></p>
<p class="rvps3"><span class="rvts7">Si vous souhaitez sauvegarder plusieurs feuilles, utilisez le caract&#xE8;re &quot;</span><span class="rvts18">;</span><span class="rvts7">&quot; comme s&#xE9;parateur.</span></p>
<p class="rvps3"><span class="rvts7">Le nom des mises en plan g&#xE9;n&#xE9;r&#xE9;es peut prendre la forme :</span></p>
<p class="rvps3"><span class="rvts7">- Soit le nom du plan suivi du nom de la feuille</span></p>
<p class="rvps3"><span class="rvts7">- Soit le nom du plan suivi du num&#xE9;ro de la feuille</span></p>
<p class="rvps3"><span class="rvts7">Le r&#xE9;pertoire de sauvegarde est &#xE0; s&#xE9;lectionner en cliquant sur </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/SelectValeurProp.png"><span class="rvts7">.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Toutes les feuilles &quot;</span><span class="rvts18">*</span><span class="rvts7">&quot; seront enregistr&#xE9;es dans le r&#xE9;pertoire &quot;</span><span class="rvts18">D:\Samples\180-Integration\Plans</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Oper-plan14.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Ide-Astuce.png"><span class="rvts7"> Si l&apos;emplacement n&apos;est pas sp&#xE9;cifi&#xE9;, les nouveaux plans seront enregistr&#xE9;s dans le m&#xEA;me emplacement que la mise en plan trait&#xE9;e.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	