



	
		<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">D&#xE9;finition des conditions dans le dossier &quot;Et&quot;</h1>
				
				
				<div id="topic_breadcrumb">
					<a href="PrsentationdelutilitaireIntegrat.html">Integration</a> &#x203A;&#x203A; Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursConditions.html">Ajouter une ou plusieurs &quot;Conditions&quot;</a> &#x203A;&#x203A; 
				</div>
				
			</div>
			
			<div id="topic_header_nav">
				
				
				<a href="AjouteruneouplusieursConditions.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				
				
				<a href="AjouteruneouplusieursConditions.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				
				
				<a href="Dfinitionduneconditiondansledoss.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				
			</div>
			
			<div class="clear"></div>
		</div>
	
	
	<div id="topic_content">
		
<p></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7">Pour ajouter une condition il suffit de choisir et de faire glisser, depuis la zone &quot;</span><span class="rvts19">D&#xE9;finition d&apos;une condition</span><span class="rvts7">&quot;, la condition vers le dossier &quot;</span><span class="rvts19">Et</span><span class="rvts7">&quot;.</span></p>
<p class="rvps13"><span class="rvts7">Exemple :</span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement1447.png"></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7">Cr&#xE9;er une condition si la propri&#xE9;t&#xE9; &quot;</span><span class="rvts19">Code_Article</span><span class="rvts7">&quot; existe, alors on ex&#xE9;cutera l&apos;op&#xE9;ration quelque soit la valeur de la propri&#xE9;t&#xE9;.</span></p>
<p class="rvps13"><span class="rvts7">On peut cr&#xE9;er plusieurs conditions en faisant glisser d&apos;autres conditions dans le dossier &quot;</span><span class="rvts19">Et</span><span class="rvts7">&quot;.</span></p>
<p class="rvps13"><span class="rvts7">Exemple :</span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement1446.png"><span class="rvts7"> </span></p>
<p class="rvps13"><span class="rvts7">Apr&#xE8;s avoir cr&#xE9;&#xE9; la premi&#xE8;re condition on rajoute dans le dossier &quot;</span><span class="rvts19">Et</span><span class="rvts7">&quot; la condition &quot;</span><span class="rvts19">Si le nombre de caract&#xE8;res de la propri&#xE9;t&#xE9; Code-Article est &#xE9;gal &#xE0; 4</span><span class="rvts7">&quot;.</span></p>
<p class="rvps13"><span class="rvts7">Si la propri&#xE9;t&#xE9; &quot;</span><span class="rvts19">Code_Article</span><span class="rvts7">&quot; </span><span class="rvts115">ET</span><span class="rvts7"> que sa valeur est &#xE9;gale &#xE0; &quot;</span><span class="rvts19">4</span><span class="rvts7">&quot; caract&#xE8;res alors l&apos;op&#xE9;ration est appliqu&#xE9;e.</span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7">Un clic droit sur une condition permet d&apos;ouvrir un menu afin de :</span></p>
<ul style="text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps13"><span class="rvts7">D&#xE9;velopper toutes les rubriques des conditions.</span></li>
<li class="rvps13"><span class="rvts7">De regrouper toutes les rubriques des conditions.</span></li>
<li class="rvps13"><span class="rvts7">De pouvoir copier (dans un fichier Word ou texte) la totalit&#xE9; des conditions avec leur description. Apr&#xE8;s avoir s&#xE9;lectionn&#xE9; &quot;</span><span class="rvts19">Copier l&apos;ensemble des conditions</span><span class="rvts7">&quot; il faut faire un &quot;Coller&quot; (clic droit ou Ctrl+V) dans le fichier.</span></li>
</ul>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1445.png"><span class="rvts7"> </span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p></p>

	</div>
	
	
		<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017  by Visiativ. All Rights Reserved.
			</div>
		</div>
	
	

	
