

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">D&#xE9;finition d&apos;une condition dans le dossier &quot;Ou&quot;</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursConditions.html">Ajouter une ou plusieurs &quot;Conditions&quot;</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="AjouteruneouplusieursConditions.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Dfinitiondesconditionsdansledoss.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Groupesdeconditionsdansledossier.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Pour ajouter une condition il suffit de choisir et de faire glisser, depuis la zone &quot;</span><span class="rvts18">D&#xE9;finition d&apos;une condition</span><span class="rvts7">&quot;, la condition vers le dossier &quot;</span><span class="rvts18">Ou</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><span class="rvts7">Exemple :</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Condition3.png"></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps2"><span class="rvts7">Cr&#xE9;er une condition si la propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">Contr&#xF4;le</span><span class="rvts7">&quot; existe, alors on ex&#xE9;cutera l&apos;op&#xE9;ration.</span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">On peut cr&#xE9;er plusieurs conditions en faisant glisser d&apos;autres conditions dans le dossier &quot;</span><span class="rvts18">Ou</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><span class="rvts7">Exemple :</span></p>
<p class="rvps2"><img alt="" style="padding : 1px;" src="fr/imgspec/Condition4.png"><span class="rvts7"> </span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Apr&#xE8;s avoir cr&#xE9;&#xE9; la premi&#xE8;re condition on rajoute dans le dossier &quot;</span><span class="rvts18">Ou</span><span class="rvts7">&quot; l&apos;existence de la condition &quot;</span><span class="rvts18">Finition</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><span class="rvts7">Si la propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">Contr&#xF4;le</span><span class="rvts7">&quot; </span><span class="rvts20">OU</span><span class="rvts7"> la propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">Finition</span><span class="rvts7">&quot; existe alors l&apos;op&#xE9;ration est appliqu&#xE9;e.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	