

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">D&#xE9;finition d&apos;une op&#xE9;ration</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursOprations.html">Ajouter une ou plusieurs &quot;Op&#xE9;rations&quot;</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="AjouteruneouplusieursOprations.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="AjouteruneouplusieursOprations.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Dtaildesoprations.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Pour ajouter une op&#xE9;ration il suffit de choisir et de faire glisser, depuis la zone &quot;</span><span class="rvts18">D&#xE9;finition de l&apos;op&#xE9;ration</span><span class="rvts7">&quot;, l&apos;op&#xE9;ration vers le dossier &quot;</span><span class="rvts18">Op&#xE9;rations</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><span class="rvts7">Exemple :</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Operation1.png"></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Si la ou les conditions d&#xE9;finies sont respect&#xE9;es alors les 2 op&#xE9;rations &quot;</span><span class="rvts18">Concat&#xE9;nation</span><span class="rvts7">&quot; et &quot;</span><span class="rvts18">Supprime les tables sur le plan</span><span class="rvts7">&quot; seront r&#xE9;alis&#xE9;es :</span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps3"><span class="rvts7">La propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">Materiau</span><span class="rvts7">&quot; sera cr&#xE9;&#xE9;e en concat&#xE9;nant les valeurs des propri&#xE9;t&#xE9;s &quot;</span><span class="rvts18">Matiere</span><span class="rvts7">&quot; et &quot;</span><span class="rvts18">Traitement</span><span class="rvts7">&quot;.</span></li>
</ul>
<p class="rvps3"><span class="rvts7">Puis :</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Operation2.png"><span class="rvts7"> </span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps3"><span class="rvts7">Si le document parcouru est une mise en plan la seconde op&#xE9;ration supprimera les tables de &quot;</span><span class="rvts18">Nomenclature</span><span class="rvts7">&quot; suivant la quatri&#xE8;me feuille.</span></li>
</ul>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Un clic droit sur une op&#xE9;ration permet d&apos;ouvrir un menu afin de :</span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps3"><span class="rvts7">D&#xE9;velopper toutes les rubriques des op&#xE9;rations.</span></li>
<li class="rvps3"><span class="rvts7">De regrouper toutes les rubriques des op&#xE9;rations.</span></li>
<li class="rvps3"><span class="rvts7">De pouvoir copier (dans un fichier Word ou texte) la totalit&#xE9; des op&#xE9;rations avec leur description. Apr&#xE8;s avoir s&#xE9;lectionn&#xE9; &quot;</span><span class="rvts18">Copier l&apos;ensemble des op&#xE9;rations</span><span class="rvts7">&quot; il faut faire un &quot;Coller&quot; (clic droit ou Ctrl+V) dans le fichier.</span></li>
<li class="rvps3"><span class="rvts7">En cliquant sur &quot;</span><span class="rvts18">Ajouter en fin d&apos;arbre des actions</span><span class="rvts7">&quot; cela placera automatiquement l&apos;op&#xE9;ration &#xE0; la fin de la liste sans passer par un &quot;Glisser/D&#xE9;poser&quot;. C&apos;est pratique lorsque la liste est longue.</span></li>
</ul>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Clic Droit Operations.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	