

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Divise la propri&#xE9;t&#xE9;</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Proprit1.html">Propri&#xE9;t&#xE9;</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Proprit1.html"><img src="fr/imgspec/arrow_up.png" alt="Parent"></a>
				
				<a href="Concatnation.html"><img src="fr/imgspec/arrow_left.png" alt="Previous"></a>
				
				<a href="Effacelesproprietesdeslistesdepi.html"><img src="fr/imgspec/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces, les assemblages ou les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition00.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet de d&#xE9;composer une propri&#xE9;t&#xE9; en plusieurs propri&#xE9;t&#xE9;s. Le caract&#xE8;re s&#xE9;paratif sera indiqu&#xE9; manuellement (caract&#xE8;re quelconque) o&#xF9; &#xE0; l&apos;aide de la liste d&#xE9;roulante.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Caractere_div0.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> :</span></p>
<p class="rvps3"><span class="rvts7">Dans la valeur de la propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">Code</span><span class="rvts7">&quot;, on souhaite la s&#xE9;parer en utilisant le caract&#xE8;re &quot;</span><span class="rvts18">-</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><span class="rvts7">Si la valeur de &quot;</span><span class="rvts18">Code</span><span class="rvts7">&quot; est &#xE9;gale &#xE0; &quot;</span><span class="rvts18">2313-3542-23</span><span class="rvts7">&quot;, 3 propri&#xE9;t&#xE9;s seront cr&#xE9;&#xE9;es :</span></p>
<p class="rvps3"><span class="rvts7">&quot;</span><span class="rvts18">Code01</span><span class="rvts7">&quot; --&gt; </span><span class="rvts18">2313</span></p>
<p class="rvps3"><span class="rvts7">&quot;</span><span class="rvts18">Code02</span><span class="rvts7">&quot; --&gt; </span><span class="rvts18">3542</span></p>
<p class="rvps3"><span class="rvts7">&quot;</span><span class="rvts18">Code03</span><span class="rvts7">&quot; --&gt; </span><span class="rvts18">23</span></p>
<p class="rvps3"><span class="rvts7">Vous pouvez utiliser le caract&#xE8;re &quot;</span><span class="rvts33">&#xB6;&quot; comme caract&#xE8;re de retour &#xE0; la ligne.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	