

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Dupliquer une feuille</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Plan.html">Plan</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Plan.html"><img src="fr/imgspec/arrow_up.png" alt="Parent"></a>
				
				<a href="Crerunemiseenplanpartirdunplane1.html"><img src="fr/imgspec/arrow_left.png" alt="Previous"></a>
				
				<a href="ExporterauformatExcellestablesde.html"><img src="fr/imgspec/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition0000.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet de dupliquer une feuille dans la mise en plan. Cette feuille peut &#xEA;tre plac&#xE9;e avant, apr&#xE8;s la feuille s&#xE9;lectionn&#xE9;e ou bien apr&#xE8;s la derni&#xE8;re feuille pr&#xE9;sente dans la mise en plan.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Duplique la 3i&#xE8;me feuille juste apr&#xE8;s.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img width="535" height="108" alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Oper-plan210.png"><span class="rvts7"> &#xA0; </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	