

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Efface des propri&#xE9;t&#xE9;s sauf celle(s) sp&#xE9;cifi&#xE9;e(s)</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Proprit1.html">Propri&#xE9;t&#xE9;</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Proprit1.html"><img src="fr/imgspec/arrow_up.png" alt="Parent"></a>
				
				<a href="Effacelesproprietesdeslistesdepi.html"><img src="fr/imgspec/arrow_left.png" alt="Previous"></a>
				
				<a href="Effaceuneproprit.html"><img src="fr/imgspec/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces, les assemblages ou les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition00.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet de supprimer, du document parcouru, toutes les propri&#xE9;t&#xE9;s sauf certaines.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Suppression de toutes les propri&#xE9;t&#xE9;s sauf la propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">Traitement</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Propriete0.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7">Vous pouvez utiliser le caract&#xE8;re &quot;</span><span class="rvts18">*</span><span class="rvts7">&quot; plac&#xE9; devant ou derri&#xE8;re une cha&#xEE;ne de caract&#xE8;res sp&#xE9;cifique, afin de tester l&apos;existence de propri&#xE9;t&#xE9;(s) dans le document, comportant la cha&#xEE;ne de caract&#xE8;res.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : </span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Propriete1.png"><span class="rvts7"> </span><span class="rvts18">Pro*</span><span class="rvts7"> suppression de toutes les propri&#xE9;t&#xE9;s sauf celle(s) commen&#xE7;ant par </span><span class="rvts18">Pro</span><span class="rvts7"> dans le document.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Propriete2.png"><span class="rvts7"> </span><span class="rvts18">*000</span><span class="rvts7"> suppression de toutes les propri&#xE9;t&#xE9;s sauf celle(s) se terminant par </span><span class="rvts18">000</span><span class="rvts7"> dans le document.</span></p>
<p class="rvps3"><span class="rvts7">Vous pouvez &#xE9;galement d&#xE9;finir plusieurs propri&#xE9;t&#xE9;s, &#xE0; &#xE9;viter de supprimer, en les s&#xE9;parant par le caract&#xE8;re &quot;</span><span class="rvts18">;</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : </span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Propriete3.png"><span class="rvts7"> suppression de toutes les propri&#xE9;t&#xE9;s sauf </span><span class="rvts18">Code_Article</span><span class="rvts7">, </span><span class="rvts18">Traitement</span><span class="rvts7"> et </span><span class="rvts18">Fournisseur</span><span class="rvts7"> dans le document.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	