

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Emplacement</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="Lesoptions.html">Les options</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Lesoptions.html"><img src="fr/imgspec/arrow_up.png" alt="Parent"></a>
				
				<a href="Gnral.html"><img src="fr/imgspec/arrow_left.png" alt="Previous"></a>
				
				<a href="Rapport.html"><img src="fr/imgspec/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Cet espace est r&#xE9;serv&#xE9; &#xE0; la sp&#xE9;cification des r&#xE9;pertoires de recherches des documents, des r&#xE9;f&#xE9;rences ou des fichiers.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/OptionsGeneral1.png"><span class="rvts7"> &#xA0;</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/OptionsGeneral2.png"><span class="rvts7"> &#xA0;</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps3"><span class="rvts7">Pour s&#xE9;lectionner un r&#xE9;pertoire existant vous pouvez utiliser le bouton </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/SelectValeurProp.png"><span class="rvts7">.</span></li>
<li class="rvps3"><span class="rvts7">Pour ajouter le r&#xE9;pertoire s&#xE9;lectionn&#xE9; il faut appuyer sur </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Icone Ajout Dossier.png"><span class="rvts7">. Le r&#xE9;pertoire s&apos;ajoute &#xE0; la liste.</span></li>
<li class="rvps3"><span class="rvts7">En appuyant sur </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Icone Dossier Dessus.png"><span class="rvts7"> vous r&#xE9;cup&#xE9;rer le dossier du document trait&#xE9;. Cette instruction est mat&#xE9;rialis&#xE9;e par &quot;</span><span class="rvts18">&lt;Document&gt;</span><span class="rvts7">&quot; dans le chemin.</span></li>
<li class="rvps3"><span class="rvts7">En appuyant sur </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Icone Dossier Parent.png"><span class="rvts7"> vous sp&#xE9;cifiez de r&#xE9;cup&#xE9;rer le niveau au-dessus du r&#xE9;pertoire o&#xF9; se trouve le document trait&#xE9;.</span></li>
<li class="rvps3"><span class="rvts7">Si un r&#xE9;pertoire doit &#xEA;tre supprim&#xE9; de la liste il suffit de le s&#xE9;lectionner et d&apos;appuyer sur le bouton </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Icone Supp Dossier.png"><span class="rvts7">.</span></li>
</ul>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/OptionsGeneral3.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7">En cochant cette option vous autorisez la recherche dans tous les sous-dossiers.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Warning.png"><span class="rvts7"> Cette option peut ralentir consid&#xE9;rablement les traitements.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/OptionsGeneral4.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7">Si cette option n&apos;est pas coch&#xE9;e la recherche s&apos;effectuera sur le nom du document uniquement. </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	