

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">En fonction de la table de famille</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursConditions.html">Ajouter une ou plusieurs &quot;Conditions&quot;</a> &#x203A;&#x203A; D&#xE9;tail des conditions &#x203A;&#x203A; <a href="Document1.html">Document</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Document1.html"><img src="fr/imgspec/arrow_up.png" alt="Parent"></a>
				
				<a href="Document1.html"><img src="fr/imgspec/arrow_left.png" alt="Previous"></a>
				
				<a href="Ladatedenregistrementdudocumente.html"><img src="fr/imgspec/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p class="rvps7"><span class="rvts7">Le document test&#xE9; est une pi&#xE8;ce ou un assemblage. &#xA0;</span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition000.png"></p>
<p class="rvps7"><span class="rvts7">Applique l&apos;op&#xE9;ration en fonction de la table de famille.</span></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p class="rvps7"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Document22.png"><span class="rvts7"> </span></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p class="rvps7"><span class="rvts7">Les configurations, pilotant les diff&#xE9;rentes formes ou les diff&#xE9;rents &#xE9;tats des pi&#xE8;ces et des assemblages, peuvent &#xEA;tre g&#xE9;r&#xE9;es par une famille de pi&#xE8;ce. Cette famille de pi&#xE8;ce est g&#xE9;n&#xE9;ralement d&#xE9;finie par une table Excel pouvant &#xEA;tre encapsul&#xE9;e dans le fichier SOLIDWORKS ou bien pouvant pointer sur un fichier externe. La liste d&#xE9;roulante permet donc de traiter le document SOLIDWORKS en fonction de cette table Excel.</span></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	