



	
		<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Ex&#xE9;cute un programme autonome</h1>
				
				
				<div id="topic_breadcrumb">
					<a href="PrsentationdelutilitaireIntegrat.html">Integration</a> &#x203A;&#x203A; Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Document.html">Document</a> &#x203A;&#x203A; 
				</div>
				
			</div>
			
			<div id="topic_header_nav">
				
				
				<a href="Document.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				
				
				<a href="Copiertouteslesoptionsdudocumen3.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				
				
				<a href="Fermertouslesdocuments.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				
			</div>
			
			<div class="clear"></div>
		</div>
	
	
	<div id="topic_content">
		
<p></p>
<p class="rvps13"><span class="rvts6"><br></span></p>
<p class="rvps13"><span class="rvts7">Op&#xE9;ration possible sur les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1902.png"></p>
<p class="rvps13"><span class="rvts7">Cette op&#xE9;ration permet de programmer des op&#xE9;rations sp&#xE9;cifiques dans un ex&#xE9;cutable. La valeur de retour permet de contr&#xF4;ler si l&apos;ex&#xE9;cution est valide, si la valeur de retour est diff&#xE9;rente de la valeur programm&#xE9;e (exemple : 1) alors l&apos;ex&#xE9;cution est consid&#xE9;r&#xE9;e comme &#xE9;chou&#xE9;e.</span></p>
<p class="rvps13"><span class="rvts7">L&apos;emplacement du document est pass&#xE9; en argument.</span></p>
<p class="rvps13"><span class="rvts7">La s&#xE9;lection programme &#xE0; ex&#xE9;cuter se fait en cliquant sur </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1901.png"><span class="rvts7">.</span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1900.png"><span class="rvts7"> &#xA0; &#xA0;</span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts57">Exemple de programme autonome (application console en VB.net)</span><span class="rvts7"> :</span></p>
<p class="rvps2"><span class="rvts125">Lecture des arguments</span></p>
<p class="rvps2"><span class="rvts125">Dim args() As String = Environment.GetCommandLineArgs()</span></p>
<p class="rvps2"><span class="rvts125">Sub Main()</span></p>
<p class="rvps2"><span class="rvts125"> &#xA0; If args.Length &lt; 2 Then End</span></p>
<p class="rvps2"><span class="rvts125">Dim stPath As String = args(1)</span></p>
<p class="rvps2"><span class="rvts125"> &#xA0; Select Case IO.Path.GetExtension(stPath).ToUpper</span></p>
<p class="rvps2"><span class="rvts125"> &#xA0; &#xA0; Case &quot;.SLDPRT&quot;</span></p>
<p class="rvps2"><span class="rvts125"> &#xA0; &#xA0; &#xA0; &#xA0; Environment.Exit(1) &#xA0;&apos; Retour 1 si le chemin indique une pi&#xE8;ce</span></p>
<p class="rvps2"><span class="rvts125"> &#xA0; &#xA0; Case &quot;.SLDASM&quot;</span></p>
<p class="rvps2"><span class="rvts125"> &#xA0; &#xA0; &#xA0; &#xA0; Environment.Exit(2) &#xA0;&apos; Retour 2 si le chemin indique un assemblage</span></p>
<p class="rvps2"><span class="rvts125"> &#xA0; &#xA0; Case &quot;.SLDDRW&quot;</span></p>
<p class="rvps2"><span class="rvts125"> &#xA0; &#xA0; &#xA0; &#xA0; Environment.Exit(3) &#xA0;&apos; Retour 3 si le chemin indique un plan</span></p>
<p class="rvps2"><span class="rvts125"> &#xA0; &#xA0; Case Else</span></p>
<p class="rvps2"><span class="rvts125"> &#xA0; &#xA0; &#xA0; &#xA0; Environment.Exit(0) &#xA0;&apos; Retour 0 si le chemin n&apos;indique pas une pi&#xE8;ce, un assemblage ou un plan</span></p>
<p class="rvps2"><span class="rvts125"> &#xA0; End Select</span></p>
<p class="rvps2"><span class="rvts125">End Sub</span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p></p>

	</div>
	
	
		<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017  by Visiativ. All Rights Reserved.
			</div>
		</div>
	
	

	
