

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Export</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="Lesoptions.html">Les options</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Lesoptions.html"><img src="fr/imgspec/arrow_up.png" alt="Parent"></a>
				
				<a href="Configurations.html"><img src="fr/imgspec/arrow_left.png" alt="Previous"></a>
				
				<a href="Reglesdenommage.html"><img src="fr/imgspec/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps7"><span class="rvts24">Options d&apos;export au format eDrawings:</span></p>
<p class="rvps7"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Export_eDrawings.png"><span class="rvts7"> </span></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p class="rvps7"><span class="rvts24">Sauvegarder toutes les configurations ou feuilles:</span><span class="rvts7"> Permet d&apos;exporter toutes les feuilles ou configurations dans le fichier eDrawings g&#xE9;n&#xE9;r&#xE9;</span></p>
<p class="rvps7"><span class="rvts24">Ne sauvegarder que la configuration ou feuille active:</span><span class="rvts7"> Permet de n&apos;exporter que la feuille active ou configuration active m&#xEA;me si le document est compos&#xE9; de plusieurs feuille ou configuration</span></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p class="rvps7"><span class="rvts24"><br></span></p>
<p class="rvps7"><span class="rvts24">Options d&apos;export des mises en plans &#xE0; feuille multiple:</span></p>
<p class="rvps7"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Feuilles_Mises_En_Plan.png"><span class="rvts7"> </span></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p class="rvps7"><span class="rvts7">Permet de s&#xE9;lectionner quelles feuilles exporter dans le cas de fichier PDF ou DXF par exemple.</span></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p class="rvps7"><span class="rvts7">L&apos;option </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Export_Espace-Papier.png"><span class="rvts7">permet d&apos;exporter la feuille vers l&apos;espace papier (Autocad) dans le cas d&apos;export au format DXF\DWG.</span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	