

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Exporter au format Excel les tables des plans</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Plan.html">Plan</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Plan.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				<a href="Dupliquerunefeuille.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				<a href="Exporterlefichier2.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Condition0000.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration d&apos;exporter, au format Excel, les tables sp&#xE9;cifi&#xE9;es des plans vers un r&#xE9;pertoire sp&#xE9;cifique.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Il possible de choisir le type de table &#xE0; exporter depuis un menu d&#xE9;roulant:</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/TypesDeTable.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Toute les nomenclatures dans le r&#xE9;pertoire &#xA0;&quot;</span><span class="rvts18">D:\Samples\180-Integration\Exports</span><span class="rvts7">&quot; seront export&#xE9;es au format Excel.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="imgspec/Oper-plan12.png"></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	