



	
		<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Exporter le fichier</h1>
				
				
				<div id="topic_breadcrumb">
					<a href="PrsentationdelutilitaireIntegrat.html">Integration</a> &#x203A;&#x203A; Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Plan.html">Plan</a> &#x203A;&#x203A; 
				</div>
				
			</div>
			
			<div id="topic_header_nav">
				
				
				<a href="Plan.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				
				
				<a href="ExporterauformatExcellestablesde.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				
				
				<a href="Insreruntamponimagesurleplan.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				
			</div>
			
			<div class="clear"></div>
		</div>
	
	
	<div id="topic_content">
		
<p></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7">Op&#xE9;ration possible sur les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1803.png"></p>
<p class="rvps13"><span class="rvts7">Cette op&#xE9;ration permet d&apos;exporter tous les fichiers s&#xE9;lectionn&#xE9;s avec un format d&apos;export dans un dossier sp&#xE9;cifique.</span></p>
<p class="rvps13"><span class="rvts7">Le format d&apos;export est choisi parmi la liste d&#xE9;roulante. </span></p>
<p class="rvps13"><span class="rvts7">Elle correspond &#xE0; tous les formats disponibles de la fonction &quot;</span><span class="rvts19">Enregistrer sous</span><span class="rvts7">&quot; de SOLIDWORKS.</span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement1802.png"></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts49">Exemple</span><span class="rvts7"> :</span></p>
<p class="rvps13"><span class="rvts7">Exporter, au format DXF, tous les fichiers s&#xE9;lectionn&#xE9;s.</span></p>
<p class="rvps35"><span class="rvts8">S&#xE9;lection 1&#xA0;:</span><span class="rvts41"> &quot;Sp&#xE9;cifier un dossier ci-dessus pour les fichiers export&#xE9;s&quot;</span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1801.png"><span class="rvts7"> &#xA0;</span></p>
<p class="rvps13"><span class="rvts7">Les exports seront sauvegard&#xE9;s dans le r&#xE9;pertoire &quot;</span><span class="rvts19">D:\Samples\180-Integration\Exports</span><span class="rvts7">&quot;.</span></p>
<p class="rvps35"><span class="rvts8">Dans ce cas on sp&#xE9;cifie un dossier sans tenir compte des options de renommage.</span></p>
<p class="rvps35"><span class="rvts8"><br></span></p>
<p class="rvps35"><span class="rvts8">S&#xE9;lection 2&#xA0;: </span><span class="rvts41">&quot;Utiliser les options du programme &#x2018;Option/R&#xE8;gles de nommage&quot;</span></p>
<p class="rvps35"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1800.png"><span class="rvts19"> &#xA0;</span></p>
<p class="rvps35"><span class="rvts7">Les</span><span class="rvts19"> </span><span class="rvts7">exports seront sauvegard&#xE9;s dans le r&#xE9;pertoire &quot;</span><span class="rvts19">D:\TEMP\DXF</span><span class="rvts7">&quot; sp&#xE9;cifi&#xE9; dans les r&#xE8;gles de nommage.</span></p>
<p class="rvps13"><span class="rvts7">Avec cette solution on ne sp&#xE9;cifie pas de dossier d&apos;export, l&apos;emplacement sera d&#xE9;fini dans les </span><span class="rvts68">options</span><span class="rvts7"> de l&apos;utilitaire (R&#xE8;gles de nommage), ainsi que les r&#xE8;gles de nommage des fichiers.</span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement1799.png"></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1798.png"><span class="rvts7"> Cette op&#xE9;ration peut &#xEA;tre pr&#xE9;c&#xE9;d&#xE9;e par d&apos;autres op&#xE9;rations telles que :</span></p>
<p class="rvps13"><span class="rvts7">- Effectuer un plein zoom</span></p>
<p class="rvps13"><span class="rvts7">- Activer une feuille</span></p>
<p class="rvps13"><span class="rvts7">- ...</span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p></p>

	</div>
	
	
		<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017  by Visiativ. All Rights Reserved.
			</div>
		</div>
	
	

	
