

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Fermer tous les documents</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Document.html">Document</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Document.html"><img src="fr/imgspec/arrow_up.png" alt="Parent"></a>
				
				<a href="Excuteunprogrammeautonome.html"><img src="fr/imgspec/arrow_left.png" alt="Previous"></a>
				
				<a href="Gestiondelaperspective.html"><img src="fr/imgspec/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces ou les assemblages. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition00.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet de fermer tous les documents ouverts dans SOLIDWORKS. Cela permet de lib&#xE9;rer de la m&#xE9;moire pour un grand traitement.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	