



	
		<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Fixer / Lib&#xE9;rer</h1>
				
				
				<div id="topic_breadcrumb">
					<a href="PrsentationdelutilitaireIntegrat.html">Integration</a> &#x203A;&#x203A; Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Assemblage.html">Assemblage</a> &#x203A;&#x203A; 
				</div>
				
			</div>
			
			<div id="topic_header_nav">
				
				
				<a href="Assemblage.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				
				
				<a href="Exporterlefichier1.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				
				
				<a href="Remplaceruncomposant.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				
			</div>
			
			<div class="clear"></div>
		</div>
	
	
	<div id="topic_content">
		
<p></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7">Op&#xE9;ration possible sur les assemblages. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1742.png"></p>
<p class="rvps13"><span class="rvts7">Cette op&#xE9;ration permet, dans un assemblage, de modifier l&apos;&#xE9;tat d&apos;un composant &quot;</span><span class="rvts19">Fixe</span><span class="rvts7">&quot; vers un &#xE9;tat &quot;</span><span class="rvts19">Libre</span><span class="rvts7">&quot; et vice versa.</span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts49">Exemple</span><span class="rvts7"> :</span></p>
<p class="rvps13"><span class="rvts8">L&apos;op&#xE9;ration, ici, passera l&apos;&#xE9;tat de tous les composants de &quot;</span><span class="rvts41">Lib&#xE9;rer</span><span class="rvts8">&quot; &#xE0; &quot;</span><span class="rvts41">Fixer</span><span class="rvts8">&quot;.</span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement1741.png"></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps35"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1740.png"><span class="rvts7"> &#xA0; Ici les composants &quot;</span><span class="rvts19">180-Cadran</span><span class="rvts7">&quot; et &quot;</span><span class="rvts19">180-Cube</span><span class="rvts7">&quot; ne sont pas totalement contraints, leur &#xE9;tat passera donc &#xE0; &quot;</span><span class="rvts19">Fixe</span><span class="rvts7">&quot; (f).</span></p>
<p class="rvps35"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1739.png"><span class="rvts7"> Seuls les composants de premier niveau seront trait&#xE9;s. L&apos;op&#xE9;ration &quot;</span><span class="rvts19">Fixe</span><span class="rvts7">&quot; uniquement les composants sous-contraints.</span></p>
<p class="rvps35"><span class="rvts7"><br></span></p>
<p class="rvps35"><span class="rvts7"><br></span></p>
<p></p>

	</div>
	
	
		<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017  by Visiativ. All Rights Reserved.
			</div>
		</div>
	
	

	
