



	
		<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Gestion du projet</h1>
				
				
				<div id="topic_breadcrumb">
					<a href="PrsentationdelutilitaireIntegrat.html">Integration</a> &#x203A;&#x203A; Utilisation de &quot;Integration&quot; &#x203A;&#x203A; 
				</div>
				
			</div>
			
			<div id="topic_header_nav">
				
				
				<a href="UtilisationdeIntegration.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				
				
				<a href="UtilisationdeIntegration.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				
				
				<a href="Creruneaction.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				
			</div>
			
			<div class="clear"></div>
		</div>
	
	
	<div id="topic_content">
		
<p></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7">Le but va consister &#xE0; cr&#xE9;er une </span><span class="rvts68">liste de crit&#xE8;res de modification</span><span class="rvts7"> dites &quot;</span><span class="rvts68">Actions</span><span class="rvts7">&quot; regroupant des &quot;</span><span class="rvts68">Conditions</span><span class="rvts7">&quot; et des &quot;</span><span class="rvts68">Op&#xE9;rations</span><span class="rvts7">&quot; &#xE0; effectuer sur les fichiers s&#xE9;lectionn&#xE9;s. Ces conditions et ces op&#xE9;rations ont un </span><span class="rvts68">ic&#xF4;ne</span><span class="rvts7"> diff&#xE9;rent suivant s&apos;il s&apos;agit d&apos;une nouveaut&#xE9;s et si l&apos;ouverture du document dans SOLIDWORKS est ou non n&#xE9;cessaire.</span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p></p>

	</div>
	
	
		<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017  by Visiativ. All Rights Reserved.
			</div>
		</div>
	
	

	
