

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">G&#xE9;n&#xE9;ralit&#xE9;s des utilitaires</h1>
				
				<div id="topic_breadcrumb">
					<a href="Introduction1.html">Introduction</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Introduction1.html"><img src="fr/imgspec/arrow_up.png" alt="Parent"></a>
				
				<a href="Accslaide.html"><img src="fr/imgspec/arrow_left.png" alt="Previous"></a>
				
				<a href="Mentionslgales.html"><img src="fr/imgspec/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps66"><span class="rvts25"><br></span></p>
<p class="rvps66"><img width="719" height="47" alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement170.png"></p>
<p class="rvps66"><span class="rvts25"><br></span></p>
<p class="rvps66"><span class="rvts25">Tous les utilitaires de la barre d&apos;outils </span><span class="rvts31">myCADtools</span><span class="rvts25"> pr&#xE9;sentent un bandeau identique comportant certaines informations.</span></p>
<p class="rvps66"><span class="rvts25"><br></span></p>
<p class="rvps66"><span class="rvts25">Dans la partie gauche du bandeau nous retrouvons le nom de l&apos;utilitaire suivi par le num&#xE9;ro de la version install&#xE9;e (exemple v</span><span class="rvts89">2013</span><span class="rvts25">.</span><span class="rvts90">11</span><span class="rvts25">.</span><span class="rvts91">12</span><span class="rvts25">)&#xA0;:</span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps68"><span class="rvts92">2013</span><span class="rvts93">&#x2192;</span><span class="rvts94"> </span><span class="rvts95">Version de myCADtools</span><span class="rvts96"> </span></li>
<li style="margin-left: 0px" class="rvps68"><span class="rvts96">11</span><span class="rvts93">&#x2192;</span><span class="rvts95"> Ann&#xE9;e du setup</span></li>
<li style="margin-left: 0px" class="rvps68"><span class="rvts97">12</span><span class="rvts93">&#x2192;</span><span class="rvts95"> Mois du setup</span></li>
</ul>
<p class="rvps66"><span class="rvts25"><br></span></p>
<p class="rvps66"><span class="rvts25">Dans la partie droite nous avons acc&#xE8;s &#xE0; une barre d&apos;ic&#xF4;nes.</span></p>
<p class="rvps66"><span class="rvts25"><br></span></p>
<div class="rvps69"><table border="0" cellpadding="4" cellspacing="0" style="border-width: 0px; border-spacing: 0px;">
<tr valign="top">
<td width="59" valign="middle" style="padding: 0px 7px;"><p class="rvps66"><img width="55" height="50" alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement169.png"></p>
</td>
<td width="620" valign="middle" style="padding: 0px 7px;"><p class="rvps66"><span class="rvts25">Possibilit&#xE9; de &quot;punaiser&quot; la fen&#xEA;tre de l&apos;utilitaire afin qu&apos;elle ne soit pas minimis&#xE9;e par Windows.</span></p>
</td>
</tr>
</table>
</div>
<p class="rvps66"><span class="rvts25"><br></span></p>
<div class="rvps69"><table border="0" cellpadding="4" cellspacing="0" style="border-width: 0px; border-spacing: 0px;">
<tr valign="top">
<td width="59" valign="middle" style="padding: 0px 7px;"><p class="rvps66"><img width="54" height="51" alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement168.png"></p>
</td>
<td width="620" valign="middle" style="padding: 0px 7px;"><p class="rvps66"><span class="rvts25">Cet ic&#xF4;ne vous donne acc&#xE8;s directement au cours afin de visualiser les vid&#xE9;os de formation de l&apos;utilitaire</span></p>
</td>
</tr>
</table>
</div>
<p class="rvps66"><span class="rvts25"> </span></p>
<div class="rvps69"><table border="0" cellpadding="4" cellspacing="0" style="border-width: 0px; border-spacing: 0px;">
<tr valign="top">
<td width="59" valign="middle" style="padding: 0px 7px;"><p class="rvps66"><img width="54" height="50" alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement167.png"></p>
</td>
<td width="620" valign="middle" style="padding: 0px 7px;"><p class="rvps66"><span class="rvts25">Cet ic&#xF4;ne vous donne acc&#xE8;s directement au site </span><a class="rvts98" href="http://www.axemble.com/">Visiativ</a></p>
</td>
</tr>
</table>
</div>
<p class="rvps66"><span class="rvts25"><br></span></p>
<div class="rvps69"><table border="0" cellpadding="4" cellspacing="0" style="border-width: 0px; border-spacing: 0px;">
<tr valign="top">
<td width="59" valign="middle" style="padding: 0px 7px;"><p class="rvps66"><img width="54" height="50" alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement166.png"></p>
</td>
<td width="620" valign="middle" style="padding: 0px 7px;"><p class="rvps66"><span class="rvts25">Cet ic&#xF4;ne vous donne acc&#xE8;s directement au site </span><a name="_GoBack"></a>
<span class="rvts31">myCADservices</span></p>
</td>
</tr>
</table>
</div>
<p class="rvps66"><span class="rvts25"> </span></p>
<div class="rvps69"><table border="0" cellpadding="4" cellspacing="0" style="border-width: 0px; border-spacing: 0px;">
<tr valign="top">
<td width="59" valign="middle" style="padding: 0px 7px;"><p class="rvps66"><img width="54" height="50" alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement165.png"></p>
</td>
<td width="620" valign="middle" style="padding: 0px 7px;"><p class="rvps66"><span class="rvts25">En cliquant sur cet ic&#xF4;ne vous acc&#xE9;dez aux informations li&#xE9;es &#xE0; l&apos;utilitaire mais &#xE9;galement &#xE0; l&apos;installation de l&apos;ensemble des utilitaires du setup </span><span class="rvts31">myCADtools</span><span class="rvts25">.</span></p>
</td>
</tr>
</table>
</div>
<p class="rvps66"><span class="rvts31"><br></span></p>
<p class="rvps66"><span class="rvts25"> &#xA0; &#xA0;</span><img width="469" height="426" alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement164.png"></p>
<p class="rvps66"><span class="rvts25"><br></span></p>
<p class="rvps66"><span class="rvts25">Voici les informations disponibles dans cette fen&#xEA;tre :</span></p>
<p class="rvps66"><span class="rvts25"><br></span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps71"><span class="rvts25">Un rappel de la version de l&apos;utilitaire mais &#xE9;galement la version du setup d&apos;installation de la barre d&apos;outils </span><span class="rvts31">myCADtools</span><span class="rvts25">.</span></li>
</ul>
<p class="rvps66"><span class="rvts25"><br></span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps71"><span class="rvts25">Un rappel du code d&apos;immatriculation ainsi que le num&#xE9;ro de licence </span><span class="rvts31">SolidWorks</span><span class="rvts25"> &#xE0; laquelle est rattach&#xE9; ce code.</span></li>
</ul>
<p class="rvps66"><span class="rvts25"><br></span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps71"><span class="rvts25">La date limite d&apos;utilisation de l&apos;utilitaire par exemple dans le cas d&apos;une demande de pr&#xEA;t.</span></li>
</ul>
<p class="rvps66"><span class="rvts25"><br></span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps71"><span class="rvts25">Le nom des utilitaires install&#xE9;s ainsi que, pour chacun d&apos;entre eux, le nombre d&apos;utilisations. Cette information peut &#xEA;tre une bonne indication afin de conna&#xEE;tre quels sont les utilitaires les plus souvent utilis&#xE9;s.</span></li>
</ul>
<p class="rvps66"><span class="rvts25"><br></span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps71"><span class="rvts25">Une possibilit&#xE9; de remonter des demandes d&apos;am&#xE9;lioration via votre messagerie. Un message est alors directement envoy&#xE9; &#xE0; notre service R&amp;D. Vous n&#x2019;avez plus que le contenu du message &#xE0; r&#xE9;diger.</span></li>
</ul>
<p class="rvps66"><span class="rvts25"><br></span></p>
<p class="rvps72"><span class="rvts99">Information pour l&#x2019;exploitation des donn&#xE9;es d&#x2019;un coffre-fort ePDM avec certains outils myCADtools.</span></p>
<p class="rvps72"><span class="rvts25">Les utilitaires de la suite myCADtools ne sont pas d&#xE9;velopp&#xE9;s pour &#xEA;tre utilis&#xE9;s dans un environnement PDM. Pour b&#xE9;n&#xE9;ficier de cette fonctionnalit&#xE9;, il faut imp&#xE9;rativement avoir&#xA0;:</span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: inside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps73"><span class="rvts25">Install&#xE9; SolidWorks Enterprise PDM </span></li>
</ul>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: inside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps73"><span class="rvts25">Install&#xE9; la suite d&#x2019;outils myPDMtools </span></li>
</ul>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: inside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps73"><span class="rvts25">Une licence d&#x2019;immatriculation myPDMtools </span></li>
</ul>
<p class="rvps72"><span class="rvts25">Si vous n&#x2019;&#xEA;tes pas dans cette situation, un message appara&#xEE;tra lors de l&#x2019;utilisation de certains utilitaires de myCADtools&#xA0;:</span></p>
<p class="rvps72"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement163.png"></p>
<p class="rvps72"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	