

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">G&#xE9;n&#xE9;ral</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="Lesoptions.html">Les options</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Lesoptions.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				<a href="Lesoptions.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				<a href="Emplacement.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/OptionsGeneral5.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/OptionsGeneral51.png"><span class="rvts7"> </span></li>
</ul>
<p class="rvps3"><span class="rvts7">Le fait de cocher cette option permet de reprendre le dernier </span><a class="rvts17" href="Listedescritresdemodification.html">projet</a><span class="rvts7"> &#xA0;&quot;</span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Save as.png"><span class="rvts7">&quot;(ou liste de conditions et d&apos;op&#xE9;rations) &#xE0; l&apos;ouverture de l&apos;utilitaire &quot;Integration&quot;.</span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/OptionsGeneral52.png"><span class="rvts7"> </span></li>
</ul>
<p class="rvps3"><span class="rvts7">On sp&#xE9;cifie ici le r&#xE9;pertoire dans lequel seront enregistr&#xE9;s, par d&#xE9;faut, les </span><a class="rvts17" href="Listedescritresdemodification.html">projets</a><span class="rvts48"> </span><span class="rvts49">&quot;</span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Save as.png"><span class="rvts49">&quot;</span><span class="rvts7">. Le choix du r&#xE9;pertoire se fait en cliquant sur </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SelectValeurProp.png"><span class="rvts7">.</span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/OptionsGeneral53.png"><span class="rvts7"> </span></li>
</ul>
<p class="rvps3"><span class="rvts7">Lorsqu&apos;un </span><a class="rvts17" href="Listedescritresdemodification.html">projet</a><span class="rvts7"> est ouvert avec </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/New.png"><span class="rvts7"> il sera ajout&#xE9; &#xE0; la liste des crit&#xE8;res de modification d&#xE9;j&#xE0; pr&#xE9;sente.</span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/OptionsGeneral54.png"><span class="rvts7"> </span></li>
</ul>
<p class="rvps3"><span class="rvts7">Lorsqu&#x2019;un traitement (projet) est lanc&#xE9; vous pouvez forcer la fermeture de tous les fichiers SOLIDWORKS d&#xE9;j&#xE0; ouverts. Si en plus la case &quot;</span><span class="rvts18">Red&#xE9;marrer SOLIDWORKS</span><span class="rvts7">&quot; est coch&#xE9;e vous pouvez forcer la fermeture de SOLIDWORKS tous les &quot;</span><span class="rvts18">N</span><span class="rvts7">&quot; documents. Effectivement pour le traitement d&apos;un grand nombre de fichiers cela permet de r&#xE9;initialiser tous les param&#xE8;tres SOLIDWORKS.</span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/OptionsGeneral55.png"><span class="rvts7"> </span></li>
</ul>
<p class="rvps3"><span class="rvts7">Le fait de cocher cette option permet, &#xE0; chaque fermeture du document, de lib&#xE9;rer le processus SOLIDWORKS de la m&#xE9;moire. Indispensable pour le traitement d&apos;un grand nombre de fichiers de taille importante.</span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/OptionsGeneral56.png"><span class="rvts7"> </span></li>
</ul>
<p class="rvps3"><span class="rvts7">La s&#xE9;lection du type de d&#xE9;finition des couleurs impactera le choix fait dans </span><a class="rvts17" href="Lacouleurdelapiceest.html">condition couleur pi&#xE8;ce</a><span class="rvts7"> ou </span><a class="rvts17" href="Changerlacouleur.html">op&#xE9;ration changer couleur pi&#xE8;ce</a><span class="rvts7">.</span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/OptionsGeneral57.png"><span class="rvts7"> </span></li>
</ul>
<p class="rvps3"><span class="rvts7">Le fait de cocher cette option permet de r&#xE9;cup&#xE9;rer, pour une propri&#xE9;t&#xE9;, soit le contenu &quot;</span><span class="rvts18">Valeurs &#xE9;valu&#xE9;e</span><span class="rvts7">&quot; (ici Acier Alli&#xE9;) soit la &quot;</span><span class="rvts18">Valeur / Expression de texte</span><span class="rvts7">&quot; (ici &quot;SW-Material@Pi&#xE8;ce1.SLDPRT&quot;).</span></p>
<p class="rvps3"><span class="rvts7">Cette option est coch&#xE9;e par d&#xE9;faut.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="imgspec/OptionsGeneral57-1.png"></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/OptionsGeneral58.png"><span class="rvts7"> </span></li>
</ul>
<p class="rvps3"><span class="rvts7">Le fait de cocher cette option ajoute syst&#xE9;matiquement une propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">SaveByIntegration</span><span class="rvts7">&quot; sur tous les documents trait&#xE9;s.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	