

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Groupes de conditions dans le dossier &quot;Ou&quot;</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursConditions.html">Ajouter une ou plusieurs &quot;Conditions&quot;</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="AjouteruneouplusieursConditions.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Dfinitionduneconditiondansledoss.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Dtaildesconditions.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">On peut imbriquer les conditions dans le dossiers &quot;</span><span class="rvts18">Ou</span><span class="rvts7">&quot; afin de r&#xE9;aliser des groupes de conditions. En effet les conditions d&#xE9;pos&#xE9;es sur une condition d&#xE9;j&#xE0; pr&#xE9;sente dans le dossier &quot;</span><span class="rvts18">Ou</span><span class="rvts7">&quot; sera consid&#xE9;r&#xE9;e comme une condition &quot;</span><span class="rvts18">Et</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><span class="rvts7">Exemples :</span></p>
<p class="rvps3"><img width="42" height="42" alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Rond rouge1.png"></p>
<p class="rvps3"><span class="rvts7">- &quot;Si une propri&#xE9;t&#xE9; existe&quot; : &quot;</span><span class="rvts18">Code_Article</span><span class="rvts7">&quot; (faire glisser cette condition dans le dossier &quot;</span><span class="rvts18">Ou</span><span class="rvts7">&quot;).</span></p>
<p class="rvps3"><span class="rvts7">- &quot;Si le nombre de caract&#xE8;res de la valeur&quot; est &#xE9;gal &#xE0; &quot;</span><span class="rvts18">4</span><span class="rvts7">&quot; (Faire glisser cette condition dans le dossier &quot;</span><span class="rvts18">Ou</span><span class="rvts7">&quot; </span><span class="rvts22">sur</span><span class="rvts7"> la premi&#xE8;re condition).</span></p>
<p class="rvps3"><img width="42" height="42" alt="" style="padding : 1px;" src="fr/imgspec/Rond rouge2.png"></p>
<p class="rvps3"><span class="rvts7">- &quot;Si une propri&#xE9;t&#xE9; existe&quot; : &quot;</span><span class="rvts18">Finition</span><span class="rvts7">&quot; (faire glisser cette condition dans le dossier &quot;</span><span class="rvts18">Ou</span><span class="rvts7">&quot;).</span></p>
<p class="rvps3"><span class="rvts7">- &quot;Si le nombre de caract&#xE8;res de la valeur&quot; est &#xE9;gal &#xE0; &quot;</span><span class="rvts18">3</span><span class="rvts7">&quot; (Faire glisser cette condition dans le dossier &quot;</span><span class="rvts18">Ou</span><span class="rvts7">&quot; </span><span class="rvts22">sur</span><span class="rvts7"> la deuxi&#xE8;me condition).</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Ce qui donne :</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Group ou 0.png"></p>
<p class="rvps3"><span class="rvts7">Si la propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">Code_Article</span><span class="rvts7">&quot; existe </span><span class="rvts21">et</span><span class="rvts7"> que sa valeur est &#xE9;gale &#xE0; </span><span class="rvts18">4</span><span class="rvts7"> caract&#xE8;res.</span><img width="42" height="42" alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Rond rouge1.png"></p>
<p class="rvps3"><span class="rvts21">Ou</span></p>
<p class="rvps3"><span class="rvts7">Si la propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">Finition</span><span class="rvts7">&quot; existe </span><span class="rvts21">et</span><span class="rvts7"> que sa valeur est &#xE9;gale &#xE0; </span><span class="rvts18">3</span><span class="rvts7"> caract&#xE8;res.</span><img width="42" height="42" alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Rond rouge2.png"></p>
<p class="rvps3"><span class="rvts7">Alors l&apos;op&#xE9;ration sera appliqu&#xE9;e.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	