

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Ic&#xF4;nes dans les conditions et op&#xE9;rations</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="Gestionduprojet.html">Gestion du projet</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Gestionduprojet.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				<a href="Menuscontextuelsdelarbreduprojet.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				<a href="AjouteruneouplusieursConditions.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Pour certaines conditions/op&#xE9;rations la pastille est de couleur grise, cela signifie que cette condition ne n&#xE9;cessite pas l&apos;ouverture de SOLIDWORKS. C&apos;est &#xE0; dire que si l&apos;on cr&#xE9;e des actions qui ne comportent que des conditions et des op&#xE9;rations ayant la pastille grise, l&apos;outil &quot;Integration&quot; ne chargera pas les documents dans SOLIDWORKS et le traitement, dans ce cas, sera tr&#xE8;s rapide.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"> </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Oper-plan0.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps2"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Rond3.png"><span class="rvts6"> </span><span class="rvts7">Ne n&#xE9;cessite pas l&apos;ouverture du document dans SOLIDWORKS</span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps2"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Rond4.png"><span class="rvts7"> Ne n&#xE9;cessite pas l&apos;ouverture du document dans SOLIDWORKS (</span><span class="rvts19">Nouveaut&#xE9;</span><span class="rvts7">)</span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps2"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Rond2.png"><span class="rvts6"> </span><span class="rvts7">N&#xE9;cessite l&apos;ouverture du document dans SOLIDWORKS</span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps2"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Rond1.png"><span class="rvts7"> N&#xE9;cessite l&apos;ouverture du document dans SOLIDWORKS (</span><span class="rvts19">Nouveaut&#xE9;</span><span class="rvts7">)</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	