

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Incr&#xE9;mente une valeur de propri&#xE9;t&#xE9;</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Proprit1.html">Propri&#xE9;t&#xE9;</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Proprit1.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				<a href="Effaceuneproprit.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				<a href="Incrementeunevaleurdeproprieteav.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces, les assemblages ou les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Condition00.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet d&apos;incr&#xE9;menter la valeur d&apos;une propri&#xE9;t&#xE9;. La liste d&apos;incr&#xE9;ment peut &#xEA;tre saisie manuellement en utilisant le s&#xE9;parateur &quot;</span><span class="rvts18">.</span><span class="rvts7">&quot; (ex: 10.20.30.40.50) ou bien la s&#xE9;lectionner parmi la liste d&#xE9;roulante que vous pouvez &#xE9;galement compl&#xE9;ter.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="imgspec/Liste_Increment0.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> :</span></p>
<p class="rvps3"><span class="rvts7">Si la propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">NbrPlaque</span><span class="rvts7">&quot; est &#xE9;gale &#xE0; </span><span class="rvts18">4</span><span class="rvts7"> sa valeur deviendra </span><span class="rvts18">5</span><span class="rvts7">.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="imgspec/Oper-Propriete18.png"></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	