

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Incr&#xE9;mente une valeur de propri&#xE9;t&#xE9; avec les compteurs SmartCounter</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Proprit1.html">Propri&#xE9;t&#xE9;</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Proprit1.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Incrmenteunevaleurdeproprit.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Modifieunchampdansunevaleurdepro.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces, les assemblages ou les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition00.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet d&apos;incr&#xE9;menter la valeur d&apos;une propri&#xE9;t&#xE9; en utilisant des compteurs.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> :</span></p>
<p class="rvps3"><span class="rvts7">La propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">Compteur</span><span class="rvts7">&quot; suivra l&apos;incr&#xE9;ment d&#xE9;clar&#xE9; dans le compteur &quot;</span><span class="rvts18">Incrementing0</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/SmartCounter.png"></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Le bouton </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Parametrage_SmartCounter.png"><span class="rvts7"> permet de param&#xE9;trer les compteurs.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Voir le param&#xE9;trage des compteurs dans le paragraphe &quot;</span><span class="rvts34">SmartCounter</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	