

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Ins&#xE9;rer une nomenclature dans une feuille d&apos;une mise en plan</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Plan.html">Plan</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Plan.html"><img src="fr/imgspec/arrow_up.png" alt="Parent"></a>
				
				<a href="Insrerunetabledervisiondanslesfe.html"><img src="fr/imgspec/arrow_left.png" alt="Previous"></a>
				
				<a href="Modifierletextedunenote.html"><img src="fr/imgspec/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition0000.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration ins&#xE8;re une nomenclature dans une feuille N pr&#xE9;sente dans la mise en plan.</span></p>
<p class="rvps3"><span class="rvts7">La premi&#xE8;re vue du plan est utilis&#xE9;e pour g&#xE9;n&#xE9;rer la table. Il est n&#xE9;cessaire de v&#xE9;rifier les param&#xE8;tres de positionnement de la table dans les </span><a class="rvts17" href="Table.html">options</a><span class="rvts7"> de l&apos;utilitaire.</span></p>
<p class="rvps3"><span class="rvts7">Le num&#xE9;ro de la feuille est &#xE0; choisir parmi une liste. Ce num&#xE9;ro doit &#xEA;tre num&#xE9;rique. Il peut &#xEA;tre saisi au clavier ou &#xE0; l&apos;aide de la liste d&#xE9;roulante :</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Propriete9-1.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : La nomenclature des pi&#xE8;ces de l&apos;assemblage r&#xE9;f&#xE9;renc&#xE9; dans la mise en plan sera g&#xE9;n&#xE9;r&#xE9;e dans la feuille &quot;</span><span class="rvts18">4</span><span class="rvts7">&quot; .</span></p>
<p class="rvps3"><span class="rvts7">Le r&#xE9;pertoire peut &#xEA;tre s&#xE9;lectionn&#xE9; en cliquant sur </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/SelectValeurProp.png"><span class="rvts7">.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Oper-plan3.png"></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	