

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Ins&#xE9;rer une table de r&#xE9;vision dans les feuilles d&apos;une mise en plan</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Plan.html">Plan</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Plan.html"><img src="fr/imgspec/arrow_up.png" alt="Parent"></a>
				
				<a href="Insreruntamponimagesurleplan.html"><img src="fr/imgspec/arrow_left.png" alt="Previous"></a>
				
				<a href="Insrerunenomenclaturedansunefeui.html"><img src="fr/imgspec/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition0000.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration ins&#xE8;re une table de r&#xE9;vision dans une ou plusieurs feuilles pr&#xE9;sentes dans la mise en plan.</span></p>
<p class="rvps3"><span class="rvts7">Le num&#xE9;ro de la feuille est &#xE0; choisir parmi une liste. Ce num&#xE9;ro doit &#xEA;tre num&#xE9;rique. Il peut &#xEA;tre saisi au clavier ou &#xE0; l&apos;aide de la liste d&#xE9;roulante :</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Choix_Nombres2.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Une table de r&#xE9;vision sera ins&#xE9;r&#xE9;e sur la feuille &quot;</span><span class="rvts18">5</span><span class="rvts7">&quot; de toutes les mises en plan s&#xE9;lectionn&#xE9;es.</span></p>
<p class="rvps3"><span class="rvts7">Le mod&#xE8;le de table de r&#xE9;vision peut &#xEA;tre s&#xE9;lectionn&#xE9; en cliquant sur </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/SelectValeurProp.png"><span class="rvts7">.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Oper-plan4.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Au-lieu de sp&#xE9;cifier une feuille, vous pouvez utiliser le caract&#xE8;re &quot;</span><span class="rvts18">*</span><span class="rvts7">&quot; afin d&apos;ins&#xE9;rer une table de r&#xE9;vision sur toutes les feuilles.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Oper-plan41.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Si vous souhaitez ins&#xE9;rer une table de r&#xE9;vision sur plusieurs feuilles, utilisez le caract&#xE8;re &quot;</span><span class="rvts18">;</span><span class="rvts7">&quot; comme s&#xE9;parateur.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Oper-plan42.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	