



	
		<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Ins&#xE9;rer un tampon (image) sur le plan</h1>
				
				
				<div id="topic_breadcrumb">
					<a href="PrsentationdelutilitaireIntegrat.html">Integration</a> &#x203A;&#x203A; Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Plan.html">Plan</a> &#x203A;&#x203A; 
				</div>
				
			</div>
			
			<div id="topic_header_nav">
				
				
				<a href="Plan.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				
				
				<a href="Exporterlefichier2.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				
				
				<a href="Insrerunetabledervisiondanslesfe.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				
			</div>
			
			<div class="clear"></div>
		</div>
	
	
	<div id="topic_content">
		
<p></p>
<p class="rvps13"><span class="rvts6"><br></span></p>
<p class="rvps13"><span class="rvts7">Op&#xE9;ration possible sur les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1808.png"></p>
<p class="rvps13"><span class="rvts7">Cette op&#xE9;ration ins&#xE8;re une image sur une ou plusieurs feuilles sp&#xE9;cifi&#xE9;es. On peut s&#xE9;lectionner l&apos;image &#xE0; ins&#xE9;rer en cliquant sur </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1807.png"><span class="rvts7"> (le format bitmap de l&apos;image doit &#xEA;tre compatible SOLIDWORKS).</span></p>
<p class="rvps13"><span class="rvts7">Le num&#xE9;ro de la feuille est &#xE0; choisir parmi une liste. Ce num&#xE9;ro doit &#xEA;tre num&#xE9;rique. Il peut &#xEA;tre saisi au clavier ou &#xE0; l&apos;aide de la liste d&#xE9;roulante : </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1806.png"><span class="rvts7"> </span></p>
<p class="rvps13"><span class="rvts7">Au-lieu de sp&#xE9;cifier une feuille, vous pouvez utiliser le caract&#xE8;re &quot;</span><span class="rvts19">*</span><span class="rvts7">&quot; afin d&apos;ins&#xE9;rer l&apos;image toutes les feuilles de la mises en plan trait&#xE9;e.</span></p>
<p class="rvps13"><span class="rvts7">Si vous souhaitez ins&#xE9;rer l&apos;image sur plusieurs feuilles, utilisez le caract&#xE8;re &quot;</span><span class="rvts19">;</span><span class="rvts7">&quot; comme s&#xE9;parateur.</span></p>
<p class="rvps13"><span class="rvts7">Il faut ensuite sp&#xE9;cifier le placement et la taille de cette image sur la ou les feuilles.</span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts49">Exemple</span><span class="rvts7"> : Ins&#xE8;re, sur la feuille &quot;</span><span class="rvts19">3</span><span class="rvts7">&quot;, l&apos;image &quot;</span><span class="rvts19">Approuv&#xE9;.png</span><span class="rvts7">&quot;. Ce tampon sera positionn&#xE9; &#xE0; x=110, y=100 avec une taille de 50 en largeur et de 30 en hauteur. </span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1805.png"><span class="rvts7"> &#xA0; &#xA0; &#xA0;</span></p>
<p class="rvps13"><span class="rvts7">R&#xE9;sultat :</span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement1804.png"></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p></p>

	</div>
	
	
		<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017  by Visiativ. All Rights Reserved.
			</div>
		</div>
	
	

	
