

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">La couleur de la pi&#xE8;ce est ...</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursConditions.html">Ajouter une ou plusieurs &quot;Conditions&quot;</a> &#x203A;&#x203A; D&#xE9;tail des conditions &#x203A;&#x203A; <a href="Pice1.html">Pi&#xE8;ce</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Pice1.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Silabarredeblocageestpresentepar.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Lapicecontientuneesquissesouscon.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Le document test&#xE9; est une pi&#xE8;ce. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition00000.png"></p>
<p class="rvps3"><span class="rvts7">Applique l&apos;op&#xE9;ration en fonction de la couleur de la la pi&#xE8;ce.</span></p>
<p class="rvps3"><span class="rvts7">La valeur peut &#xEA;tre &quot;</span><span class="rvts18">&#xC9;gale &#xE0;</span><span class="rvts7">&quot; ou &quot;</span><span class="rvts18">Diff&#xE9;rente de</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><span class="rvts7">La couleur est &#xE0; choisir parmi le menu des couleurs en cliquant sur </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/SelectValeurProp.png"><span class="rvts7">. En fonction du param&#xE8;tre coch&#xE9; dans l&apos;onglet </span><a class="rvts17" href="Emplacement.html">options</a><span class="rvts7"> de l&apos;utilitaire on pointera sur les </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/CouleursStd1.png"><span class="rvts7"> ou </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/CouleursRal1.png"><span class="rvts7">.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/SelectCouleurs.png"></p>
<p class="rvps3"><span class="rvts7">La valeur peut &#xE9;galement &#xEA;tre saisie manuellement. C&apos;est un m&#xE9;lange de 3 nombres (chacun des nombres allant de 0 &#xE0; 255) correspondant aux 3 couleurs Rouge-Vert-Bleu (RVB) , exemple pour un magenta la valeur sera &quot;</span><span class="rvts18">213,43,183</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Si la couleur du document est &quot;</span><span class="rvts18">Rouge</span><span class="rvts7">&quot; (255.0.0), alors l&apos;op&#xE9;ration est appliqu&#xE9;e. On peut &#xE9;ventuellement appliquer le mat&#xE9;riau sur une configuration nomm&#xE9;e.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Document19-0.png"></p>
<p class="rvps3"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	