

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">La date d&apos;enregistrement du document est &#xE9;gale &#xE0;</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursConditions.html">Ajouter une ou plusieurs &quot;Conditions&quot;</a> &#x203A;&#x203A; D&#xE9;tail des conditions &#x203A;&#x203A; <a href="Document1.html">Document</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Document1.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Enfonctiondelatabledefamille.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Ledocumentadesrfrencesexternes.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Le document test&#xE9; est une pi&#xE8;ce, un assemblage ou une mise en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition00.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7">Applique l&apos;op&#xE9;ration seulement si la date d&apos;enregistrement du document est </span><span class="rvts18">ant&#xE9;rieur</span><span class="rvts7">, </span><span class="rvts18">post&#xE9;rieur</span><span class="rvts7"> ou </span><span class="rvts18">&#xE9;gale &#xE0;</span><span class="rvts7"> une date donn&#xE9;e.</span></p>
<p class="rvps3"><span class="rvts7">La date peut &#xEA;tre saisie au clavier ou bien renseign&#xE9;e avec un calendrier en appuyant sur </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/SelectValeurProp.png"><span class="rvts7">.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Si la date d&apos;enregistrement &quot;</span><span class="rvts18">Sup&#xE9;rieur ou &#xE9;gale &#xE0;</span><span class="rvts7">&quot; au </span><span class="rvts18">25 janvier 2013</span><span class="rvts7"> alors l&apos;op&#xE9;ration est appliqu&#xE9;e.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Document2.png"><span class="rvts18"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	