

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">La feuille N est un format ...</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursConditions.html">Ajouter une ou plusieurs &quot;Conditions&quot;</a> &#x203A;&#x203A; D&#xE9;tail des conditions &#x203A;&#x203A; <a href="Plan1.html">Plan</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Plan1.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Plan1.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="LeplancontientNcalques.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts7">Le document test&#xE9; est une mise en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition0000.png"></p>
<p class="rvps3"><span class="rvts7">Applique l&apos;op&#xE9;ration en fonction du format de la feuille N pr&#xE9;sente dans la mise en plan.</span></p>
<p class="rvps3"><span class="rvts7">Le num&#xE9;ro de la feuille est &#xE0; choisir parmi une liste. Le nombre de feuilles doit &#xEA;tre num&#xE9;rique. Il peut &#xEA;tre saisi au clavier ou &#xE0; l&apos;aide de la liste d&#xE9;roulante :</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Propriete9-1.png"></p>
<p class="rvps3"><span class="rvts7">Le format &#xE0; analyser est s&#xE9;lectionn&#xE9; parmi la liste &quot;</span><span class="rvts18">A4H</span><span class="rvts7">&quot;, &quot;</span><span class="rvts18">A4V</span><span class="rvts7">&quot;, &quot;</span><span class="rvts18">A2</span><span class="rvts7">&quot; etc...</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Si, dans la mise en plan, le format de la feuille &quot;</span><span class="rvts18">5</span><span class="rvts7">&quot; est &#xE9;gal &#xE0; &quot;</span><span class="rvts18">A3</span><span class="rvts7">&quot; alors l&apos;op&#xE9;ration est appliqu&#xE9;e.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Plan2.png"></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	