

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">La pi&#xE8;ce contient une esquisse sous contrainte/sur contrainte</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursConditions.html">Ajouter une ou plusieurs &quot;Conditions&quot;</a> &#x203A;&#x203A; D&#xE9;tail des conditions &#x203A;&#x203A; <a href="Pice1.html">Pi&#xE8;ce</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Pice1.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				<a href="Lacouleurdelapiceest.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				<a href="Lapicecontientunefonctionenerreu.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Le document test&#xE9; est une pi&#xE8;ce. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Condition00000.png"></p>
<p class="rvps3"><span class="rvts7">Applique l&apos;op&#xE9;ration en fonction de l&apos;&#xE9;tat de contrainte d&apos;une esquisse.</span></p>
<p class="rvps3"><span class="rvts7">La valeur peut &#xEA;tre &quot;</span><span class="rvts18">Sous contrainte</span><span class="rvts7">&quot;, &quot;</span><span class="rvts18">Sous contrainte</span><span class="rvts7">&quot; ou &quot;</span><span class="rvts18">En erreur</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Si la pi&#xE8;ce contient au-moins une esquisse &quot;</span><span class="rvts18">Sous contrainte</span><span class="rvts7">&quot;, alors l&apos;op&#xE9;ration est appliqu&#xE9;e.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="imgspec/Document20-0.png"></p>
<p class="rvps3"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	