

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">La pi&#xE8;ce contient une fonction en erreur</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursConditions.html">Ajouter une ou plusieurs &quot;Conditions&quot;</a> &#x203A;&#x203A; D&#xE9;tail des conditions &#x203A;&#x203A; <a href="Pice1.html">Pi&#xE8;ce</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Pice1.html"><img src="fr/imgspec/arrow_up.png" alt="Parent"></a>
				
				<a href="Lapicecontientuneesquissesouscon.html"><img src="fr/imgspec/arrow_left.png" alt="Previous"></a>
				
				<a href="LapiceestdetypeToolbox.html"><img src="fr/imgspec/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Le document test&#xE9; est une pi&#xE8;ce. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition00000.png"></p>
<p class="rvps3"><span class="rvts7">Applique l&apos;op&#xE9;ration si une fonction est en erreur dans la pi&#xE8;ce.</span></p>
<p class="rvps3"><span class="rvts7">La valeur peut &#xEA;tre en &quot;</span><span class="rvts18">Erreur</span><span class="rvts7">&quot; ou en &quot;</span><span class="rvts18">Alerte</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Si la pi&#xE8;ce contient au-moins une fonction en &quot;</span><span class="rvts18">Erreur</span><span class="rvts7">&quot;, alors l&apos;op&#xE9;ration est appliqu&#xE9;e.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Document21-0.png"></p>
<p class="rvps3"><span class="rvts7">&quot;</span><span class="rvts18">Erreur</span><span class="rvts7">&quot; : la fonction n&apos;est pas construite.</span></p>
<p class="rvps3"><span class="rvts7">&quot;</span><span class="rvts18">Alerte</span><span class="rvts7">&quot; : la fonction est construite avec une puce d&apos;alerte.</span></p>
<p class="rvps3"><span class="rvts7">Le champ &quot;</span><span class="rvts18">Nom de la configuration</span><span class="rvts7">&quot; est facultatif. Si rien n&apos;est pr&#xE9;cis&#xE9; cela veut dire que c&apos;est la configuration active qui est test&#xE9;e. Utiliser le caract&#xE8;re &quot;</span><span class="rvts18">*</span><span class="rvts7">&quot; pour v&#xE9;rifier toutes les configurations de la pi&#xE8;ce.</span></p>
<p class="rvps3"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	