

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">La pi&#xE8;ce est un m&#xE9;cano-soud&#xE9;</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursConditions.html">Ajouter une ou plusieurs &quot;Conditions&quot;</a> &#x203A;&#x203A; D&#xE9;tail des conditions &#x203A;&#x203A; <a href="Pice1.html">Pi&#xE8;ce</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Pice1.html"><img src="fr/imgspec/arrow_up.png" alt="Parent"></a>
				
				<a href="LapiceestdetypeToolbox.html"><img src="fr/imgspec/arrow_left.png" alt="Previous"></a>
				
				<a href="Lapiceestunmcanosoudouunepicedet.html"><img src="fr/imgspec/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Le document test&#xE9; est une pi&#xE8;ce. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition00000.png"></p>
<p class="rvps3"><span class="rvts7">Applique l&apos;op&#xE9;ration suivant le type de pi&#xE8;ce.</span></p>
<p class="rvps3"><span class="rvts7">Le test est choisi parmi la liste proposant le type de pi&#xE8;ce : </span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Document17.png"></p>
<p class="rvps3"><span class="rvts23"><br></span></p>
<p class="rvps3"><span class="rvts23">Lorsque le document contient un ou plusieurs dossiers de &quot;</span><span class="rvts27">Liste des pi&#xE8;ces soud&#xE9;es</span><span class="rvts23">&quot;, une fonction &quot;</span><span class="rvts27">Construction soud&#xE9;e</span><span class="rvts23">&quot; et ne contient pas de fonction &quot;</span><span class="rvts27">&#xC9;tat d&#xE9;pli&#xE9;</span><span class="rvts23">&quot; il est consid&#xE9;r&#xE9; comme &quot;</span><span class="rvts27">Pi&#xE8;ce m&#xE9;cano-soud&#xE9;e</span><span class="rvts23">&quot;.</span></p>
<p class="rvps3"><span class="rvts23"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	