



	
		<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">L&apos;assemblage contient un composant particulier</h1>
				
				
				<div id="topic_breadcrumb">
					<a href="PrsentationdelutilitaireIntegrat.html">Integration</a> &#x203A;&#x203A; Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursConditions.html">Ajouter une ou plusieurs &quot;Conditions&quot;</a> &#x203A;&#x203A; D&#xE9;tail des conditions &#x203A;&#x203A; <a href="Assemblage1.html">Assemblage</a> &#x203A;&#x203A; 
				</div>
				
			</div>
			
			<div id="topic_header_nav">
				
				
				<a href="Assemblage1.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				
				
				<a href="LassemblagecontientNniveaux.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				
				
				<a href="Plan1.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				
			</div>
			
			<div class="clear"></div>
		</div>
	
	
	<div id="topic_content">
		
<p></p>
<p class="rvps13"><span class="rvts6"><br></span></p>
<p class="rvps13"><span class="rvts7">Le document test&#xE9; est un assemblage. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1599.png"></p>
<p class="rvps13"><span class="rvts7">Applique l&apos;op&#xE9;ration seulement si l&apos;assemblage contient un composant particulier (analyse du premier niveau ou de tous les niveaux).</span></p>
<p class="rvps13"><span class="rvts7">Le composant, pi&#xE8;ce ou assemblage, &#xE0; rechercher sera sp&#xE9;cifi&#xE9; en cliquant sur </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1598.png"><span class="rvts7">. Le niveau de recherche sera soit &#xA0;&quot;</span><span class="rvts19">1er niveau</span><span class="rvts7">&quot; soit &quot;</span><span class="rvts19">Tous les niveaux</span><span class="rvts7">&quot;.</span></p>
<p class="rvps13"><span class="rvts49">Exemple</span><span class="rvts7"> : Si, dans l&apos;assemblage, le composant &quot;</span><span class="rvts19">poignee.sldasm</span><span class="rvts7">&quot; est pr&#xE9;sent au premier niveau, alors l&apos;op&#xE9;ration est appliqu&#xE9;e. C&apos;est &#xE0; dire que si ce composant se trouve imbriqu&#xE9; dans un sous-ensemble, l&apos;op&#xE9;ration ne sera pas appliqu&#xE9;e.</span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement1597.png"></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p></p>

	</div>
	
	
		<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017  by Visiativ. All Rights Reserved.
			</div>
		</div>
	
	

	
