

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Le document a des r&#xE9;f&#xE9;rences externes</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursConditions.html">Ajouter une ou plusieurs &quot;Conditions&quot;</a> &#x203A;&#x203A; D&#xE9;tail des conditions &#x203A;&#x203A; <a href="Document1.html">Document</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Document1.html"><img src="fr/imgspec/arrow_up.png" alt="Parent"></a>
				
				<a href="Ladatedenregistrementdudocumente.html"><img src="fr/imgspec/arrow_left.png" alt="Previous"></a>
				
				<a href="Ledocumentappartientaundossiersp.html"><img src="fr/imgspec/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Le document test&#xE9; est une pi&#xE8;ce, un assemblage ou une mise en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition00.png"><span class="rvts7"> </span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Document10.png"></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">V&#xE9;rification des r&#xE9;f&#xE9;rences externes.</span></p>
<p class="rvps3"><span class="rvts7">V&#xE9;rifie si les emplacements sont valides (existence d&apos;un document), avec la possibilit&#xE9; de rechercher les documents r&#xE9;f&#xE9;renc&#xE9;s :</span></p>
<p class="rvps3"><span class="rvts7">- uniquement &#xE0; l&apos;emplacement enregistr&#xE9; dans le document</span></p>
<p class="rvps3"><span class="rvts7">- &#xE0; l&apos;emplacement enregistr&#xE9; dans le document et fonction des r&#xE8;gles de recherche sp&#xE9;cifi&#xE9;es dans les options SOLIDWORKS.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Document10-1.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7">Ensuite le niveau de recherche pour le contr&#xF4;le peut s&apos;arr&#xEA;ter au premier niveau ou descendre dans tous les niveaux.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Document10-2.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	