

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Le document est un assemblage</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursConditions.html">Ajouter une ou plusieurs &quot;Conditions&quot;</a> &#x203A;&#x203A; D&#xE9;tail des conditions &#x203A;&#x203A; <a href="Document1.html">Document</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Document1.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				<a href="Ledocumentcontientdesequations.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				<a href="Ledocumentestunemiseenplan.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Le document test&#xE9; est une pi&#xE8;ce, un assemblage ou une mise en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Condition00.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7">Applique l&apos;op&#xE9;ration seulement si le document est un assemblage.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	