

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Le document appartient &#xE0; un dossier sp&#xE9;cifique</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursConditions.html">Ajouter une ou plusieurs &quot;Conditions&quot;</a> &#x203A;&#x203A; D&#xE9;tail des conditions &#x203A;&#x203A; <a href="Document1.html">Document</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Document1.html"><img src="fr/imgspec/arrow_up.png" alt="Parent"></a>
				
				<a href="Ledocumentadesrfrencesexternes.html"><img src="fr/imgspec/arrow_left.png" alt="Previous"></a>
				
				<a href="Ledocumentestutilisdansunemiseen.html"><img src="fr/imgspec/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Le document test&#xE9; est une pi&#xE8;ce, un assemblage ou une mise en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition00.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7">Applique l&apos;op&#xE9;ration seulement si le document est dans un dossier sp&#xE9;cifique.</span></p>
<p class="rvps3"><span class="rvts7">Le r&#xE9;pertoire peut &#xEA;tre saisie au clavier ou bien renseign&#xE9;e en appuyant sur </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/SelectValeurProp.png"><span class="rvts7">.</span></p>
<p class="rvps3"><span class="rvts7">Le niveau de recherche peut s&apos;arr&#xEA;ter au dossier sp&#xE9;cifi&#xE9; uniquement ou bien descendre dans les sous-dossier.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Document9-1.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : La recherche s&apos;effectuera uniquement dans le r&#xE9;pertoire &quot;</span><span class="rvts18">D:\Samples\180-Integration</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Document9-2.png"><span class="rvts18"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	