

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Le nom du document correspond &#xE0; un format particulier</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursConditions.html">Ajouter une ou plusieurs &quot;Conditions&quot;</a> &#x203A;&#x203A; D&#xE9;tail des conditions &#x203A;&#x203A; <a href="Document1.html">Document</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Document1.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				<a href="LenomdudocumentcontientNcaractre.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				<a href="Lenomdudocumentestgal.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Le document test&#xE9; est une pi&#xE8;ce, un assemblage ou une mise en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Condition00.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7">Applique l&apos;op&#xE9;ration seulement si le nom du document correspond &#xE0; un format d&apos;&#xE9;criture particulier. On utilisera les caract&#xE8;res suivants pour d&#xE9;finir la syntaxe :</span></p>
<p class="rvps3"><span class="rvts18">$</span><span class="rvts7"> = caract&#xE8;re alphanum&#xE9;rique</span></p>
<p class="rvps3"><span class="rvts18">#</span><span class="rvts7"> = caract&#xE8;re num&#xE9;rique</span></p>
<p class="rvps3"><span class="rvts18">?</span><span class="rvts7"> = caract&#xE8;re quelconque</span></p>
<p class="rvps3"><span class="rvts18">*</span><span class="rvts7"> = remplace une cha&#xEE;ne de caract&#xE8;res</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Si le format du nom du document parcouru correspond &#xE0; la syntaxe &quot;</span><span class="rvts18">###-$$-*</span><span class="rvts7">&quot; , alors l&apos;op&#xE9;ration est appliqu&#xE9;e.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="imgspec/Document7.png"></p>
<p class="rvps3"><span class="rvts7">Ce format correspond &#xE0; un nom de document de type : </span><span class="rvts18">568-DC-Plaque</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	