

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Le nom du document est &#xE9;gal &#xE0;</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursConditions.html">Ajouter une ou plusieurs &quot;Conditions&quot;</a> &#x203A;&#x203A; D&#xE9;tail des conditions &#x203A;&#x203A; <a href="Document1.html">Document</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Document1.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				<a href="Lenomdudocumentcorrespondunforma.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				<a href="Lenomdudocumentestgaluneproprit.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Le document test&#xE9; est une pi&#xE8;ce, un assemblage ou une mise en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Condition00.png"></p>
<p class="rvps3"><span class="rvts7">Applique l&apos;op&#xE9;ration seulement si le nom du document est &quot;</span><span class="rvts18">&#xC9;gale &#xE0;</span><span class="rvts7">&quot; ou &quot;</span><span class="rvts18">Diff&#xE9;rent de</span><span class="rvts7">&quot; la valeur donn&#xE9;e.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Si le nom du document est &#xE9;gal &#xE0; &quot;</span><span class="rvts18">Coffret support</span><span class="rvts7">&quot; alors l&apos;op&#xE9;ration est appliqu&#xE9;e.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="imgspec/Document1.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7">Vous pouvez utiliser le caract&#xE8;re &quot;</span><span class="rvts18">*</span><span class="rvts7">&quot; plac&#xE9; devant ou derri&#xE8;re une cha&#xEE;ne de caract&#xE8;res sp&#xE9;cifique, afin de tester l&apos;absence d&apos;une propri&#xE9;t&#xE9; dans le document, comportant la cha&#xEE;ne de caract&#xE8;res.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : </span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Document1-1.png"><span class="rvts7"> </span><span class="rvts18">Coffret support*</span><span class="rvts7"> si le nom du document commence par la cha&#xEE;ne de caract&#xE8;res </span><span class="rvts18">Coffret support</span><span class="rvts7">, alors l&apos;op&#xE9;ration est appliqu&#xE9;e.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Document1-2.png"><span class="rvts7"> </span><span class="rvts18">*Coffret support</span><span class="rvts7"> si le nom du document se termine par la cha&#xEE;ne de caract&#xE8;res </span><span class="rvts18">Coffret support</span><span class="rvts7">, alors l&apos;op&#xE9;ration est appliqu&#xE9;e.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Document1-3.png"><span class="rvts18"> *Coffret support*</span><span class="rvts7"> si le nom du document contient la cha&#xEE;ne de caract&#xE8;res </span><span class="rvts18">Coffret support</span><span class="rvts7">, alors l&apos;op&#xE9;ration est appliqu&#xE9;e.</span></p>
<p class="rvps3"><span class="rvts23"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	