



	
		<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Le plan contient N calque(s)</h1>
				
				
				<div id="topic_breadcrumb">
					<a href="PrsentationdelutilitaireIntegrat.html">Integration</a> &#x203A;&#x203A; Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursConditions.html">Ajouter une ou plusieurs &quot;Conditions&quot;</a> &#x203A;&#x203A; D&#xE9;tail des conditions &#x203A;&#x203A; <a href="Plan1.html">Plan</a> &#x203A;&#x203A; 
				</div>
				
			</div>
			
			<div id="topic_header_nav">
				
				
				<a href="Plan1.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				
				
				<a href="LafeuilleNestunformat.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				
				
				<a href="LeplancontientNfeuilles.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				
			</div>
			
			<div class="clear"></div>
		</div>
	
	
	<div id="topic_content">
		
<p></p>
<p class="rvps13"><span class="rvts6"><br></span></p>
<p class="rvps13"><span class="rvts7">Le document test&#xE9; est une mise en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1606.png"></p>
<p class="rvps13"><span class="rvts7">Applique l&apos;op&#xE9;ration en fonction du nombre de calque(s) pr&#xE9;sent(s) dans la mise en plan.</span></p>
<p class="rvps13"><span class="rvts7">Le nombre de calque(s) est &#xE0; choisir parmi une liste. Le nombre de calque(s) doit &#xEA;tre num&#xE9;rique. Il peut &#xEA;tre saisi au clavier ou &#xE0; l&apos;aide de la liste d&#xE9;roulante :</span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement1605.png"></p>
<p class="rvps13"><span class="rvts49">Exemple</span><span class="rvts7"> : Si, dans la mise en plan, le nombre de calques est &quot;</span><span class="rvts19">Sup&#xE9;rieur &#xE0;</span><span class="rvts7">&quot; &quot;</span><span class="rvts19">4</span><span class="rvts7">&quot; alors l&apos;op&#xE9;ration est appliqu&#xE9;e.</span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement1604.png"></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p></p>

	</div>
	
	
		<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017  by Visiativ. All Rights Reserved.
			</div>
		</div>
	
	

	
