

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Le plan r&#xE9;f&#xE9;rence un type de document particulier</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursConditions.html">Ajouter une ou plusieurs &quot;Conditions&quot;</a> &#x203A;&#x203A; D&#xE9;tail des conditions &#x203A;&#x203A; <a href="Plan1.html">Plan</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Plan1.html"><img src="fr/imgspec/arrow_up.png" alt="Parent"></a>
				
				<a href="Leplanrfrenceundocumentparticuli.html"><img src="fr/imgspec/arrow_left.png" alt="Previous"></a>
				
				<a href="Lestandarddelanormedhabillagepou.html"><img src="fr/imgspec/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts7">Le document test&#xE9; est une mise en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition0000.png"></p>
<p class="rvps3"><span class="rvts7">Applique l&apos;op&#xE9;ration seulement si la mise en plan r&#xE9;f&#xE9;rence un type de document SOLIDWORKS particulier (Pi&#xE8;ce ou Assemblage).</span></p>
<p class="rvps3"><span class="rvts7">Le type de document &#xE0; rechercher est &#xE0; choisir parmi le menu d&#xE9;roulant.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Si, dans la mise en plan, r&#xE9;f&#xE9;rence une &quot;</span><span class="rvts18">Pi&#xE8;ce</span><span class="rvts7">&quot; alors l&apos;op&#xE9;ration est appliqu&#xE9;e.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Plan4.png"></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	