



	
		<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Les options</h1>
				
				
				<div id="topic_breadcrumb">
					<a href="PrsentationdelutilitaireIntegrat.html">Integration</a> &#x203A;&#x203A; Utilisation de &quot;Integration&quot; &#x203A;&#x203A; 
				</div>
				
			</div>
			
			<div id="topic_header_nav">
				
				
				<a href="UtilisationdeIntegration.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				
				
				<a href="Exemplederapport.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				
				
				<a href="Gnral.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				
			</div>
			
			<div class="clear"></div>
		</div>
	
	
	<div id="topic_content">
		
<p></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1973.png"><span class="rvts7"> </span></p>
<p class="rvps13"><span class="rvts7">Un certain nombre d&apos;options peuvent &#xEA;tre r&#xE9;gl&#xE9;es pour une utilisation optimum de l&apos;utilitaire &quot;Integration&quot;.</span></p>
<ul style="text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps13"><span class="rvts7">Options </span><span class="rvts68">g&#xE9;n&#xE9;rales</span></li>
<li class="rvps13"><span class="rvts7">R&#xE9;gler les </span><span class="rvts68">emplacements</span></li>
<li class="rvps13"><span class="rvts7">G&#xE9;rer les </span><span class="rvts68">rapports</span></li>
<li class="rvps13"><span class="rvts7">Options pour les </span><span class="rvts68">tables</span></li>
<li class="rvps13"><span class="rvts7">Options pour les </span><span class="rvts68">configurations</span></li>
<li class="rvps13"><span class="rvts66">R&#xE8;gles de nommage</span></li>
<li class="rvps13"><span class="rvts103">Option d&apos;</span><span class="rvts66">Export</span></li>
</ul>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p></p>

	</div>
	
	
		<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017  by Visiativ. All Rights Reserved.
			</div>
		</div>
	
	

	
