

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Les options</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="UtilisationdeIntegration.html"><img src="fr/imgspec/arrow_up.png" alt="Parent"></a>
				
				<a href="Exemplederapport.html"><img src="fr/imgspec/arrow_left.png" alt="Previous"></a>
				
				<a href="Gnral.html"><img src="fr/imgspec/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Options0.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7">Un certain nombre d&apos;options peuvent &#xEA;tre r&#xE9;gl&#xE9;es pour une utilisation optimum de l&apos;utilitaire &quot;Integration&quot;.</span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps3"><span class="rvts7">Options </span><a class="rvts17" href="Gnral.html">g&#xE9;n&#xE9;rales</a></li>
<li class="rvps3"><span class="rvts7">R&#xE9;gler les </span><a class="rvts17" href="Emplacement.html">emplacements</a></li>
<li class="rvps3"><span class="rvts7">G&#xE9;rer les </span><a class="rvts17" href="Rapport.html">rapports</a></li>
<li class="rvps3"><span class="rvts7">Options pour les </span><a class="rvts17" href="Table.html">tables</a></li>
<li class="rvps3"><span class="rvts7">Options pour les </span><a class="rvts17" href="Configurations.html">configurations</a></li>
<li class="rvps3"><a class="rvts32" href="Reglesdenommage.html">R&#xE8;gles de nommage</a></li>
<li class="rvps3"><span class="rvts47">Option d&apos;</span><a class="rvts32" href="Export.html">Export</a></li>
</ul>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	