

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Le standard de la norme d&apos;habillage pour la police des notes, dimensions, tables du plan est ...</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursConditions.html">Ajouter une ou plusieurs &quot;Conditions&quot;</a> &#x203A;&#x203A; D&#xE9;tail des conditions &#x203A;&#x203A; <a href="Plan1.html">Plan</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Plan1.html"><img src="fr/imgspec/arrow_up.png" alt="Parent"></a>
				
				<a href="Leplanrfrenceuntypededocumentpar.html"><img src="fr/imgspec/arrow_left.png" alt="Previous"></a>
				
				<a href="AjouteruneouplusieursOprations.html"><img src="fr/imgspec/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts7">Le document test&#xE9; est une mise en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition0000.png"></p>
<p class="rvps3"><span class="rvts7">Applique l&apos;op&#xE9;ration seulement si la police de caract&#xE8;res entit&#xE9;s de la mise en plan est &#xE9;gale ou diff&#xE9;rente d&apos;une certaine police de caract&#xE8;res. La police peut &#xEA;tre s&#xE9;lectionn&#xE9;e avec la fonctionnalit&#xE9; Windows en cliquant sur </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/SelectValeurProp.png"><span class="rvts7"> ou bien en la saisissant manuellement.</span></p>
<p class="rvps3"><span class="rvts7">La v&#xE9;rification s&apos;effectue dans les propri&#xE9;t&#xE9;s du document au niveau de l&apos;option &quot;Norme d&apos;habillage&quot; pour les annotations, la cotation, les tables ou le label des vues.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Si la norme d&apos;habillage, d&#xE9;finie dans les options du document, pour les notes est &quot;</span><span class="rvts18">Egale &#xE0;</span><span class="rvts7">&quot; la police &#xA0;&quot;</span><span class="rvts18">Arial 9.75 pouces</span><span class="rvts7">&quot; alors l&apos;op&#xE9;ration est appliqu&#xE9;e.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Plan6.png"></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	