

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Mentions l&#xE9;gales</h1>
				
				<div id="topic_breadcrumb">
					<a href="Introduction1.html">Introduction</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Introduction1.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Gnralitsdesutilitaires.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Slectiondesrpertoiresetdesfichie.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps56"><span class="rvts79">AVIS &#xC0; L&apos;UTILISATE</span><a name="_GoBack"></a>
<span class="rvts79">UR:</span><span class="rvts80"> VEUILLEZ LIRE ATTENTIVEMENT CE CONTRAT DE LICENCE LOGICIEL (CI-APRES &#xAB;&#xA0;LICENCE&#xA0;&#xBB; OU LE &#xAB;&#xA0;CONTRAT&#xA0;&#xBB;. EN CHOISSISANT DE COCHER &#xAB;&#xA0;J&#x2019;ACCEPTE LES TERMES DE LA LICENCE&#xA0;&#xBB; ET/OU EN UTILISANT TOUT OU PARTIE DU LOGICIEL myCADtools (CI-APRES LE &quot;LOGICIEL&quot;) EN CE INCLUS LA DOCUMENTATION, VOUS PERSONNE PHYSIQUE OU MORALE (CI-APRES DESIGNE&#xA0;LE &#xAB;&#xA0;CLIENT&#xA0;&#xBB;)</span><span class="rvts6"> </span><span class="rvts80">ACCEPTEZ TOUTES LES DISPOSITIONS DU PR&#xC9;SENT CONTRAT.</span></p>
<ol style="text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: decimal;">
<li value="0" style="margin-left: 0px" class="rvps58"><span class="rvts81">Avertissement. </span></li>
</ol>
<p class="rvps59"><span class="rvts81">Des portions du Logiciel sont prot&#xE9;g&#xE9;es par copyright et demeurent la propri&#xE9;t&#xE9; de :</span></p>
<p class="rvps59"><span class="rvts81">- Copyright &#xA9; 1995-2015 Dassault Syst&#xE8;mes SolidWorks Corp. Tous droits r&#xE9;serv&#xE9;s.</span></p>
<p class="rvps59"><span class="rvts81">- Copyright &#xA9; 1996-2015 Microsoft Corporation. &#xA0;Tous droits r&#xE9;serv&#xE9;s.</span></p>
<ol style="text-indent: 0px; margin-left: 52px; list-style-position: outside; list-style-type: decimal;">
<li value="1" style="margin-left: 0px" class="rvps61"><span class="rvts81">Objet. &#xA0;Le pr&#xE9;sent document est un accord entre vous (personne physique ou morale) (ci-apr&#xE8;s d&#xE9;sign&#xE9;&#xA0;le &#xAB;&#xA0;Client&#xA0;&#xBB;) et Visiativ. Visiativ est l&#x2019;Editeur du Logiciel. Visiativ d&#xE9;clare qu&apos;il est d&#xFB;ment habilit&#xE9; &#xE0; consentir la pr&#xE9;sente licence d&apos;utilisation du Logiciel. Le Client souhaite obtenir le droit d&apos;utiliser le Logiciel apr&#xE8;s avoir pris connaissance de l&apos;ensemble des informations relatives aux grandes fonctionnalit&#xE9;s du Logiciel. </span></li>
<li value="2" style="margin-left: 0px" class="rvps61"><span class="rvts81">D&#xE9;finitions. Le terme &quot;Logiciel&quot; d&#xE9;signe tout le contenu des fichiers, du (des) CD/DVD-ROM(s) ou de tout autre support fourni avec le pr&#xE9;sent Contrat ou disponible en t&#xE9;l&#xE9;chargement, y compris, notamment, &#xA0;le(s) logiciel(s) ou donn&#xE9;es informatiques de Visiativ ou de tiers, les fichiers ou documents &#xE9;crits explicatifs associ&#xE9;s correspondants (la &quot;Documentation&quot;), ainsi que toutes les mises &#xE0; niveau, versions modifi&#xE9;es, mises &#xE0; jour, ajouts et copies du Logiciel, s&apos;il y a lieu, pour lesquels Visiativ conc&#xE8;de au Client une licence (ci-apr&#xE8;s d&#xE9;nomm&#xE9;es collectivement les &quot;Mises &#xE0; Jour&quot;). Le Logiciel comprend les applications suivantes&#xA0;: </span></li>
</ol>
<p class="rvps62"><span class="rvts81">AssemblyBoard</span></p>
<p class="rvps62"><span class="rvts81">BatchConverter</span></p>
<p class="rvps62"><span class="rvts81">BatchProperties</span></p>
<p class="rvps62"><span class="rvts81">BeamCutOut</span></p>
<p class="rvps62"><span class="rvts81">CopyOptions</span></p>
<p class="rvps62"><span class="rvts81">CurveEquation</span></p>
<p class="rvps62"><span class="rvts81">CurveData</span></p>
<p class="rvps62"><span class="rvts81">CuttingOptimization</span></p>
<p class="rvps62"><span class="rvts81">CleanProject</span></p>
<p class="rvps62"><span class="rvts81">CloneComponents</span></p>
<p class="rvps62"><span class="rvts81">Cloud</span></p>
<p class="rvps62"><span class="rvts81">ColorChart</span></p>
<p class="rvps62"><span class="rvts81">CreatePoints</span></p>
<p class="rvps62"><span class="rvts81">CreateSections</span></p>
<p class="rvps62"><span class="rvts81">Dependencies</span></p>
<p class="rvps62"><span class="rvts81">DrawingTranslate</span></p>
<p class="rvps62"><span class="rvts81">DriveAssembly</span></p>
<p class="rvps62"><span class="rvts81">EasyPrint</span></p>
<p class="rvps62"><span class="rvts81">FaceFonts</span></p>
<p class="rvps62"><span class="rvts81">FontConverter</span></p>
<p class="rvps62"><span class="rvts81">GetCoordinates</span></p>
<p class="rvps62"><span class="rvts81">GetCoordinates2D</span></p>
<p class="rvps62"><span class="rvts81">GetCoordinates3D</span></p>
<p class="rvps62"><span class="rvts81">Integration</span></p>
<p class="rvps62"><span class="rvts81">LayerManager</span></p>
<p class="rvps62"><span class="rvts81">LocalHelp</span></p>
<p class="rvps62"><span class="rvts81">PilotAssembly</span></p>
<p class="rvps62"><span class="rvts81">PowerPrint</span></p>
<p class="rvps62"><span class="rvts81">ProjectManager</span></p>
<p class="rvps62"><span class="rvts81">ScaleDimension</span></p>
<p class="rvps62"><span class="rvts81">SearchPaths</span></p>
<p class="rvps62"><span class="rvts81">SelectMaterial</span></p>
<p class="rvps62"><span class="rvts81">SmartBalloons</span></p>
<p class="rvps62"><span class="rvts81">SmartBom</span></p>
<p class="rvps62"><span class="rvts81">SmartDesign</span></p>
<p class="rvps62"><span class="rvts81">SmartDrawings</span></p>
<p class="rvps62"><span class="rvts81">SmartProperties</span></p>
<p class="rvps62"><span class="rvts81">SmartWelding</span></p>
<p class="rvps62"><span class="rvts81">Tolerances</span></p>
<p class="rvps62"><span class="rvts81">TolerancesTable</span></p>
<p class="rvps62"><span class="rvts81">ToolBar myCAD</span></p>
<p class="rvps62"><span class="rvts81">UnitsConverter</span></p>
<p class="rvps62"><span class="rvts81">UnsewBody</span></p>
<p class="rvps62"><span class="rvts81">UpdateVersion</span></p>
<p class="rvps62"><span class="rvts81">VersionHistory</span></p>
<p class="rvps62"><span class="rvts81">Viewer</span></p>
<p class="rvps62"><span class="rvts81">ViewGrid</span></p>
<p class="rvps62"><span class="rvts81">WhereUsed</span></p>
<p class="rvps59"><span class="rvts82"><br></span></p>
<p class="rvps58"><span class="rvts81">Le terme &quot;Utilisation&quot; d&#xE9;signe l&apos;acc&#xE8;s au Logiciel, son installation, son t&#xE9;l&#xE9;chargement, sa copie ou tout autre avantage tir&#xE9; de l&apos;utilisation de ses fonctionnalit&#xE9;s conform&#xE9;ment &#xE0; la Documentation. Le terme &quot;Contrat d&#x2019;Abonnement&quot; &#xA0;(ci-apr&#xE8;s d&#xE9;nomm&#xE9; &#xAB;&#xA0;Contrat d&#x2019;Abonnement&#xA0;&#xBB; d&#xE9;signe le devis, le bon de commande et/ou la proposition commerciale ainsi que le Contrat d&#x2019;Abonnement, sign&#xE9;(e)(s) par le Client identifiant la/les licence(s) que le Client souhaite que Visiativ lui fournisse.</span></p>
<ol style="text-indent: 0px; margin-left: 52px; list-style-position: outside; list-style-type: decimal;">
<li value="3" style="margin-left: 0px" class="rvps61"><span class="rvts81">Concession de Licence. Sous r&#xE9;serve du respect des dispositions du pr&#xE9;sent Contrat et particuli&#xE8;rement le paiement de l&apos;int&#xE9;gralit&#xE9; de la redevance d&#x2019;Abonnement correspondante &#xE0; l&apos;acquisition du pr&#xE9;sent Contrat telle qu&apos;indiqu&#xE9;e dans le Contrat d&#x2019;Abonnement, Visiativ conc&#xE8;de &#xA0;au Client un droit d&apos;usage &#xE0; titre personnel, non cessible, non transmissible et non exclusif du Logiciel.</span></li>
</ol>
<p class="rvps63"><span class="rvts81">Au titre du droit d&apos;utilisation conc&#xE9;d&#xE9; par la pr&#xE9;sente licence d&apos;utilisation, le Client peut utiliser le Logiciel aux fins de chargement, affichage et d&#x2019;ex&#xE9;cution </span><span class="rvts83">conform&#xE9;ment aux finalit&#xE9;s d&#xE9;crites dans la Documentation</span><span class="rvts81">. </span></p>
<p class="rvps63"><span class="rvts81">Si cela est applicable au Logiciel command&#xE9;, la licence d&apos;utilisation est limit&#xE9;e au nombre de poste de travail ou d&#x2019;utilisateur indiqu&#xE9; dans le Contrat d&#x2019;Abonnement.</span></p>
<p class="rvps63"><span class="rvts81">Au cas o&#xF9; le Client souhaiterait augmenter le nombre maximal de poste de travail ou d&#x2019;utilisateur dont il b&#xE9;n&#xE9;ficie au titre des pr&#xE9;sentes, il en avisera par &#xE9;crit Visiativ qui lui accordera le droit d&apos;utiliser le Logiciel pour le nombre de poste de travail ou d&#x2019;utilisateur compl&#xE9;mentaires en contrepartie du paiement d&apos;un suppl&#xE9;ment de redevance calcul&#xE9; conform&#xE9;ment aux prix en vigueur de Visiativ au moment de la demande.</span></p>
<p class="rvps63"><span class="rvts81">Le Client peut effectuer une copie de sauvegarde du Logiciel, sauf si ladite copie est fournie par Visiativ ou si le Logiciel est accessible depuis le r&#xE9;seau Internet en mode SaaS (Software As A Service). Le Client a sur la copie de sauvegarde les m&#xEA;mes droits et obligations que sur l&apos;exemplaire du Logiciel conc&#xE9;d&#xE9; en licence au titre du pr&#xE9;sent Contrat. </span></p>
<p class="rvps63"><span class="rvts81">En dehors des droits conc&#xE9;d&#xE9;s au pr&#xE9;sent article ci-dessus et sans pr&#xE9;judice de ceux-ci, le Client n&#x2019;est pas autoris&#xE9; au titre des pr&#xE9;sentes notamment &#xE0; :</span></p>
<p class="rvps63"><span class="rvts81">&#x2014; copier, imprimer, transf&#xE9;rer, transmettre tout ou partie du Logiciel ;</span></p>
<p class="rvps63"><span class="rvts81">&#x2014; vendre, louer, sous-licencier, mettre en cr&#xE9;dit-bail ou distribuer de quelque fa&#xE7;on que ce soit le Logiciel ;</span></p>
<p class="rvps63"><span class="rvts81">&#x2014; utiliser le Logiciel pour fournir des services de traitement de donn&#xE9;es, de service bureau, d&apos;exploitation en temps partag&#xE9; ou d&apos;autres services analogues de quelque nature qu&apos;ils soient, &#xE0; toute autre personne physique, soci&#xE9;t&#xE9; ou entit&#xE9; ;</span></p>
<p class="rvps63"><span class="rvts81">&#x2014; &#xE0; n&#x2019;utiliser le Logiciel que pour ses propres besoins, sans en faire b&#xE9;n&#xE9;ficier un tiers, sauf autorisation expresse et &#xE9;crite de Visiativ.</span></p>
<p class="rvps63"><span class="rvts81">&#x2014; modifier le Logiciel et/ou fusionner tout ou partie du Logiciel dans d&apos;autres programmes informatiques ;</span></p>
<p class="rvps63"><span class="rvts81">&#x2014; la cr&#xE9;ation, le d&#xE9;veloppement, la commercialisation de toute &#x153;uvre d&#xE9;riv&#xE9;e du Logiciel et/ou susceptible de le concurrencer;</span></p>
<p class="rvps63"><span class="rvts81">&#x2014; compiler le Logiciel, le d&#xE9;compiler, le d&#xE9;sassembler, le traduire, l&apos;analyser, proc&#xE9;der au reverse engineering ou tenter d&apos;y proc&#xE9;der, sauf dans les limites autoris&#xE9;es par la loi&#xA0;;</span></p>
<p class="rvps63"><span class="rvts81">&#x2014; r&#xE9;aliser des traitements ou des prestations informatiques quelconques pour des tiers en utilisant le Logiciel, notamment des travaux &#xE0; fa&#xE7;on.</span></p>
<p class="rvps63"><span class="rvts81">Il est express&#xE9;ment convenu que le Client s&#x2019;interdit de corriger par lui-m&#xEA;me toute anomalie quelle qu&apos;elle soit, Visiativ se r&#xE9;servant seul ce droit.</span></p>
<p class="rvps63"><span class="rvts81">Des composants du Logiciel peuvent en tout ou partie &#xEA;tre r&#xE9;gis par des licences open source. Le cas &#xE9;ch&#xE9;ant, certaines clauses desdites licence open source peuvent annuler les conditions de la pr&#xE9;sente Licence. Si le Logiciel int&#xE8;gre &#xA0;des composants open source, les licences correspondantes sont disponibles dans la section &#xAB; Informations l&#xE9;gales &#xBB; du Logiciel.</span></p>
<ol style="text-indent: 0px; margin-left: 52px; list-style-position: outside; list-style-type: decimal;">
<li value="4" style="margin-left: 0px" class="rvps61"><span class="rvts81">Dur&#xE9;e.</span><span class="rvts84"> </span><span class="rvts81">Sauf cas de r&#xE9;siliation anticip&#xE9;e du Contrat, la dur&#xE9;e de concession de(s) licence(s) sur le(s) Logiciel(s) est pr&#xE9;cis&#xE9;e dans le Contrat d&#x2019;Abonnement.</span></li>
<li value="5" style="margin-left: 0px" class="rvps61"><span class="rvts81">Propri&#xE9;t&#xE9; intellectuelle. La pr&#xE9;sente licence ne conf&#xE8;re au Client aucun droit de propri&#xE9;t&#xE9; intellectuelle sur le Logiciel et la Documentation, qui demeurent la propri&#xE9;t&#xE9; enti&#xE8;re et exclusive de Visiativ ou de ses fournisseurs.</span></li>
</ol>
<p class="rvps63"><span class="rvts81">Le Client s&#x2019;oblige &#xE0; respecter les mentions de propri&#xE9;t&#xE9; figurant sur le Logiciel, les supports ou la Documentation.</span></p>
<p class="rvps63"><span class="rvts81">Le Client s&#x2019;engage &#xA0;&#xE0; ne pas porter atteinte directement ou indirectement, par l&apos;interm&#xE9;diaire d&apos;un tiers, et de quelque mani&#xE8;re que ce soit, aux droits de propri&#xE9;t&#xE9; intellectuelle de Visiativ &#xA0;et de ses fournisseurs et notamment&#xA0;&#xE0; ne pas mettre &#xE0; la disposition de tiers le Logiciel et sa Documentation directement ou indirectement, &#xE0; quelque titre que ce soit.</span></p>
<p class="rvps63"><span class="rvts81">Tout acte de contrefa&#xE7;on ou susceptible d&#x2019;&#xEA;tre ainsi qualifi&#xE9;, qui serait le fait de tiers et dont le Client aurait connaissance, doit &#xEA;tre signal&#xE9; &#xE0; Visiativ qui fera son affaire des poursuites &#xE0; mener.</span></p>
<ol style="text-indent: 0px; margin-left: 52px; list-style-position: outside; list-style-type: decimal;">
<li value="6" style="margin-left: 0px" class="rvps61"><span class="rvts81">Mises &#xE0; Jour et Maintenance. Si le Logiciel est une Mise &#xE0; Jour d&apos;une version ant&#xE9;rieure du Logiciel, le Client doit d&#xE9;tenir une licence en vigueur pour cette version ant&#xE9;rieure pour pouvoir utiliser la Mise &#xE0; Jour. Toutes les mises &#xE0; jour sont exclusivement fournies sur la base d&#x2019;un contrat d&#x2019;Abonnement en vigueur. De m&#xEA;me, Visiativ s&#x2019;engage &#xE0; assurer la maintenance du Logiciel selon les modalit&#xE9;s d&#xE9;crites dans le contrat d&#x2019;Abonnement et ce pendant la dur&#xE9;e de ce dernier.</span></li>
<li value="7" style="margin-left: 0px" class="rvps61"><span class="rvts81">Confidentialit&#xE9;.</span><span class="rvts85"> </span><span class="rvts81">Le Client s&#x2019;engage &#xE0; ne pas divulguer d&apos;informations relatives au savoir-faire de Visiativ ou autres informations ou donn&#xE9;es confidentielles. A ce titre, Le Client s&#x2019;engage &#xE0; garder strictement confidentiel toutes informations (notamment commerciales, techniques, financi&#xE8;res et juridiques) &#xE9;chang&#xE9;es tant au titre de la n&#xE9;gociation avant la signature du pr&#xE9;sent Contrat ainsi qu&#x2019;au cours de son ex&#xE9;cution, ci-apr&#xE8;s d&#xE9;sign&#xE9;es &#xAB;&#xA0;Informations Confidentielles&#xA0;&#xBB;. Le Logiciel et sa Documentation &#xE9;tant notamment des Informations Confidentielles. Cet engagement se poursuivra tant que les Informations Confidentielles, y compris le savoir-faire ne sont pas tomb&#xE9;es dans le domaine public.</span></li>
</ol>
<p class="rvps63"><span class="rvts81">L&apos;engagement de confidentialit&#xE9; ne s&apos;applique pas aux Informations Confidentielles :</span></p>
<p class="rvps63"><span class="rvts81">a) qui sont entr&#xE9;es dans le domaine public pr&#xE9;alablement &#xE0; la date de divulgation ou communication ou qui tomberont dans le domaine public apr&#xE8;s leur communication et/ou divulgation sans que la cause ne soit imputable au Client ;</span></p>
<p class="rvps63"><span class="rvts81">b) dont il peut &#xEA;tre d&#xE9;montr&#xE9; qu&apos;elles sont d&#xE9;j&#xE0; connues du Client avant leur transmission ;</span></p>
<p class="rvps63"><span class="rvts81">c) qui auront &#xE9;t&#xE9; re&#xE7;ues d&apos;un tiers de mani&#xE8;re licite, sans violation du pr&#xE9;sent Contrat ;</span></p>
<p class="rvps63"><span class="rvts81">d) que la loi, la r&#xE9;glementation applicable ou une d&#xE9;cision de justice obligeraient &#xE0; divulguer. Cette communication doit alors &#xEA;tre strictement limit&#xE9;e aux personnes autoris&#xE9;es selon la loi et s&apos;effectuer dans le respect des droits d&#x2019;Visiativ. Le Client s&#x2019;engage &#xE0; informer Visiativ par &#xE9;crit de toute demande de communication pr&#xE9;sent&#xE9;e dans le cadre du pr&#xE9;sent paragraphe avec le d&#xE9;tail des informations requises.</span></p>
<p class="rvps63"><span class="rvts81">Le Client reconnait que toute divulgation l&#xE9;serait les int&#xE9;r&#xEA;ts de Visiativ et engagerait sa responsabilit&#xE9;.</span></p>
<p class="rvps63"><span class="rvts81">Le Client se porte fort, au sens de l&apos;article 1120 du Code civil, du respect par ses pr&#xE9;pos&#xE9;s, mandataires ou sous-traitants d&#xFB;ment autoris&#xE9;s, de l&apos;engagement de confidentialit&#xE9; expos&#xE9; ci-dessus.</span></p>
<ol style="text-indent: 0px; margin-left: 52px; list-style-position: outside; list-style-type: decimal;">
<li value="8" style="margin-left: 0px" class="rvps61"><span class="rvts81">Garantie contractuelle. Visiativ garantit exclusivement la conformit&#xE9; du Logiciel aux caract&#xE9;ristiques fonctionnelles et techniques figurant dans la Documentation qui est remise au Client ou disponible en t&#xE9;l&#xE9;chargement au titre du Contrat (ou les sp&#xE9;cifications contractuellement convenues). </span></li>
</ol>
<p class="rvps58"><span class="rvts81">A ce titre, Visiativ interviendra gratuitement, pendant 30 (trente) jours &#xA0;&#xE0; compter de la date de livraison du Logiciel, pour tenter de corriger les anomalies.</span></p>
<p class="rvps58"><span class="rvts81">Le Client doit remettre &#xE0; Visiativ un rapport documentant l&apos;anomalie et l&apos;expliquant clairement. </span></p>
<p class="rvps58"><span class="rvts81">Visiativ se r&#xE9;serve le droit d&apos;utiliser le moyen le plus appropri&#xE9; pour effectuer la correction des anomalies : envoi d&apos;un support magn&#xE9;tique, t&#xE9;l&#xE9;transmission, d&#xE9;placement sur site. </span></p>
<p class="rvps58"><span class="rvts81">La garantie ci-dessus cesse de plein droit si la configuration et/ou le Logiciel ont &#xE9;t&#xE9; modifi&#xE9;s par le Client ou un tiers ainsi qu&apos;en cas d&apos;utilisation non conforme au r&#xE9;f&#xE9;rentiel contractuel. </span></p>
<p class="rvps58"><span class="rvts81">Toute intervention pour une anomalie ne r&#xE9;pondant pas aux conditions de la garantie ci-dessus ni aux conditions de maintenance pr&#xE9;vus dans le Contrat d&#x2019;Abonnement, le Client sera factur&#xE9; au tarif d&apos;intervention en vigueur &#xE0; la date de celle-ci. Tout d&#xE9;placement sur site sera factur&#xE9; au Client par Visiativ au tarif en vigueur.</span></p>
<p class="rvps58"><span class="rvts81">Visiativ ne garantit pas que le Logiciel soit exempt d&apos;anomalies et que son fonctionnement soit ininterrompu. En cons&#xE9;quence, il est rappel&#xE9; qu&apos;il appartient au Client de prendre toutes les dispositions pour &#xE9;tablir les plans de d&#xE9;pannage ad&#xE9;quats et prendra toute mesure appropri&#xE9;e pour minimiser les cons&#xE9;quences dommageables li&#xE9;es notamment &#xE0; une possible interruption d&apos;exploitation ou &#xE0; une possible perte de donn&#xE9;es g&#xE9;n&#xE9;r&#xE9;e par le Logiciel du fait de son utilisation. </span></p>
<p class="rvps58"><span class="rvts81">Visiativ ne fait aucune autre garantie expresse ou implicite relative au Logiciel, y compris, notamment, toute garantie implicite de qualit&#xE9; marchande ou d&apos;ad&#xE9;quation du Logiciel &#xE0; un objectif particulier. Le Client a choisi le Logiciel en fonction des besoins qu&#x2019;il a lui-m&#xEA;me d&#xE9;finis notamment &#xE0; partir de la Documentation, des conseils de Visiativ, d&#x2019;une soci&#xE9;t&#xE9; tierce ou d&#x2019;un conseil choisi par le Client.</span></p>
<p class="rvps58"><span class="rvts81">AU TITRE DE LA GARANTIE CONTRACTUELLE DU PRESENT CONTRAT, Visiativ PRENDRA EN CHARGE LA CORRECTION DES ERREURS OU LE REMPLACEMENT DU LOGICIEL DEFECTUEUX, A L&apos;EXCLUSION DE TOUT AUTRE PREJUDICE DIRECT OU INDIRECT, NOTAMMENT LIE A L&apos;INDISPONIBILITE DU LOGICIEL, QUELLE QU&apos;EN SOIT LA DUREE.</span></p>
<p class="rvps58"><span class="rvts81">PARTICULIEREMENT, Visiativ ET SES FOURNISSEURS NE GARANTISSENT PAS ET NE PEUVENT PAS GARANTIR LES PERFORMANCES OU LES R&#xC9;SULTATS OBTENUS EN UTILISANT LE LOGICIEL.</span></p>
<p class="rvps58"><span class="rvts81">LE CLIENT UTILISE LE LOGICIEL ET LES RESULTATS OBTENUS PAR LA MISE EN &#x152;UVRE DU LOGICIEL SOUS SA RESPONSABILITE EXCLUSIVE, SANS RECOURS POSSIBLE DU CLIENT CONTRE Visiativ. NOTAMMENT, LA RESPONSABILITE De Visiativ NE SAURAIT ETRE ENGAGEE A RAISON D&apos;ERREURS, QUELLE QU&apos;EN SOIT LA CAUSE, DANS LES RESULTATS OBTENUS, QU&apos;IL APPARTIENT AU CLIENT DE VERIFIER.</span></p>
<ol style="text-indent: 0px; margin-left: 52px; list-style-position: outside; list-style-type: decimal;">
<li value="9" style="margin-left: 0px" class="rvps61"><span class="rvts81">Installation.</span><span class="rvts6"> </span><span class="rvts81">Sauf recours &#xE0; une prestation faisant l&#x2019;objet d&#x2019;une tarification distincte aupr&#xE8;s d&#x2019;Visiativ, l&apos;installation du Logiciel sur le site sera effectu&#xE9;e par le Client sous sa propre responsabilit&#xE9;, conform&#xE9;ment aux instructions d&apos;installation du manuel et celles donn&#xE9;es par Visiativ.</span></li>
<li value="10" style="margin-left: 0px" class="rvps61"><span class="rvts81">R&#xE9;siliation. Chacune des Parties pourra r&#xE9;silier le Contrat trente-cinq (35) jours apr&#xE8;s une mise en demeure rest&#xE9;e infructueuse, en cas d&#x2019;inex&#xE9;cution de ses obligations contractuelles par l&#x2019;autre Partie.</span></li>
</ol>
<p class="rvps59"><span class="rvts81">En cas de cessation des pr&#xE9;sentes relations contractuelles et ce, pour quelque raison que ce soit, le Client s&#x2019;engage soit &#xE0; restituer &#xE0; Visiativ dans les 15 (quinze) jours de la fin des relations contractuelles, l&apos;ensemble des &#xE9;l&#xE9;ments constitutifs du Logiciel, y compris les supports et toutes les copies qui en auront &#xE9;t&#xE9; faites, en garantissant par &#xE9;crit l&apos;int&#xE9;gralit&#xE9; de cette remise, soit &#xE0; fournir par &#xE9;crit, une attestation certifiant la destruction du Logiciel, de ses supports et de toutes les copies qui auraient pu &#xEA;tre faites.</span></p>
<p class="rvps59"><span class="rvts81"><br></span></p>
<p class="rvps59"><span class="rvts81"><br></span></p>
<ol style="text-indent: 0px; margin-left: 52px; list-style-position: outside; list-style-type: decimal;">
<li value="11" style="margin-left: 0px" class="rvps61"><span class="rvts81">Limitation de responsabilit&#xE9;.</span><span class="rvts6"> </span><span class="rvts81">Visiativ s&#x2019;oblige &#xE0; apporter le meilleur soin, dans le respect des r&#xE8;gles de son art, &#xE0; l&#x2019;accomplissement de ses missions. Sa responsabilit&#xE9; ne peut &#xEA;tre engag&#xE9;e qu&#x2019;en cas de n&#xE9;gligence dont il appartient au Client d&#x2019;apporter la preuve. A ce titre, la responsabilit&#xE9; de Visiativ ne peut &#xEA;tre engag&#xE9;e en cas d&#x2019;inex&#xE9;cution ou de mauvaise ex&#xE9;cution du Contrat par le Client. </span></li>
</ol>
<p class="rvps58"><span class="rvts81">Le Client reconna&#xEE;t qu&#x2019;en aucun cas, Visiativ ou ses fournisseurs ne proc&#xE8;de &#xE0; la v&#xE9;rification de la configuration du syst&#xE8;me du Client et/ou &#xE0; l&#x2019;analyse de l&#x2019;ad&#xE9;quation du Logiciel aux besoins du Client. Le Client reconna&#xEE;t avoir re&#xE7;u de Visiativ toutes les informations n&#xE9;cessaires lui permettant d&#x2019;appr&#xE9;cier l&#x2019;ad&#xE9;quation du Logiciel &#xE0; ses besoins.</span></p>
<p class="rvps58"><span class="rvts81">En cas de doute sur l&#x2019;interpr&#xE9;tation d&#x2019;une clause ou en l&#x2019;absence de mention permettant de d&#xE9;terminer l&#x2019;&#xE9;tendue des obligations de Visiativ, le Client reconna&#xEE;t que les obligations de Visiativ s&#x2019;entendent comme des obligations de moyen.</span></p>
<p class="rvps58"><span class="rvts81">EN AUCUN CAS, Visiativ ET SES FOURNISSEURS NE SERONT TENUS A REPARATION DU PREJUDICE INDIRECT NOTAMMENT PREJUDICE MORAL, PERTE DE CLIENTELE, PERTE DE RESULTATS, PERTE DE DONNEES ETC. QUE POURRAIT SUBIR LE CLIENT.</span></p>
<p class="rvps58"><span class="rvts81">DANS SES RAPPORTS AVEC LE CLIENT, EN AUCUN CAS, SAUF FAUTE LOURDE, LA RESPONSABILITE DE Visiativ ET DE SES FOURNISSEURS NE POURRA EXCEDER LE MONTANT PAYE PAR LE CLIENT POUR LE LOGICIEL.</span></p>
<p class="rvps58"><span class="rvts81">Toute r&#xE9;clamation doit faire l&#x2019;objet d&#x2019;une lettre recommand&#xE9;e avec accus&#xE9; de r&#xE9;ception adress&#xE9;e au si&#xE8;ge de Visiativ dans un d&#xE9;lai n&#x2019;exc&#xE9;dant pas un an &#xE0; compter de la date de d&#xE9;couverte des faits susceptibles de fonder ladite r&#xE9;clamation.</span></p>
<p class="rvps58"><span class="rvts81">LA PRESENTE CLAUSE RESTE APPLICABLE EN CAS DE NULLITE, DE RESOLUTION OU DE RESILIATION DU PRESENT CONTRAT.</span></p>
<ol style="text-indent: 0px; margin-left: 52px; list-style-position: outside; list-style-type: decimal;">
<li value="12" style="margin-left: 0px" class="rvps61"><span class="rvts81">Force majeure et contrainte.</span><span class="rvts50"> </span><span class="rvts81">La responsabilit&#xE9; de Visiativ ne pourra &#xEA;tre recherch&#xE9;e si la non-ex&#xE9;cution ou le retard dans l&#x2019;ex&#xE9;cution de l&#x2019;une de ses obligations d&#xE9;coule d&#x2019;un cas de force majeure ou d&#x2019;un cas fortuit.</span></li>
</ol>
<p class="rvps59"><span class="rvts81">La force majeure comprend notamment les gr&#xE8;ves de toute nature, &#xA0;les probl&#xE8;mes d&#x2019;approvisionnement de Visiativ et notamment la rupture pour quelque cause que ce soit des contrats avec les &#xE9;diteurs de Logiciels sauf rupture imputable exclusivement &#xE0; Visiativ, l&#x2019;incendie, l&#x2019;inondation, la guerre, les &#xE9;meutes, les troubles sociaux, les arr&#xEA;ts de production dus &#xE0; des pannes fortuites. </span></p>
<ol style="text-indent: 0px; margin-left: 52px; list-style-position: outside; list-style-type: decimal;">
<li value="13" style="margin-left: 0px" class="rvps61"><span class="rvts81">Audit.</span><span class="rvts86"> </span><span class="rvts81">Visiativ se r&#xE9;serve le droit d&#x2019;effectuer des audits &#xE0; ses frais dans les locaux du Client pendant la dur&#xE9;e du Contrat afin de contr&#xF4;ler la bonne ex&#xE9;cution du Contrat. Visiativ pr&#xE9;viendra le Client par &#xE9;crit de cet audit, trente jours ouvrables au moins avant celui-ci. Cet audit sera r&#xE9;alis&#xE9; conjointement avec le Client pendant les heures ouvrables normales du Client, et ne devra occasionner aucune g&#xEA;ne excessive pour ses activit&#xE9;s. Visiativ pourra proc&#xE9;der au maximum &#xE0; deux audits par p&#xE9;riode de douze (12) mois pendant la dur&#xE9;e du Contrat.</span></li>
</ol>
<p class="rvps58"><span class="rvts81">Le rapport d&#x2019;audit sera pr&#xE9;sent&#xE9; au Client. Il est express&#xE9;ment convenu qu&#x2019;en aucun cas la dur&#xE9;e de cet audit ne pourra exc&#xE9;der trois (3) jours. Si un audit r&#xE9;v&#xE8;le que le Client ne se conforme pas aux termes du pr&#xE9;sent Contrat, les parties se r&#xE9;uniront pour chercher une explication et une solution.</span></p>
<ol style="text-indent: 0px; margin-left: 52px; list-style-position: outside; list-style-type: decimal;">
<li value="14" style="margin-left: 0px" class="rvps61"><span class="rvts81">Loi applicable. LES PRESENTES AINSI QUE LES OPERATIONS QUI Y SONT VISEES SERONT REGIES PAR LA LOI FRANCAISE. </span></li>
</ol>
<p class="rvps59"><span class="rvts81">LES TRIBUNAUX de LYON SONT SEULS COMPETENTS POUR CONNAITRE DES CONTESTATIONS POUVANT NAITRE A QUELQUE TITRE QUE CE SOIT DU PRESENT CONTRAT</span></p>
<ol style="text-indent: 0px; margin-left: 52px; list-style-position: outside; list-style-type: decimal;">
<li value="15" style="margin-left: 0px" class="rvps61"><span class="rvts81">Conformit&#xE9; aux licences.</span><span class="rvts87"> </span><span class="rvts81">Si le Client est une soci&#xE9;t&#xE9; ou une organisation, il s&#x2019;engage &#xE0; prouver et certifier, dans un d&#xE9;lai de trente (30) jours, &#xE0; la demande de Visiativ ou d&apos;un de ses repr&#xE9;sentants autoris&#xE9;s, qu&apos;&#xE0; la date de ladite demande, l&#x2019;Utilisation des Logiciels est conforme aux licences en vigueur conc&#xE9;d&#xE9;es par Visiativ.</span></li>
<li value="16" style="margin-left: 0px" class="rvps61"><span class="rvts81">Dispositions g&#xE9;n&#xE9;rales.</span><span class="rvts87"> </span><span class="rvts81">L&#x2019;annulation &#xE9;ventuelle d&#x2019;une des clauses ou un des alin&#xE9;as figurant dans les pr&#xE9;sentes conditions g&#xE9;n&#xE9;rales, notamment par une d&#xE9;cision de justice, ne saurait porter atteinte aux autres dispositions qui continueront d&#x2019;avoir leur plein et entier effet.</span></li>
</ol>
<p class="rvps63"><span class="rvts81">Le fait pour l&#x2019;une des Parties de ne pas se pr&#xE9;valoir d&#x2019;un manquement par l&#x2019;autre Partie &#xE0; l&#x2019;une quelconque des obligations vis&#xE9;es dans les pr&#xE9;sentes, ne saurait &#xEA;tre interpr&#xE9;t&#xE9; pour l&#x2019;avenir comme une renonciation &#xE0; l&#x2019;obligation en cause.</span></p>
<p class="rvps64"><span class="rvts81"><br></span></p>
<p class="rvps65"><span class="rvts87">Pour toute demande d&apos;information, veuillez-vous adresser au Service Client&#xE8;le de Visiativ.</span></p>
<p class="rvps3"><span class="rvts25"><br></span></p>
<p class="rvps3"><span class="rvts88"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	