

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Menus contextuels de l&apos;arbre du projet</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="Gestionduprojet.html">Gestion du projet</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Gestionduprojet.html"><img src="fr/imgspec/arrow_up.png" alt="Parent"></a>
				
				<a href="Barredefonctionsdelaliste.html"><img src="fr/imgspec/arrow_left.png" alt="Previous"></a>
				
				<a href="Icnesdanslesconditionsetopration.html"><img src="fr/imgspec/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p class="rvps7"><span class="rvts7">Lorsque les actions ont &#xE9;t&#xE9; cr&#xE9;&#xE9;es dans l&apos;arbre, il est possible d&apos;en apporter certaines modifications par le biais de menus contextuels.</span></p>
<p class="rvps7"><span class="rvts7">En faisant un clique droit sur une action :</span></p>
<p class="rvps7"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Parametre_Action2.png"><span class="rvts7"> </span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps7"><span class="rvts7">Vous avez la possibilit&#xE9; de renommer l&apos;action :</span></li>
</ul>
<p class="rvps7"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Renomme Action.png"><span class="rvts7"> </span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps7"><span class="rvts7">Ou bien de dupliquer l&apos;action. Cette derni&#xE8;re peut s&apos;av&#xE9;rer utile si vous avez des actions tr&#xE8;s proches pour lesquelles une partie des actions et/ou des op&#xE9;rations est commune.</span></li>
</ul>
<p class="rvps7"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Duplique Action.png"><span class="rvts7"> </span></p>
<p class="rvps7"><span class="rvts7">Cette derni&#xE8;re peut s&apos;av&#xE9;rer utile si vous avez des actions tr&#xE8;s proches pour lesquelles une partie des actions et/ou des op&#xE9;rations est commune.</span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps7"><span class="rvts7">Chaque action comporte une fonction &quot;</span><span class="rvts18">Param&#xE8;tres</span><span class="rvts7">&quot;. </span></li>
</ul>
<p class="rvps7"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Parametre_Action1.png"><span class="rvts7"> </span></p>
<p class="rvps7"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Parametre_Action0.png"><span class="rvts7"> </span></p>
<p class="rvps7"><span class="rvts7">Par un clique droit sur cette fonction vous pouvez &#xE9;diter les param&#xE8;tres de l&apos;action. Une fen&#xEA;tre s&apos;ouvre dans laquelle vous saisissez un commentaire de l&apos;action.</span></p>
<p class="rvps7"><span class="rvts7">Concernant la partie &quot;</span><span class="rvts18">Options</span><span class="rvts7">&quot;, de cette fen&#xEA;tre :</span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;"><ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: circle;">
<li style="margin-left: 0px" class="rvps9"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Parametre_Action3.png"><span class="rvts7"> si la case est coch&#xE9;e l&apos;action sauvegardera le document ouvert. En effet nous verrons plus loin que certaines </span><a class="rvts17" href="Icnesdanslesconditionsetopration.html">conditions</a><span class="rvts7"> et </span><span class="rvts17">op&#xE9;rations</span><span class="rvts7"> n&#xE9;cessitent l&apos;ouverture ou non du document.</span></li>
<li style="margin-left: 0px" class="rvps9"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Parametre_Action4.png"><span class="rvts7"> cette option est coch&#xE9;e par d&#xE9;faut. En g&#xE9;n&#xE9;ral on applique l&apos;op&#xE9;ration en cas de succ&#xE8;s de(s) condition(s). Si l&apos;on d&#xE9;coche cette option, l&apos;op&#xE9;ration sera appliqu&#xE9;e en cas d&apos;&#xE9;chec.</span></li>
</ul></ul>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	