

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Modifier l&apos;attribut de lecture seule du fichier</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Document.html">Document</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Document.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				<a href="Modifierlattributdelectureseule1.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				<a href="OptiondudocumentCasecocher.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces, les assemblages ou les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Condition00.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet de modifier l&apos;attribut de lecture seule du fichier.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Oui-Non.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Mettre tous les fichiers s&#xE9;lectionn&#xE9;s en &quot;</span><span class="rvts18">Lecture seule</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Oper-document15.png"><span class="rvts7"> &#xA0; </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts30"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	