

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Type de compteur &quot;Simplifi&#xE9;&quot;</h1>
				
				<div id="topic_breadcrumb">
					<a href="SmartCounter1.html">SmartCounter</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="SmartCounter1.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Nouveauchapitre67.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Nouveauchapitre69.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps13"><a class="rvts52" href="Nouveauchapitre68.html#_Toc474480814">Type de compteur &#x2019;&#x2019;Simplifi&#xE9;&#x2019;&#x2019;</a></p>
<p class="rvps14"><a class="rvts53" href="Nouveauchapitre68.html#_Toc474480815">Format de compteur &#x2019;&#x2019;1,2,3&#x2019;&#x2019; .</a></p>
<p class="rvps14"><a class="rvts53" href="Nouveauchapitre68.html#_Toc474480816">Format de compteur &#x2019;&#x2019;A,B,C&#x2019;&#x2019; .</a></p>
<p class="rvps14"><a class="rvts53" href="Nouveauchapitre68.html#_Toc474480817">Format de compteur &#x2019;&#x2019;Liste personnalis&#xE9;e&#x2019;&#x2019;.</a></p>
<h1 class="rvps15"><a name="_Toc474480814"></a>
<span class="rvts0"><span class="rvts55">Type de compteur &#x2019;&#x2019;Simplifi&#xE9;&#x2019;&#x2019;</span></span></h1>
<p class="rvps16"><span class="rvts56"><br></span></p>
<h2 class="rvps17"><a name="_Toc474480815"></a>
<span class="rvts0"><span class="rvts57">Format de compteur &#x2019;&#x2019;1,2,3&#x2019;&#x2019; .</span></span></h2>
<p class="rvps16"><img width="696" height="314" alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement41.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts58">Sp&#xE9;cifier le format du compteur.</span></li>
</ul>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement40.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">Exemple avec le nombre 25&#xA0;:</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement39.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts56">Pas&#xA0;: Sp&#xE9;cifier le pas&#xA0;pour incr&#xE9;menter le compteur.</span></li>
</ul>
<p class="rvps16"><span class="rvts56"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts56">Valeur de d&#xE9;part&#xA0;: D&#xE9;finir la valeur de d&#xE9;part. </span></li>
</ul>
<p class="rvps16"><span class="rvts56"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts56">Valeur&#xA0;: Permet de visualiser la derni&#xE8;re valeur appliqu&#xE9;e sur un fichier.</span></li>
</ul>
<p class="rvps16"><span class="rvts56"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts56">Valeur suivante&#xA0;: Permet de visualiser la prochaine valeur qui sera appliqu&#xE9;e sur un fichier.</span></li>
</ul>
<p class="rvps16"><span class="rvts56"><br></span></p>
<h2 class="rvps17"><a name="_Toc474480816"></a>
<span class="rvts0"><span class="rvts57"><br></span></span></h2>
<p class="rvps2"><img width="700" height="303" alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement38.png"></p>
<h2 class="rvps17"><span class="rvts0"><span class="rvts57">Format de compteur &#x2019;&#x2019;A,B,C&#x2019;&#x2019; .</span></span></h2>
<p class="rvps16"><span class="rvts56"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts56">Pas&#xA0;: Sp&#xE9;cifier le pas&#xA0;pour incr&#xE9;menter le compteur.</span></li>
</ul>
<p class="rvps24"><span class="rvts56"><br></span></p>
<p class="rvps25"><span class="rvts56">Avec un pas de 1 le compteur s&#x2019;incr&#xE9;mentera comme suit&#xA0;: A ; B ; C&#xA0;; D etc.</span></p>
<p class="rvps25"><span class="rvts56">Avec un pas de 2 le compteur s&#x2019;incr&#xE9;mentera comme suit&#xA0;: A&#xA0;; C&#xA0;; E&#xA0;; G etc. </span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts56">Valeur de d&#xE9;part&#xA0;: D&#xE9;finir la valeur de d&#xE9;part. </span></li>
</ul>
<p class="rvps16"><span class="rvts56"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts56">Valeur&#xA0;: Permet de visualiser la derni&#xE8;re valeur appliqu&#xE9;e sur un fichier.</span></li>
</ul>
<p class="rvps19"><span class="rvts56"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts56">Valeur suivante&#xA0;: Permet de visualiser la prochaine valeur qui sera appliqu&#xE9;e sur un fichier.</span></li>
</ul>
<p class="rvps16"><span class="rvts56"><br></span></p>
<h2 class="rvps17"><a name="_Toc474480817"></a>
<span class="rvts0"><span class="rvts57">Format de compteur &#x2019;&#x2019;Liste personnalis&#xE9;e&#x2019;&#x2019;.</span></span></h2>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img width="697" height="305" alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement37.png"></p>
<p class="rvps16"><span class="rvts58"><br></span></p>
<p class="rvps16"><span class="rvts58"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts58">Cr&#xE9;ation de la liste personnalis&#xE9;e.</span></li>
</ul>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement36.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">L&#x2019;ic&#xF4;ne </span><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement35.png"><span class="rvts56"> permet d&#x2019;ouvrir une fen&#xEA;tre pour cr&#xE9;er une liste.</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement34.png"><br><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">Il est possible d&#x2019;ouvrir une liste personnalis&#xE9;e depuis un fichier texte, en utilisant l&#x2019;ic&#xF4;ne &#xA0;</span><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement33.png"><span class="rvts56"> .</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">L&#x2019;ic&#xF4;ne </span><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement32.png"><span class="rvts56"> permet de d&#xE9;finir le s&#xE9;parateur utilis&#xE9; dans la liste (dans cet exemple le s&#xE9;parateur est le caract&#xE8;re&#xA0;</span><span class="rvts58">;</span><span class="rvts56">).</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement31.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">L&#x2019;ic&#xF4;ne </span><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement30.png"><span class="rvts56"> permet de lier la liste personnalis&#xE9;e &#xE0; un fichier txt existant, la liste est alors charg&#xE9;e dans la fen&#xEA;tre qui elle est gris&#xE9;e&#xA0;:</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement29.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">Pour rompre le lien, il suffit de cliquer sur </span><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement28.png"><span class="rvts56"> et valider le message&#xA0;:</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement27.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts56">Pas&#xA0;: Sp&#xE9;cifier le pas&#xA0;pour incr&#xE9;menter le compteur.</span></li>
</ul>
<p class="rvps24"><span class="rvts56"><br></span></p>
<p class="rvps25"><span class="rvts56">Avec un pas de 1 le compteur prendra les valeurs de la liste comme suit&#xA0;: A5 ; B10 ; C15&#xA0;; D20 etc.</span></p>
<p class="rvps25"><span class="rvts56">Avec un pas de 2 le compteur prendra les valeurs de la liste comme suit&#xA0;: A5&#xA0;; C15&#xA0;; E25&#xA0;; G35 etc. </span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts56">Valeur de d&#xE9;part&#xA0;: D&#xE9;finir la valeur de d&#xE9;part. </span></li>
</ul>
<p class="rvps16"><span class="rvts56"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts56">Valeur&#xA0;: Permet de visualiser la derni&#xE8;re valeur appliqu&#xE9;e sur un fichier.</span></li>
</ul>
<p class="rvps16"><span class="rvts56"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts56">Valeur suivante&#xA0;: Permet de visualiser la prochaine valeur qui sera appliqu&#xE9;e sur un fichier.</span></li>
<li class="rvps2"><span class="rvts6"></span></li>
</ul>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	