

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Param&#xE9;trage SmartCounter</h1>
				
				<div id="topic_breadcrumb">
					<a href="SmartCounter1.html">SmartCounter</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="SmartCounter1.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				<a href="SmartCounter1.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				<a href="Nouveauchapitre68.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps13"><a class="rvts60" href="Nouveauchapitre67.html#_Toc474480703">Param&#xE9;trage SmartCounter</a></p>
<p class="rvps14"><a class="rvts61" href="Nouveauchapitre67.html#_Toc474480704">Ajouter un compteur.</a></p>
<p class="rvps14"><a class="rvts61" href="Nouveauchapitre67.html#_Toc474480705">Supprimer un compteur.</a></p>
<p class="rvps14"><a class="rvts61" href="Nouveauchapitre67.html#_Toc474480706">Renommer un compteur.</a></p>
<p class="rvps14"><a class="rvts61" href="Nouveauchapitre67.html#_Toc474480707">Options g&#xE9;n&#xE9;rales.</a></p>
<p class="rvps13"><span class="rvts62"><br></span></p>
<h1 class="rvps15"><a name="_Toc474480703"></a>
<span class="rvts0"><span class="rvts55">Param&#xE9;trage SmartCounter</span></span></h1>
<p class="rvps2"><span class="rvts25"><br></span></p>
<p class="rvps2"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement66.png"></p>
<p class="rvps2"><span class="rvts25">Le bouton &#xA0;permet d&#x2019;ouvrir la fen&#xEA;tre de cr&#xE9;ation et de param&#xE9;trage des compteurs. </span></p>
<p class="rvps2"><a name="_GoBack"></a>
<img width="697" height="554" alt="" style="padding : 1px;" src="imgspec/NouvelElement65.png"></p>
<h2 class="rvps17"><a name="_Toc474480704"></a>
<span class="rvts0"><span class="rvts57">Ajouter un compteur.</span></span></h2>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img width="692" height="67" alt="" style="padding : 1px;" src="imgspec/NouvelElement64.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts56">Le bouton </span><img alt="" style="padding : 1px;" src="imgspec/NouvelElement63.png"><span class="rvts56"> permet d&#x2019;ajouter un compteur.</span></li>
</ul>
<p class="rvps19"><span class="rvts56"><br></span></p>
<p class="rvps16"><img width="353" height="163" alt="" style="padding : 1px;" src="imgspec/NouvelElement62.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">Valider avec la touche &#xA0;</span><img alt="" style="padding : 1px;" src="imgspec/NouvelElement61.png"><span class="rvts56"> , le compteur apparait dans le menu d&#xE9;roulant.</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement60.png"></p>
<h2 class="rvps17"><a name="_Toc474480705"></a>
<span class="rvts0"><span class="rvts57">Supprimer un compteur.</span></span></h2>
<p class="rvps16"><span class="rvts56"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts56">Le bouton </span><img alt="" style="padding : 1px;" src="imgspec/NouvelElement59.png"><span class="rvts56"> permet de supprimer un compteur.</span></li>
</ul>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">S&#xE9;lectionner le compteur &#xE0; supprimer dans le menu d&#xE9;roulant et utiliser le bouton &#xA0;</span><img alt="" style="padding : 1px;" src="imgspec/NouvelElement58.png"><span class="rvts56"> .</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement57.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">Valider le message pour supprimer le compteur.</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement56.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<h2 class="rvps17"><a name="_Toc474480706"></a>
<span class="rvts0"><span class="rvts57">Renommer un compteur.</span></span></h2>
<p class="rvps16"><span class="rvts56"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts56">Le bouton </span><img alt="" style="padding : 1px;" src="imgspec/NouvelElement55.png"><span class="rvts56"> permet de renommer un compteur.</span></li>
</ul>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">S&#xE9;lectionner le compteur &#xE0; renommer et cliquer sur le bouton &#xA0;</span><img alt="" style="padding : 1px;" src="imgspec/NouvelElement54.png"><span class="rvts56"> .</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps2"><img width="700" height="72" alt="" style="padding : 1px;" src="imgspec/NouvelElement53.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">Modifier le nom et valider avec le bouton OK.</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img width="316" height="145" alt="" style="padding : 1px;" src="imgspec/NouvelElement52.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<h2 class="rvps17"><a name="_Toc474480707"></a>
<span class="rvts0"><span class="rvts57">Options g&#xE9;n&#xE9;rales.</span></span></h2>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">Le bouton </span><img alt="" style="padding : 1px;" src="imgspec/NouvelElement51.png"><span class="rvts56"> permet de param&#xE9;trer les options g&#xE9;n&#xE9;rales.</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps2"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement50.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"> </span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">Les compteurs peuvent &#xEA;tre stock&#xE9;s soit dans un fichier XML, soit dans une base SQL</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts63">Fichier XML&#xA0;:</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts56">Emplacement du fichier XML des compteurs&#xA0;:</span></li>
</ul>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement49.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts56">Ce param&#xE8;tre permet de d&#xE9;finir l&#x2019;emplacement du fichier XML des compteurs.</span></p>
<p class="rvps20"><span class="rvts56">Si le fichier XML est d&#xE9;plac&#xE9; (par exemple sur un serveur), vous pouvez d&#xE9;finir son nouvel emplacement avec le bouton &#xA0;</span><img alt="" style="padding : 1px;" src="imgspec/NouvelElement48.png"><span class="rvts56"> .</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts56">Options&#xA0;:</span></li>
</ul>
<p class="rvps16"><img width="692" height="98" alt="" style="padding : 1px;" src="imgspec/NouvelElement47.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts56">Cette option permet de cr&#xE9;er un fichier .csv (un par compteur) contenant l&#x2019;historique des valeurs utilis&#xE9;es dans les compteurs.</span></p>
<p class="rvps20"><span class="rvts56">Par d&#xE9;faut ce fichier est sauvegard&#xE9; dans le dossier &#x2019;&#x2019;SmartCounter logs&#x2019;&#x2019; qui se trouve dans le dossier d&#x2019;installation de </span><span class="rvts58">SmartProperties</span><span class="rvts56">.</span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63">Base SQL&#xA0;:</span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts58">SmartCounter</span><span class="rvts56"> peut &#xE9;galement &#xEA;tre utilis&#xE9; avec une base SQL</span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps2"><img width="486" height="366" alt="" style="padding : 1px;" src="imgspec/NouvelElement46.png"></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts56">L&#x2019;emplacement ainsi que les identifiants de connexion &#xE0; SQL doivent alors &#xEA;tres renseign&#xE9;s</span></p>
<p class="rvps20"><span class="rvts56">Les boutons suivants vous permettent d&#x2019;importer ou d&#x2019;exporter votre base SmartCounter&#xA0;:</span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps2"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement45.png"></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps22"><span class="rvts56">Import d&#x2019;un XML dans la base SQL, il suffit de s&#xE9;lectionner le fichier XML &#xE0; importer&#xA0;:</span></li>
</ul>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps2"><img width="527" height="303" alt="" style="padding : 1px;" src="imgspec/NouvelElement44.png"></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts56">Export de la base au format SQL, d&#xE9;finir l&#x2019;emplacement et donner un nom au fichier XML &#xE0; sauvegarder&#xA0;:</span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps22"><span class="rvts56"><br></span></p>
<p class="rvps2"><img width="516" height="297" alt="" style="padding : 1px;" src="imgspec/NouvelElement43.png"></p>
<p class="rvps22"><span class="rvts56"><br></span></p>
<p class="rvps22"><span class="rvts63"><br></span></p>
<p class="rvps22"><span class="rvts63"><br></span></p>
<p class="rvps22"><span class="rvts63"><br></span></p>
<p class="rvps22"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63">Un message de confirmation vous indique que le fichier a &#xE9;t&#xE9; sauvegard&#xE9; avec succ&#xE8;s&#xA0;:</span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps2"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement42.png"></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts63"><br></span></p>
<p class="rvps20"><span class="rvts63">Attention&#xA0;:</span><span class="rvts56"> La licence SQL livr&#xE9;e avec PDM ne vous permet pas e cr&#xE9;er une autre base de donn&#xE9;es. Vous devez utiliser une autre instance avec par exemple SQL Express Edition</span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts63">Nota&#xA0;:</span><span class="rvts56"> Il n&#x2019;est pas possible de cr&#xE9;er un fichier avec l&#x2019;historique des valeurs prises avec l&#x2019;option Base SQL</span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	