



	
		<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Param&#xE9;trage SmartCounter</h1>
				
				
				<div id="topic_breadcrumb">
					<a href="Nouveauchapitre16.html">Contr&#xF4;les communs</a> &#x203A;&#x203A; <a href="SmartCounter1.html">SmartCounter</a> &#x203A;&#x203A; 
				</div>
				
			</div>
			
			<div id="topic_header_nav">
				
				
				<a href="SmartCounter1.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				
				
				<a href="SmartCounter1.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				
				
				<a href="Nouveauchapitre68.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				
			</div>
			
			<div class="clear"></div>
		</div>
	
	
	<div id="topic_content">
		
<p></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts7">Le bouton </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SmartCounter10.png"><span class="rvts7"> permet d&#x2019;ouvrir la fen&#xEA;tre de cr&#xE9;ation et de param&#xE9;trage des compteurs. </span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts51">Ajouter un compteur.</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/SmartCounter1.png"><span class="rvts7"> </span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts7">Le bouton </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SmartCounter5.png"><span class="rvts7"> permet d&#x2019;ajouter un compteur.</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/SmartCounter2.png"><span class="rvts7"> </span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts7">Valider avec la touche </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SmartCounter3.png"><span class="rvts7"> , le compteur appara&#xEE;t dans le menu d&#xE9;roulant.</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/SmartCounter4.png"><span class="rvts7"> </span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><a name="_Toc474480705"></a>
<span class="rvts51">Supprimer un compteur.</span></p>
<p class="rvps4"><span class="rvts7">Le bouton </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SmartCounter6.png"><span class="rvts7"> permet de supprimer un compteur.</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts7">S&#xE9;lectionner le compteur &#xE0; supprimer dans le menu d&#xE9;roulant et utiliser le bouton &#xA0;</span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SmartCounter6.png"><span class="rvts7"> .</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/SmartCounter1.png"><span class="rvts7"> </span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts7">Valider le message pour supprimer le compteur.</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SmartCounter7.png"><span class="rvts7"> </span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><a name="_Toc474480706"></a>
<span class="rvts51">Renommer un compteur.</span></p>
<p class="rvps4"><span class="rvts7">Le bouton </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SmartCounter8.png"><span class="rvts7"> permet de renommer un compteur.</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts7">S&#xE9;lectionner le compteur &#xE0; renommer et cliquer sur le bouton </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SmartCounter8.png"><span class="rvts7"> .</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/SmartCounter1.png"><span class="rvts7"> </span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts7">Modifier le nom et valider avec le bouton OK.</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/SmartCounter9.png"><span class="rvts7"> </span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><a name="_Toc474480707"></a>
<span class="rvts51">Options g&#xE9;n&#xE9;rales.</span></p>
<p class="rvps4"><span class="rvts7">Le bouton </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SmartCounter10.png"><span class="rvts7"> permet de param&#xE9;trer les options g&#xE9;n&#xE9;rales.</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/SmartCounter11.png"><span class="rvts7"> </span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts7">Les compteurs peuvent &#xEA;tre stock&#xE9;s soit dans un fichier XML, soit dans une base SQL</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts51">Fichier XML&#xA0;:</span></p>
<p class="rvps4"><span class="rvts7">Emplacement du fichier XML des compteurs&#xA0;:</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/SmartCounter12.png"><span class="rvts7"> </span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts7">Ce param&#xE8;tre permet de d&#xE9;finir l&#x2019;emplacement du fichier XML des compteurs.</span></p>
<p class="rvps4"><span class="rvts7">Si le fichier XML est d&#xE9;plac&#xE9; (par exemple sur un serveur), vous pouvez d&#xE9;finir son nouvel emplacement avec le bouton </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Browse.png"><span class="rvts7">.</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts51">Options&#xA0;.</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/SmartCounter13.png"></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts7">Cette option permet de cr&#xE9;er un fichier .csv (un par compteur) contenant l&#x2019;historique des valeurs utilis&#xE9;es dans les compteurs.</span></p>
<p class="rvps4"><span class="rvts7">Par d&#xE9;faut ce fichier est sauvegard&#xE9; dans le dossier &#x2019;&#x2019;SmartCounter logs&#x2019;&#x2019; qui se trouve dans le dossier d&#x2019;installation de </span><span class="rvts19">SmartProperties</span><span class="rvts7">.</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts51">Base SQL&#xA0;.</span></p>
<p class="rvps4"><span class="rvts19">SmartCounter</span><span class="rvts7"> peut &#xE9;galement &#xEA;tre utilis&#xE9; avec une base SQL</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/SmartCounter14.png"><span class="rvts7"> </span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts7">L&#x2019;emplacement ainsi que les identifiants de connexion &#xE0; SQL doivent alors &#xEA;tres renseign&#xE9;s</span></p>
<p class="rvps4"><span class="rvts7">Les boutons suivants vous permettent d&#x2019;importer ou d&#x2019;exporter votre base SmartCounter&#xA0;:</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SmartCounter15.png"><span class="rvts7"> </span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<ul style="text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps11"><span class="rvts7">Import d&#x2019;un XML dans la base SQL, il suffit de s&#xE9;lectionner le fichier XML &#xE0; importer&#xA0;:</span></li>
</ul>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps13"><img width="527" height="303" alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SmartCounter16.png"><span class="rvts7"> </span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<ul style="text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps4"><span class="rvts7">Export de la base au format SQL, d&#xE9;finir l&#x2019;emplacement et donner un nom au fichier XML &#xE0; sauvegarder&#xA0;:</span></li>
</ul>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps13"><img width="516" height="297" alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SmartCounter17.png"><span class="rvts7"> </span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts56">Un message de confirmation vous indique que le fichier a &#xE9;t&#xE9; sauvegard&#xE9; avec succ&#xE8;s&#xA0;:</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SmartCounter18.png"><span class="rvts7"> </span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Warning.png"><span class="rvts7"> </span><span class="rvts56">Attention&#xA0;:</span><span class="rvts7"> La licence SQL livr&#xE9;e avec PDM ne vous permet pas e cr&#xE9;er une autre base de donn&#xE9;es. Vous devez utiliser une autre instance avec par exemple SQL Express Edition.</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts56">Nota&#xA0;:</span><span class="rvts7"> Il n&#x2019;est pas possible de cr&#xE9;er un fichier avec l&#x2019;historique des valeurs prises avec l&#x2019;option Base SQL</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p></p>

	</div>
	
	
		<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017  by Visiativ. All Rights Reserved.
			</div>
		</div>
	
	

	
