

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Type de compteur &quot;Avanc&#xE9;&quot;</h1>
				
				<div id="topic_breadcrumb">
					<a href="SmartCounter1.html">SmartCounter</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="SmartCounter1.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				<a href="Nouveauchapitre68.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps13"><a name="_Toc403048509"></a>
<a class="rvts52" href="Nouveauchapitre69.html#_Toc474480740">Type de compteur &#x2019;&#x2019;Avanc&#xE9;&#x2019;&#x2019;</a></p>
<p class="rvps14"><a class="rvts53" href="Nouveauchapitre69.html#_Toc474480741">Format de compteur &#x2019;&#x2019;Cumulatif&#x2019;&#x2019;.</a></p>
<p class="rvps14"><a class="rvts53" href="Nouveauchapitre69.html#_Toc474480742">Format de compteur &#x2019;&#x2019;Automatique&#x2019;&#x2019;.</a></p>
<p class="rvps14"><a class="rvts53" href="Nouveauchapitre69.html#_Toc474480743">Exemple de compteur &#x2019;&#x2019;Automatique&#x2019;&#x2019;.</a></p>
<p class="rvps13"><span class="rvts54"><br></span></p>
<h1 class="rvps15"><a name="_Toc474480740"></a>
<span class="rvts0"><span class="rvts55">Type de compteur &#x2019;&#x2019;Avanc&#xE9;&#x2019;&#x2019;</span></span></h1>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img width="697" height="367" alt="" style="padding : 1px;" src="imgspec/NouvelElement26.png"></p>
<p class="rvps16"><a name="_GoBack"></a>
<span class="rvts56"><br></span></p>
<h2 class="rvps17"><a name="_Toc474480741"></a>
<span class="rvts0"><span class="rvts57">Format de compteur &#x2019;&#x2019;Cumulatif&#x2019;&#x2019;.</span></span></h2>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">Le compteur cumulatif permet de cr&#xE9;er un compteur en associant plusieurs formats de compteur.</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps2"><img width="696" height="250" alt="" style="padding : 1px;" src="imgspec/NouvelElement25.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps2" style="page-break-before: always;"><span class="rvts50"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts58">L&#x2019;ic&#xF4;ne </span><img alt="" style="padding : 1px;" src="imgspec/NouvelElement24.png"><span class="rvts58"> permet d&#x2019;ajouter un compteur</span></li>
</ul>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement23.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">Une fois le compteur cr&#xE9;&#xE9;, cliquer sur &#x2019;&#x2019;</span><span class="rvts58">Ajouter</span><span class="rvts56">&#x2019;&#x2019;.</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement22.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts56">Il est possible d&#x2019;ajouter &#x2019;&#x2019;</span><span class="rvts58">x</span><span class="rvts56">&#x2019;&#x2019; compteurs. Le compteur s&#x2019;ajoute en dessous du premier et l&#x2019;aper&#xE7;u de la valeur suivante est mise &#xE0; jour.</span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps16"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement21.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts58">L&#x2019;ic&#xF4;ne </span><img alt="" style="padding : 1px;" src="imgspec/NouvelElement20.png"><span class="rvts58"> permet d&#x2019;ajouter du texte au compteur.</span></li>
</ul>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement19.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img width="467" height="220" alt="" style="padding : 1px;" src="imgspec/NouvelElement18.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">Ce compteur va &#xE9;voluer comme suit&#xA0;:</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">A01-Texte&#xA0;; A02-Texte&#xA0;; A03-Texte&#xA0;&#x2026;&#x2026; A100-Texte&#xA0;; B01-Texte&#xA0;; B02-Texte&#xA0;; etc&#x2026;</span></p>
<p class="rvps2"><a name="_Toc403048511"></a>
<span class="rvts59"><br></span></p>
<h2 class="rvps17"><a name="_Toc474480742"></a>
<span class="rvts0"><span class="rvts57">Format de compteur &#x2019;&#x2019;Automatique&#x2019;&#x2019;.</span></span></h2>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img width="692" height="549" alt="" style="padding : 1px;" src="imgspec/NouvelElement17.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts56">Le compteur automatique permet de cr&#xE9;er des compteurs &#xE0; partir d&#x2019;une valeur de propri&#xE9;t&#xE9; SOLIDWORKS ou d&#x2019;un attribut EPDM.</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps22"><span class="rvts58">Pour utiliser un compteur automatique&#xA0;il faut&#xA0;:</span></li>
</ul>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts56">D&#xE9;finir le nom du compteur gr&#xE2;ce aux propri&#xE9;t&#xE9;s SOLIDWORKS ou EPDM.</span></p>
<p class="rvps16"><img width="695" height="93" alt="" style="padding : 1px;" src="imgspec/NouvelElement16.png"></p>
<p class="rvps2"><span class="rvts6"><br></span></p>
<p class="rvps16"><span class="rvts56">D&#xE9;finir le compteur &#xE0; utiliser, compteur simple ou cumulatif.</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img width="692" height="283" alt="" style="padding : 1px;" src="imgspec/NouvelElement15.png"></p>
<p class="rvps16"><span class="rvts58"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts58">D&#xE9;finition du compteur automatique.</span></li>
</ul>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps23"><span class="rvts56">Ce param&#xE8;tre permet de d&#xE9;finir, gr&#xE2;ce &#xE0; des variables, le nom du compteur. Ce nom permettra d&#x2019;identifier le compteur automatique &#xE0; incr&#xE9;menter (s&#x2019;il existe) ou de le cr&#xE9;er avec les valeurs par d&#xE9;faut d&#xE9;finies dans le type de compteur (simple ou cumulatif).</span></p>
<p class="rvps23"><span class="rvts56">On retrouve la liste des compteurs automatiques, cr&#xE9;&#xE9;s avec leur valeur, en cliquant sur le bouton &#xA0;</span><img alt="" style="padding : 1px;" src="imgspec/NouvelElement14.png"><span class="rvts56">&#xA0;:</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement13.png"></p>
<p class="rvps2"><span class="rvts6"><br></span></p>
<p class="rvps16"><span class="rvts56">Le bouton </span><img alt="" style="padding : 1px;" src="imgspec/NouvelElement12.png"><span class="rvts56"> permet de d&#xE9;finir la propri&#xE9;t&#xE9;.</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement11.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts58"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts58">D&#xE9;finir le compteur &#xE0; utiliser.</span></li>
</ul>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">D&#xE9;finir un compteur simple ou un compteur cumulatif.</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img width="696" height="253" alt="" style="padding : 1px;" src="imgspec/NouvelElement10.png"></p>
<p class="rvps2"><a name="_Toc403048512"></a>
<span class="rvts59"><br></span></p>
<h2 class="rvps17"><a name="_Toc474480743"></a>
<span class="rvts0"><span class="rvts57">Exemple de compteur &#x2019;&#x2019;Automatique&#x2019;&#x2019;.</span></span></h2>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">Dans cet exemple de compteur automatique on utilise la propri&#xE9;t&#xE9;</span><span class="rvts58"> &#x2019;&#x2019;Projet&#x2019;&#x2019;</span><span class="rvts56"> avec un </span><span class="rvts58">compteur cumulatif</span><span class="rvts56">.</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts56">Avec l&#x2019;utilitaire </span><span class="rvts58">BatchProperties</span><span class="rvts56"> je cr&#xE9;e une propri&#xE9;t&#xE9; </span><span class="rvts58">&#x2019;&#x2019;Compteur&#x2019;&#x2019;</span><span class="rvts56"> en utilisant le compteur automatique cr&#xE9;&#xE9;.</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img width="694" height="543" alt="" style="padding : 1px;" src="imgspec/NouvelElement9.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">Dans les trois dossiers s&#xE9;lectionn&#xE9;s, les fichiers pi&#xE8;ces contiennent la propri&#xE9;t&#xE9; </span><span class="rvts58">&#x2019;&#x2019;Projet&#x2019;&#x2019;</span><span class="rvts56"> avec une valeur diff&#xE9;rente.</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">Param&#xE9;trage du compteur automatique utilis&#xE9; dans cet exemple&#xA0;: </span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps2"><img width="422" height="356" alt="" style="padding : 1px;" src="imgspec/NouvelElement8.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">Lors de l&#x2019;application, trois compteurs vont &#xEA;tre cr&#xE9;&#xE9;s, avec le m&#xEA;me param&#xE9;trage (voir image ci-dessus). Un pour chaque valeur de la propri&#xE9;t&#xE9; Projet.</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts56">Dans les fichiers pi&#xE8;ces du dossier &#x2019;&#x2019;</span><span class="rvts58">230-PowerPrint</span><span class="rvts56">&#x2019;&#x2019;, la valeur de la propri&#xE9;t&#xE9; Projet est &#x2019;&#x2019;</span><span class="rvts58">230</span><span class="rvts56">&#x2019;&#x2019;.</span></li>
</ul>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">R&#xE9;sultat sur les fichiers&#xA0;:</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement7.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps19"><span class="rvts56"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts56">Dans les fichiers pi&#xE8;ces du dossier &#x2019;&#x2019;</span><span class="rvts58">240 ProjectManager</span><span class="rvts56">&#x2019;&#x2019;, la valeur de la propri&#xE9;t&#xE9; Projet est &#x2019;&#x2019;</span><span class="rvts58">240</span><span class="rvts56">&#x2019;&#x2019;. </span></li>
</ul>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">R&#xE9;sultat sur les fichiers&#xA0;:</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img width="336" height="392" alt="" style="padding : 1px;" src="imgspec/NouvelElement6.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps19"><span class="rvts56">Dans les fichiers pi&#xE8;ces du dossier &#x2019;&#x2019;</span><span class="rvts58">290 SmartBom</span><span class="rvts56">&#x2019;&#x2019;, la valeur de la propri&#xE9;t&#xE9; Projet est &#x2019;&#x2019;</span><span class="rvts58">290</span><span class="rvts56">&#x2019;&#x2019;. </span></li>
</ul>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">R&#xE9;sultat sur les fichiers&#xA0;:</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement5.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">Pour v&#xE9;rifier les compteurs cr&#xE9;&#xE9;s, il faut utiliser le bouton &#xA0;</span><img alt="" style="padding : 1px;" src="imgspec/NouvelElement4.png"><span class="rvts56"> .</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement3.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56">Dans cette liste, on retrouve le nom des trois compteurs cr&#xE9;&#xE9;s et la derni&#xE8;re valeur utilis&#xE9;e par chaque compteur.</span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><img alt="" style="padding : 1px;" src="imgspec/NouvelElement1.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps2"><span class="rvts6"><br></span></p>
<p class="rvps2"><span class="rvts6"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	