



	
		<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Type de compteur &quot;Simplifi&#xE9;&quot;</h1>
				
				
				<div id="topic_breadcrumb">
					<a href="Nouveauchapitre16.html">Contr&#xF4;les communs</a> &#x203A;&#x203A; <a href="SmartCounter1.html">SmartCounter</a> &#x203A;&#x203A; 
				</div>
				
			</div>
			
			<div id="topic_header_nav">
				
				
				<a href="SmartCounter1.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				
				
				<a href="Nouveauchapitre67.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				
				
				<a href="Nouveauchapitre69.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				
			</div>
			
			<div class="clear"></div>
		</div>
	
	
	<div id="topic_content">
		
<p></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts58">Type de compteur</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts51">Format de compteur &quot;1,2,3...&quot;</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/SmartCounter19.png"><span class="rvts7"> </span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts7">Sp&#xE9;cifier le format du compteur.</span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SmartCounter20.png"><span class="rvts7"> </span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts7">Exemple avec le nombre </span><span class="rvts19">25</span><span class="rvts7">&#xA0;:</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SmartCounter21.png"><span class="rvts7"> </span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts57">Pas&#xA0;:</span><span class="rvts7"> </span></p>
<p class="rvps4"><span class="rvts7">Sp&#xE9;cifier le pas&#xA0;pour incr&#xE9;menter le compteur.</span></p>
<ul style="text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;"><ul style="text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;">
<li style="margin-left: 0px" class="rvps11"><span class="rvts34">Valeur de d&#xE9;part</span><span class="rvts7">&#xA0;: D&#xE9;finir la valeur de d&#xE9;part. </span></li>
<li style="margin-left: 0px" class="rvps11"><span class="rvts34">Valeur</span><span class="rvts7">&#xA0;: Permet de visualiser la derni&#xE8;re valeur appliqu&#xE9;e sur un fichier.</span></li>
<li style="margin-left: 0px" class="rvps11"><span class="rvts34">Valeur suivante</span><span class="rvts7">&#xA0;: Permet de visualiser la prochaine valeur qui sera appliqu&#xE9;e sur un fichier.</span></li>
</ul></ul>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/SmartCounter22.png"><span class="rvts7"> </span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts51">Format de compteur &#x2019;&#x2019;A,B,C&#x2019;&#x2019;</span></p>
<p class="rvps4"><span class="rvts57">Pas&#xA0;:</span></p>
<p class="rvps4"><span class="rvts7">Sp&#xE9;cifier le pas&#xA0;pour incr&#xE9;menter le compteur.</span></p>
<p class="rvps11"><span class="rvts7">Avec un pas de 1 le compteur s&#x2019;incr&#xE9;mentera comme suit&#xA0;: A ; B ; C&#xA0;; D etc.</span></p>
<p class="rvps11"><span class="rvts7">Avec un pas de 2 le compteur s&#x2019;incr&#xE9;mentera comme suit&#xA0;: A&#xA0;; C&#xA0;; E&#xA0;; G etc. </span></p>
<ul style="text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;"><ul style="text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;">
<li style="margin-left: 0px" class="rvps39"><span class="rvts34">Valeur de d&#xE9;part</span><span class="rvts7">&#xA0;: D&#xE9;finir la valeur de d&#xE9;part. </span></li>
<li style="margin-left: 0px" class="rvps39"><span class="rvts34">Valeur</span><span class="rvts7">&#xA0;: Permet de visualiser la derni&#xE8;re valeur appliqu&#xE9;e sur un fichier.</span></li>
<li style="margin-left: 0px" class="rvps37"><span class="rvts34">Valeur suivante</span><span class="rvts7">&#xA0;: Permet de visualiser la prochaine valeur qui sera appliqu&#xE9;e sur un fichier.</span></li>
</ul></ul>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts51">Format de compteur &#x2019;&#x2019;Liste personnalis&#xE9;e&#x2019;&#x2019;</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/SmartCounter23.png"><span class="rvts7"> </span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<ul style="text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps37"><span class="rvts19">Cr&#xE9;ation de la liste personnalis&#xE9;e.</span></li>
</ul>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/SmartCounter24.png"><span class="rvts7"> </span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts7">L&#x2019;ic&#xF4;ne </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SmartCounter50.png"><span class="rvts7"> permet d&#x2019;ouvrir une fen&#xEA;tre pour cr&#xE9;er une liste.</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/SmartCounter25.png"><span class="rvts7"> </span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts7">Il est possible d&#x2019;ouvrir une liste personnalis&#xE9;e depuis un fichier texte, en utilisant l&#x2019;ic&#xF4;ne </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SmartCounter51.png"><span class="rvts7"> .</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts7">L&#x2019;ic&#xF4;ne </span><img width="19" height="25" alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SmartCounter52.png"><span class="rvts7"> permet de d&#xE9;finir le s&#xE9;parateur utilis&#xE9; dans la liste (dans cet exemple le s&#xE9;parateur est le caract&#xE8;re&#xA0;</span><span class="rvts19">;</span><span class="rvts7">).</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="padding : 1px;" src="imgspec/SmartCounter26.png"><span class="rvts7"> </span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts7">L&#x2019;ic&#xF4;ne </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SmartCounter53.png"><span class="rvts7"> permet de lier la liste personnalis&#xE9;e &#xE0; un fichier txt existant, la liste est alors charg&#xE9;e dans la fen&#xEA;tre qui elle est gris&#xE9;e&#xA0;:</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SmartCounter27.png"><span class="rvts7"> </span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts7">Pour rompre le lien, il suffit de cliquer sur </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SmartCounter50.png"><span class="rvts7"> et valider le message&#xA0;:</span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/SmartCounter28.png"><span class="rvts7"> </span></p>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p class="rvps4"><span class="rvts57">Pas&#xA0;:</span></p>
<p class="rvps4"><span class="rvts7">Sp&#xE9;cifier le pas&#xA0;pour incr&#xE9;menter le compteur.</span></p>
<p class="rvps11"><span class="rvts7">Avec un pas de 1 le compteur prendra les valeurs de la liste comme suit&#xA0;: A5 ; B10 ; C15&#xA0;; D20 etc.</span></p>
<p class="rvps11"><span class="rvts7">Avec un pas de 2 le compteur prendra les valeurs de la liste comme suit&#xA0;: A5&#xA0;; C15&#xA0;; E25&#xA0;; G35 etc. </span></p>
<ul style="text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;"><ul style="text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;">
<li style="margin-left: 0px" class="rvps39"><span class="rvts34">Valeur de d&#xE9;part</span><span class="rvts7">&#xA0;: D&#xE9;finir la valeur de d&#xE9;part. </span></li>
<li style="margin-left: 0px" class="rvps39"><span class="rvts34">Valeur</span><span class="rvts7">&#xA0;: Permet de visualiser la derni&#xE8;re valeur appliqu&#xE9;e sur un fichier.</span></li>
<li style="margin-left: 0px" class="rvps39"><span class="rvts34">Valeur suivante</span><span class="rvts7">&#xA0;: Permet de visualiser la prochaine valeur qui sera appliqu&#xE9;e sur un fichier.</span></li>
</ul></ul>
<p class="rvps4"><span class="rvts7"><br></span></p>
<p></p>

	</div>
	
	
		<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017  by Visiativ. All Rights Reserved.
			</div>
		</div>
	
	

	
