



	
		<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Options de nomenclature affichage des composants enfants</h1>
				
				
				<div id="topic_breadcrumb">
					<a href="PrsentationdelutilitaireIntegrat.html">Integration</a> &#x203A;&#x203A; Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Configuration.html">Configuration</a> &#x203A;&#x203A; 
				</div>
				
			</div>
			
			<div id="topic_header_nav">
				
				
				<a href="Configuration.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				
				
				<a href="MiseajourSpeedpak.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				
				
				<a href="Optionsdenomenclaturenumerodepie.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				
			</div>
			
			<div class="clear"></div>
		</div>
	
	
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts6"><br></span></p>
<p class="rvps13"><span class="rvts7">Op&#xE9;ration possible sur les assemblages. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1860.png"><span class="rvts7"> </span></p>
<p class="rvps13"><span class="rvts7">Cette op&#xE9;ration permet d&apos;acc&#xE9;der aux propri&#xE9;t&#xE9;s de la configuration, options de nomenclature.</span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1859.png"><span class="rvts7"> </span></p>
<ul style="text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps13"><span class="rvts19">Montrer</span><span class="rvts7">, </span><span class="rvts19">Cacher</span><span class="rvts7"> ou </span><span class="rvts19">Promouvoir</span><span class="rvts7"> les composants enfants.</span></li>
<li class="rvps13"><span class="rvts7">Sur quelle configuration, la </span><span class="rvts19">configuration active</span><span class="rvts7">, </span><span class="rvts19">toutes les configurations</span><span class="rvts7"> ou </span><span class="rvts19">sp&#xE9;cifier un nom</span><span class="rvts7"> de configuration.</span></li>
</ul>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7"> </span></p>
<p></p>

	</div>
	
	
		<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017  by Visiativ. All Rights Reserved.
			</div>
		</div>
	
	

	
