

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Option du document (Nombre entier)</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Document.html">Document</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Document.html"><img src="fr/imgspec/arrow_up.png" alt="Parent"></a>
				
				<a href="OptiondudocumentNombrevirgule.html"><img src="fr/imgspec/arrow_left.png" alt="Previous"></a>
				
				<a href="OptiondudocumentTexte.html"><img src="fr/imgspec/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces, les assemblages ou les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition00.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet d&apos;acc&#xE9;der aux options type &quot;Valeur enti&#xE8;re&quot; des documents. Pour plus d&apos;information sur l&apos;utilisation de ces param&#xE8;tres, voir aide API (Aide/Aide API).</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Warning.png"><span class="rvts7"> </span><span class="rvts30">L&apos;utilisation de cette op&#xE9;ration est r&#xE9;serv&#xE9;e aux utilisateurs avanc&#xE9;s.</span></p>
<p class="rvps3"><span class="rvts7">Le choix se fait parmi une liste d&apos;option correspondant &#xE0; l&apos;&#xE9;num&#xE9;rateur &quot;</span><span class="rvts18">swUserPreferenceIntegerValue_e</span><span class="rvts7">&quot; :</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Oper-document101.png"><span class="rvts7"> &#xA0;</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Oper-document100.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7">Le num&#xE9;ro de la valeur est &#xE0; choisir parmi une liste. Ce num&#xE9;ro doit &#xEA;tre num&#xE9;rique. Il peut &#xEA;tre saisi au clavier ou &#xE0; l&apos;aide de la liste d&#xE9;roulante :</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Propriete9-1.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts46">Exemple</span><span class="rvts22"> : </span><span class="rvts42">Comment changer les options d&apos;unit&#xE9;s du document SOLIDWORKS sur longueur=mm et masse=Kg ?</span></p>
<p class="rvps3"><span class="rvts42"><br></span></p>
<p class="rvps3"><span class="rvts8">- 1&#xB0; On change les unit&#xE9;s du syst&#xE8;me sur &quot;</span><span class="rvts16">custom</span><span class="rvts8">&quot;.</span></p>
<p class="rvps7"><span class="rvts8">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;L&apos;option &quot;</span><span class="rvts16">swUnitSystem</span><span class="rvts8">&quot;, dans la liste des &quot;Options du document (Nombre entier)&quot;,&#xA0;doit &#xEA;tre &#xE9;gale &#xE0; l&apos;enum&#xE9;rateur &quot;</span><span class="rvts16">swUnitSystem_e</span><span class="rvts8">&quot; qui contient&#xA0;:</span></p>
<p class="rvps3"><span class="rvts8">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; swUnitSystem_CGS = 1</span></p>
<p class="rvps3"><span class="rvts8">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; swUnitSystem_MKS = 2</span></p>
<p class="rvps3"><span class="rvts8">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; swUnitSystem_IPS = 3</span></p>
<p class="rvps3"><span class="rvts8">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; &#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; </span><span class="rvts16">swUnitSystem_Custom = 4</span></p>
<p class="rvps3"><span class="rvts8">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; swUnitSystem_MMGS = 5</span></p>
<p class="rvps3"><span class="rvts8"><br></span></p>
<p class="rvps3"><span class="rvts8">- 2&#xB0; On change les unit&#xE9;s de longueur sur &quot;</span><span class="rvts16">mm</span><span class="rvts8">&quot;.</span></p>
<p class="rvps7"><span class="rvts8">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; L&apos;option &quot;</span><span class="rvts16">swUnitsMassPropLength</span><span class="rvts8">&quot;, dans la liste des &quot;Options du document (Nombre entier)&quot;, doit &#xEA;tre &#xE9;gale &#xE0; l&apos;enum&#xE9;rateur &quot;</span><span class="rvts16">swLengthUnit_e</span><span class="rvts8">&quot; qui contient&#xA0;:</span></p>
<p class="rvps7"><span class="rvts8"><br></span></p>
<p class="rvps12"><span class="rvts16">swMM = 0</span></p>
<p class="rvps12"><span class="rvts8">swCM = 1</span></p>
<p class="rvps12"><span class="rvts8">swMETER = 2</span></p>
<p class="rvps12"><span class="rvts8">swINCHES = 3</span></p>
<p class="rvps12"><span class="rvts8">swFEET = 4</span></p>
<p class="rvps12"><span class="rvts8">swFEETINCHES = 5</span></p>
<p class="rvps12"><span class="rvts8">swANGSTROM = 6</span></p>
<p class="rvps12"><span class="rvts8">swNANOMETER = 7</span></p>
<p class="rvps12"><span class="rvts8">swMICRON = 8</span></p>
<p class="rvps12"><span class="rvts8">swMIL = 9</span></p>
<p class="rvps12"><span class="rvts8">swUIN = 10</span></p>
<p class="rvps12"><span class="rvts8"><br></span></p>
<p class="rvps3"><span class="rvts8">- 3&#xB0; On change les unit&#xE9;s de masse sur &quot;</span><span class="rvts16">kg</span><span class="rvts8">&quot;.</span></p>
<p class="rvps7"><span class="rvts8">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;L&apos;option &quot;</span><span class="rvts16">swUnitsMassPropMass</span><span class="rvts8">&quot;, dans la liste des &quot;Options du document (Nombre entier)&quot;, doit &#xEA;tre &#xE9;gale &#xE0; l&apos;&#xE9;num&#xE9;rateur &quot;</span><span class="rvts16">swUnitsMassPropMass_e</span><span class="rvts8">&quot; qui contient&#xA0;:</span></p>
<p class="rvps7"><span class="rvts8"><br></span></p>
<p class="rvps3"><span class="rvts8">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; swUnitsMassPropMass_Milligrams = 1</span></p>
<p class="rvps3"><span class="rvts8">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; swUnitsMassPropMass_Grams = 2&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; </span></p>
<p class="rvps3"><span class="rvts8">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; </span><span class="rvts16">swUnitsMassPropMass_Kilograms = 3</span></p>
<p class="rvps3"><span class="rvts8">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; swUnitsMassPropMass_Pounds = 4</span></p>
<p class="rvps3"><span class="rvts16"><br></span></p>
<p class="rvps3"><span class="rvts16">Remarque 1:</span></p>
<p class="rvps7"><span class="rvts8">Pour trouver ces &#xE9;num&#xE9;rateurs et leurs valeurs, le plus simple est de faire un enregistrement de macro. Ici pour cette m&#xEA;me action on retrouve les valeurs expliqu&#xE9;es plus haut.</span></p>
<p class="rvps3"><span class="rvts43"><br></span></p>
<p class="rvps3"><span class="rvts44">Sub</span><span class="rvts43"> main()</span></p>
<p class="rvps11"><span class="rvts44">Set</span><span class="rvts43"> swApp = Application.SldWorks</span></p>
<p class="rvps11"><span class="rvts44">Set</span><span class="rvts43"> Part = swApp.ActiveDoc</span></p>
<p class="rvps11"><span class="rvts43">boolstatus = Part.Extension.SetUserPreferenceInteger(swUserPreferenceIntegerValue_e.</span><span class="rvts45">swUnitSystem</span><span class="rvts43">, 0, swUnitSystem_e.swUnitSystem_Custom)</span></p>
<p class="rvps11"><span class="rvts43">boolstatus = Part.Extension.SetUserPreferenceInteger(swUserPreferenceIntegerValue_e.</span><span class="rvts45">swUnitsMassPropLength</span><span class="rvts43">, 0, swLengthUnit_e.swMM)</span></p>
<p class="rvps11"><span class="rvts43">boolstatus = Part.Extension.SetUserPreferenceInteger(swUserPreferenceIntegerValue_e.</span><span class="rvts45">swUnitsMassPropMass</span><span class="rvts43">, 0, swUnitsMassPropMass_e.swUnitsMassPropMass_Grams)</span></p>
<p class="rvps3"><span class="rvts44">End</span><span class="rvts43"> Sub</span></p>
<p class="rvps3"><span class="rvts8"><br></span></p>
<p class="rvps7"><span class="rvts8">Par contre, dans la macro, on ne trouve pas les valeurs (o&#xF9; sont enregistr&#xE9;s les &#xE9;num&#xE9;rateurs). Pour retrouver la valeur contenue dans un &#xE9;num&#xE9;rateur, il suffit d&apos;appuyer sur F2 dans l&apos;&#xE9;diteur de macro et l&apos;explorateur d&apos;objet appara&#xEE;t. En tapant le nom de l&apos;&#xE9;num&#xE9;rateur, par exemple &#xAB;&#xA0;</span><span class="rvts16">swUnitsMassPropMass</span><span class="rvts8">&#xA0;&#xBB;, dans la recherche, on visualise les variables et les valeurs contenues.</span></p>
<p class="rvps7"><img width="552" height="434" alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/NouvelElement2.png"><span class="rvts8"> </span></p>
<p class="rvps3"><span class="rvts16">Remarque 2:</span></p>
<p class="rvps3"><span class="rvts8">Par cette m&#xE9;thode il est possible de piloter toutes les options de SOLIDWORKS </span></p>
<p class="rvps3"><span class="rvts8">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; Case &#xE0; cocher (exemple &quot;Habillage/Toujours afficher le texte avec la m&#xEA;me taille&quot;) </span></p>
<p class="rvps3"><span class="rvts8">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; Nombre entier (exemple changement d&apos;unit&#xE9; comme ci dessus)</span></p>
<p class="rvps3"><span class="rvts8">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; Nombre &#xE0; virgule (exemple &quot;Annotation/Longueur de la ligne d&apos;attache&quot;)</span></p>
<p class="rvps3"><span class="rvts8">&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0; Texte (exemple &quot;Annotation/R&#xE9;f&#xE9;rences/Prochain label&quot;)</span></p>
<p class="rvps3"><span class="rvts8"><br></span></p>
<p class="rvps3"><span class="rvts16">Remarque 3:</span></p>
<p class="rvps3"><span class="rvts8">Certaines options sont li&#xE9;es les unes aux autres, comme dans l&apos;exemple ci-dessus.</span></p>
<p class="rvps3"><span class="rvts8">Si l&#x2019;on n&apos;avait pas r&#xE9;gl&#xE9; les unit&#xE9;s du syst&#xE8;me sur &quot;</span><span class="rvts16">custom</span><span class="rvts8">&quot;, le changement d&apos;unit&#xE9; de masse et de longueur aurait &#xE9;t&#xE9; sans effet.</span></p>
<p class="rvps3"><span class="rvts8"><br></span></p>
<p class="rvps3"><span class="rvts16">Remarque 4:</span></p>
<p class="rvps3"><span class="rvts8">Ceci permet le r&#xE9;glage des options du document uniquement (onglet &quot;Propri&#xE9;t&#xE9;s du document&quot;).</span></p>
<p class="rvps3"><span class="rvts8">Les options du syst&#xE8;me ne sont pas concern&#xE9;es par un traitement batch.</span></p>
<p class="rvps3"><span class="rvts8"><br></span></p>
<p class="rvps3"><span class="rvts8"><br></span></p>
<p class="rvps3"><span class="rvts8"><br></span></p>
<p class="rvps3"><span class="rvts8"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	