

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Option du document (Case &#xE0; cocher)</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Document.html">Document</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Document.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Modifierlattributdelectureseuled.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="OptiondudocumentNombrevirgule.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces, les assemblages ou les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition00.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet d&apos;acc&#xE9;der aux options type &quot;Case &#xE0; cocher&quot; des documents. Pour plus d&apos;information sur l&apos;utilisation de ces param&#xE8;tres, voir aide API (Aide/Aide API).</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Warning.png"><span class="rvts7"> </span><span class="rvts30">L&apos;utilisation de cette op&#xE9;ration est r&#xE9;serv&#xE9;e aux utilisateurs avanc&#xE9;s.</span></p>
<p class="rvps3"><span class="rvts7">Le choix se fait parmi une liste d&apos;option correspondant &#xE0; l&apos;&#xE9;num&#xE9;rateur &quot;</span><span class="rvts18">swUserPreferenceToggle_e</span><span class="rvts7">&quot; :</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Oper-document91.png"><span class="rvts7"> </span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Oper-document92.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7">La valeur peut &#xEA;tre &#xE9;gale &#xE0; </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Oui-Non.png"></p>
<p class="rvps3"><span class="rvts30"><br></span></p>
<p class="rvps3"><span class="rvts30"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	