



	
		<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Placer un titre (nom du document analys&#xE9;)</h1>
				
				
				<div id="topic_breadcrumb">
					<a href="PrsentationdelutilitaireIntegrat.html">Integration</a> &#x203A;&#x203A; Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Divers.html">Divers</a> &#x203A;&#x203A; 
				</div>
				
			</div>
			
			<div id="topic_header_nav">
				
				
				<a href="Divers.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				
				
				<a href="Placeruntextelibredanslerapport.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				
				
				<a href="Exemplederapport.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				
			</div>
			
			<div class="clear"></div>
		</div>
	
	
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces, les assemblages ou les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1971.png"></p>
<p class="rvps13"><span class="rvts7">Cette op&#xE9;ration permet de placer un titre dans le rapport de contr&#xF4;le. </span></p>
<p class="rvps13"><span class="rvts7">Le rapport doit, au pr&#xE9;alable, avoir &#xE9;t&#xE9; cr&#xE9;&#xE9;.</span></p>
<p class="rvps13"><span class="rvts7">Le choix du rapport se fait en choisissant parmi la liste des op&#xE9;rations ayant cr&#xE9;&#xE9;s des </span><span class="rvts68">rapports de contr&#xF4;le</span><span class="rvts7">.</span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1970.png"><span class="rvts7"> </span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts49">Exemple</span><span class="rvts7"> : Un titre sera &quot;</span><span class="rvts19">Toujours</span><span class="rvts7">&quot; plac&#xE9; dans le rapport &quot;</span><span class="rvts19">Rapport.txt</span><span class="rvts7">&quot; en sp&#xE9;cifiant l&apos;</span><span class="rvts19">Emplacement</span><span class="rvts7"> et le nom du document trait&#xE9;. (Voir un </span><span class="rvts68">exemple</span><span class="rvts7"> de rapport).</span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1969.png"><span class="rvts7"> &#xA0;</span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p></p>

	</div>
	
	
		<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017  by Visiativ. All Rights Reserved.
			</div>
		</div>
	
	

	
