

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Question</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Proprit1.html">Propri&#xE9;t&#xE9;</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Proprit1.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="ModifieunepropritdusommaireWindo.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Recopielensembledesproprietesdud.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces, les assemblages ou les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition00.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet de cr&#xE9;er ou de modifier une propri&#xE9;t&#xE9; dont la valeur sera le r&#xE9;sultat d&apos;une question.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> :</span></p>
<p class="rvps3"><span class="rvts7">Cr&#xE9;er la propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">Code_Article</span><span class="rvts7">&quot;, en concat&#xE9;nant les valeurs des propri&#xE9;t&#xE9;s &quot;</span><span class="rvts18">Code</span><span class="rvts7">&quot; et &quot;</span><span class="rvts18">Nom</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Oper-Propriete151.png"></p>
<p class="rvps3"><span class="rvts7">Ce qui donnera :</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Oper-Propriete152.png"></p>
<p class="rvps3"><span class="rvts30"><br></span></p>
<p class="rvps3"><span class="rvts30"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	