



	
		<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Rapport</h1>
				
				
				<div id="topic_breadcrumb">
					<a href="PrsentationdelutilitaireDependen.html">Dependencies</a> &#x203A;&#x203A; <a href="UtilisationdelutilitaireDependen.html">Utilisation de l&apos;utilitaire &quot;Dependencies&quot;</a> &#x203A;&#x203A; 
				</div>
				
			</div>
			
			<div id="topic_header_nav">
				
				
				<a href="UtilisationdelutilitaireDependen.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				
				
				<a href="Appliquer.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				
				
				<a href="OngletVoirlesdpendances.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				
			</div>
			
			<div class="clear"></div>
		</div>
	
	
	<div id="topic_content">
		
<p></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement929.png"><span class="rvts7"> </span></p>
<p class="rvps13"><span class="rvts7">En cochant cette option, on se donne la possibilit&#xE9; de visualiser le rapport apr&#xE8;s le lancement de l&apos;analyse.</span></p>
<p class="rvps13"><span class="rvts57">R&#xE9;sultat</span><span class="rvts7"> :</span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement928.png"><span class="rvts57"> </span></p>
<p class="rvps13"><span class="rvts7">Dans cet exemple le rapport indique que les r&#xE9;f&#xE9;rences ont &#xE9;t&#xE9; modifi&#xE9;es dans 3 assemblages et une mise en plan.</span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p></p>

	</div>
	
	
		<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017  by Visiativ. All Rights Reserved.
			</div>
		</div>
	
	

	
