

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">R&#xE9;cup&#xE8;re une partie de propri&#xE9;t&#xE9;</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Proprit1.html">Propri&#xE9;t&#xE9;</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Proprit1.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				<a href="Recopielensembledesproprietesdud.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				<a href="Pice.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces, les assemblages ou les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Condition00.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet de cr&#xE9;er une propri&#xE9;t&#xE9; en r&#xE9;cup&#xE9;rant une partie du contenu d&apos;une autre propri&#xE9;t&#xE9;.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> :</span></p>
<p class="rvps3"><span class="rvts7">Dans la valeur de la propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">Code_Article</span><span class="rvts7">&quot;, on souhaite en r&#xE9;cup&#xE9;rer les 5 premier caract&#xE8;res et cr&#xE9;er la propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">Projet</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Oper-Propriete16.png"><span class="rvts30"> </span><span class="rvts7">&quot;</span><span class="rvts18">Code_Article</span><span class="rvts7">&quot; = 00084-00118-001 &#xA0;--&gt; &#xA0;&quot;</span><span class="rvts18">Projet</span><span class="rvts7">&quot; = 00084</span></p>
<p class="rvps3"><span class="rvts7">Pour la &quot;</span><span class="rvts18">Partie &#xE0; r&#xE9;cup&#xE9;rer</span><span class="rvts7">&quot; utiliser le caract&#xE8;re &quot;</span><span class="rvts18">s</span><span class="rvts7">&quot; pour r&#xE9;cup&#xE9;rer les caract&#xE8;res depuis le d&#xE9;but de la cha&#xEE;ne et utiliser le caract&#xE8;re &quot;</span><span class="rvts18">e</span><span class="rvts7">&quot; pour r&#xE9;cup&#xE9;rer les caract&#xE8;res depuis la fin de la cha&#xEE;ne.</span></p>
<p class="rvps3"><span class="rvts7">&quot;</span><span class="rvts18">1s6</span><span class="rvts7">&quot; r&#xE9;cup&#xE8;re la cha&#xEE;ne des 6 premier caract&#xE8;res depuis le d&#xE9;but.</span></p>
<p class="rvps3"><span class="rvts7">&quot;</span><span class="rvts18">7e5</span><span class="rvts7">&quot; r&#xE9;cup&#xE8;re les 5 caract&#xE8;res en partant du 7i&#xE8;me.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	