



	
		<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Recopie l&apos;ensemble des propri&#xE9;t&#xE9;s du document pi&#xE8;ce initial sur les d&#xE9;pendances</h1>
				
				
				<div id="topic_breadcrumb">
					<a href="PrsentationdelutilitaireIntegrat.html">Integration</a> &#x203A;&#x203A; Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Proprit1.html">Propri&#xE9;t&#xE9;</a> &#x203A;&#x203A; 
				</div>
				
			</div>
			
			<div id="topic_header_nav">
				
				
				<a href="Proprit1.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				
				
				<a href="Question.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				
				
				<a href="Rcupreunepartiedeproprit.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				
			</div>
			
			<div class="clear"></div>
		</div>
	
	
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces</span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1706.png"><span class="rvts7">. </span></p>
<p class="rvps13"><span class="rvts7">Cette op&#xE9;ration permet de recopier toutes les propri&#xE9;t&#xE9;s des fichiers s&#xE9;lectionn&#xE9;s, sur leurs d&#xE9;pendances. En particulier pour les pi&#xE8;ces sym&#xE9;triques ou les pi&#xE8;ces d&#xE9;riv&#xE9;es.</span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1705.png"><span class="rvts7"> </span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7">Au cas o&#xF9; la propri&#xE9;t&#xE9; existe d&#xE9;j&#xE0; sur le document sym&#xE9;trique ou d&#xE9;riv&#xE9;, il est possible de choisir si la valeur doit &#xEA;tre ou non remplac&#xE9;e.</span></p>
<p class="rvps13"><span class="rvts7">Les propri&#xE9;t&#xE9;s issues du document initial peuvent provenir soit :</span></p>
<ul style="text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps13"><span class="rvts7">Du document (onglet &quot;Personnaliser&quot; des propri&#xE9;t&#xE9;s).</span></li>
<li class="rvps13"><span class="rvts7">Depuis toutes les configurations (onglet &quot;Sp&#xE9;cifiques &#xE0; la configuration&quot; des propri&#xE9;t&#xE9;s).</span></li>
<li class="rvps13"><span class="rvts7">Depuis la configuration active.</span></li>
<li class="rvps13"><span class="rvts7">Depuis toutes les configurations (onglet &quot;Personnaliser&quot; et onglet &quot;Sp&#xE9;cifiques &#xE0; la configuration&quot; des propri&#xE9;t&#xE9;s).</span></li>
</ul>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p></p>

	</div>
	
	
		<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017  by Visiativ. All Rights Reserved.
			</div>
		</div>
	
	

	
