

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Reconstruction et barre de reprise</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Document.html">Document</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Document.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="OptiondudocumentTexte.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Zoomtout.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces, les assemblages ou les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition00.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet de reconstruire tous les documents : pi&#xE8;ce, assemblage ou mise en plan.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Oper-document1.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7">Si la barre de reprise d&apos;un document n&apos;est pas descendue &#xE0; la fin de l&apos;arbre de construction, l&apos;option peut &#xEA;tre choisie de reconstruire le document en laissant la barre de reprise o&#xF9; elle se trouve ou bien de reconstruire et de la descendre automatiquement. </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	