

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Remplacer le fond de plan d&apos;un feuillet</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Plan.html">Plan</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Plan.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Reconstruirelesfeuillesdunemisee.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Remplacerlefonddeplandesfeuilles.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition0000.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration remplace le fond de plan d&apos;une ou plusieurs feuilles pr&#xE9;sentes dans la mise en plan.</span></p>
<p class="rvps3"><span class="rvts7">Le num&#xE9;ro de la feuille est &#xE0; choisir parmi une liste. Ce num&#xE9;ro doit &#xEA;tre num&#xE9;rique. Il peut &#xEA;tre saisi au clavier ou &#xE0; l&apos;aide de la liste d&#xE9;roulante :</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Choix_Nombres2.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Le fond de plan de la feuille &quot;</span><span class="rvts18">5</span><span class="rvts7">&quot; sera remplac&#xE9; par le fond de plan &quot;</span><span class="rvts18">C:\SWSystemOptions\Fonds de plan\a4 iso.slddrt</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Oper-plan133.png"><span class="rvts7"> &#xA0;</span></p>
<p class="rvps3"><span class="rvts7">Au-lieu de sp&#xE9;cifier une feuille, vous pouvez utiliser le caract&#xE8;re &quot;</span><span class="rvts18">*</span><span class="rvts7">&quot; afin de remplacer le fond de plan de toutes les feuilles.</span></p>
<p class="rvps3"><span class="rvts7">Si vous souhaitez remplacer plusieurs feuilles, utilisez le caract&#xE8;re &quot;</span><span class="rvts18">;</span><span class="rvts7">&quot; comme s&#xE9;parateur.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Oper-plan134.png"><span class="rvts7"> &#xA0; &#xA0;ou &#xA0; &#xA0; </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Oper-plan132.png"></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	