



	
		<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Remplacer le fond de plan d&apos;un feuillet</h1>
				
				
				<div id="topic_breadcrumb">
					<a href="PrsentationdelutilitaireIntegrat.html">Integration</a> &#x203A;&#x203A; Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Plan.html">Plan</a> &#x203A;&#x203A; 
				</div>
				
			</div>
			
			<div id="topic_header_nav">
				
				
				<a href="Plan.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				
				
				<a href="Remplacerlefonddeplandesfeuillet.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				
				
				<a href="Renommeruncalque.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				
			</div>
			
			<div class="clear"></div>
		</div>
	
	
	<div id="topic_content">
		
<p></p>
<p class="rvps13"><span class="rvts6"><br></span></p>
<p class="rvps13"><span class="rvts7">Op&#xE9;ration possible sur les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1840.png"></p>
<p class="rvps13"><span class="rvts7">Cette op&#xE9;ration permet de remplacer un fond de plan en fonction du num&#xE9;ro de feuillet et son format.</span></p>
<p class="rvps13"><span class="rvts7">Le num&#xE9;ro de la feuille est &#xE0; choisir parmi une liste. Ce num&#xE9;ro doit &#xEA;tre num&#xE9;rique. Il peut &#xEA;tre saisi au clavier ou &#xE0; l&apos;aide de la liste d&#xE9;roulante :</span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1839.png"><span class="rvts7"> </span></p>
<p class="rvps13"><span class="rvts7">On peut utiliser le caract&#xE8;re &quot;</span><span class="rvts19">*</span><span class="rvts7">&quot;.</span></p>
<p class="rvps13"><span class="rvts7">Le format de la feuille est &#xE0; choisir parmi une liste d&#xE9;roulante :</span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1838.png"><span class="rvts7"> &#xA0;</span></p>
<p class="rvps13"><span class="rvts49">Exemple</span><span class="rvts7"> : Si le format de la 2i&#xE8;me feuille est &quot;</span><span class="rvts19">A4H</span><span class="rvts7">&quot; alors l&apos;op&#xE9;ration consiste &#xE0; remplacer le fond de plan par le fond de plan &quot;</span><span class="rvts19">A4Axemble.slddrt</span><span class="rvts7">&quot;, dans toutes les mises en plan s&#xE9;lectionn&#xE9;es.</span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/NouvelElement1837.png"><span class="rvts7"> &#xA0;</span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p class="rvps13"><span class="rvts7"><br></span></p>
<p></p>

	</div>
	
	
		<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017  by Visiativ. All Rights Reserved.
			</div>
		</div>
	
	

	
