

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Renomme la configuration</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Configuration.html">Configuration</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Configuration.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				<a href="Reconstructiondechaqueconfigurat.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				<a href="Supprimeuneconfiguration.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps7"><span class="rvts6"><br></span></p>
<p class="rvps7"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces ou les assemblages. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Condition000.png"></p>
<p class="rvps7"><span class="rvts7">Cette op&#xE9;ration permet de renommer le nom d&apos;une configuration.</span></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p class="rvps7"><span class="rvts24">Exemple</span><span class="rvts7"> : Renommer la configuration &quot;</span><span class="rvts18">Position Fixe</span><span class="rvts7">&quot; par &quot;</span><span class="rvts18">POSITION FIXE</span><span class="rvts7">&quot; du fichier parcouru.</span></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p class="rvps7"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Oper-config1.png"><span class="rvts7"> </span></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p class="rvps7"><span class="rvts7">Vous pouvez utiliser le caract&#xE8;re joker &quot;</span><span class="rvts18">*</span><span class="rvts7">&quot; afin de renommer toutes ou partie des configurations.</span></p>
<p class="rvps7"><span class="rvts37">Exemples</span><span class="rvts7"> :</span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps7"><span class="rvts7">&quot;</span><span class="rvts18">*</span><span class="rvts7">&quot; prendra en compte toutes les configurations.</span></li>
<li class="rvps7"><span class="rvts7">&quot;</span><span class="rvts18">Nom de la configuration &#xE0; renommer</span><span class="rvts7">&quot; &quot;</span><span class="rvts18">d&#xE9;but*</span><span class="rvts7">&quot; - &quot;</span><span class="rvts18">Nouveau nom</span><span class="rvts7">&quot; &quot;</span><span class="rvts18">DEBUT</span><span class="rvts7">*&quot; --&gt; toutes les configurations seront renomm&#xE9;es en rempla&#xE7;ant le d&#xE9;but du nom </span><span class="rvts18">d&#xE9;but</span><span class="rvts7"> par </span><span class="rvts18">DEBUT</span><span class="rvts7">.</span></li>
<li class="rvps7"><span class="rvts7">&quot;</span><span class="rvts18">Nom de la configuration &#xE0; renommer</span><span class="rvts7">&quot; &quot;*</span><span class="rvts18">usin&#xE9;</span><span class="rvts7">&quot; - &quot;</span><span class="rvts18">Nouveau nom</span><span class="rvts7">&quot; &quot;*</span><span class="rvts18">USINE</span><span class="rvts7">&quot; --&gt; toutes les configurations seront renomm&#xE9;es en rempla&#xE7;ant la fin du nom </span><span class="rvts18">usin&#xE9;</span><span class="rvts7"> par </span><span class="rvts18">USINE</span><span class="rvts7">.</span></li>
<li class="rvps7"><span class="rvts7">&quot;</span><span class="rvts18">Nom de la configuration &#xE0; renommer</span><span class="rvts7">&quot; &quot;*</span><span class="rvts18">11*</span><span class="rvts7">&quot; - &quot;</span><span class="rvts18">Nouveau nom</span><span class="rvts7">&quot; &quot;*</span><span class="rvts18">22</span><span class="rvts7">*&quot; --&gt; toutes les configurations seront renomm&#xE9;es en rempla&#xE7;ant dans le nom </span><span class="rvts18">11</span><span class="rvts7"> par </span><span class="rvts18">22</span><span class="rvts7">.</span></li>
</ul>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p class="rvps7"><span class="rvts7">Vous pouvez utiliser les instructions suivantes :</span></p>
<p class="rvps7"><span class="rvts18">&lt;FileName&gt;</span><span class="rvts7">, pour afficher le nom du document.</span></p>
<p class="rvps7"><span class="rvts18">$Nom de la propri&#xE9;t&#xE9;</span><span class="rvts7">, pour afficher une valeur de propri&#xE9;t&#xE9; du document (si le nom de la propri&#xE9;t&#xE9; contient un espace, utiliser %20% pour remplacer cet espace).</span></p>
<p class="rvps7"><span class="rvts18">&lt;Configuration&gt;</span><span class="rvts7">, pour afficher le nom de la configuration active du moment.</span></p>
<p class="rvps7"><span class="rvts18">&lt;Date&gt;</span><span class="rvts7">, pour afficher la date.</span></p>
<p class="rvps7"><span class="rvts18">&lt;Time&gt;</span><span class="rvts7">, pour afficher l&apos;heure.</span></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p class="rvps7"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Warning.png"><span class="rvts7"> </span><span class="rvts35">RESPECTER LA CASSE</span></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;">
<li class="rvps7"><span class="rvts7">En g&#xE9;n&#xE9;rale la description d&apos;une configuration prend le nom de la configuration. Par le choix dans le menu d&#xE9;roulant, il est &#xE9;galement possible de &quot;</span><span class="rvts18">Renommer</span><span class="rvts7">&quot; ou &quot;</span><span class="rvts18">Ne pas renommer</span><span class="rvts7">&quot;, &#xA0;la description de la configuration.</span></li>
</ul>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	