

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">S&#xE9;lection des r&#xE9;pertoires et des fichiers &#xE0; traiter</h1>
				
				</div>
			<div id="topic_header_nav">
				<a href="Mentionslgales.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="PrsentationdelutilitaireIntegrat.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps26"><a name="_Toc335812575"></a>
<a class="rvts52" href="Slectiondesrpertoiresetdesfichie.html#_Toc474416844">Objectif</a></p>
<p class="rvps26"><a class="rvts52" href="Slectiondesrpertoiresetdesfichie.html#_Toc474416845">Ajout de r&#xE9;pertoires</a></p>
<p class="rvps26"><a class="rvts52" href="Slectiondesrpertoiresetdesfichie.html#_Toc474416846">Filtres de s&#xE9;lection</a></p>
<p class="rvps26"><a class="rvts52" href="Slectiondesrpertoiresetdesfichie.html#_Toc474416847">Ajout de documents</a></p>
<p class="rvps26"><a class="rvts52" href="Slectiondesrpertoiresetdesfichie.html#_Toc474416848">Affichage de la liste s&#xE9;lectionn&#xE9;e</a></p>
<p class="rvps26"><a class="rvts52" href="Slectiondesrpertoiresetdesfichie.html#_Toc474416849">Menu contextuel de s&#xE9;lection</a></p>
<p class="rvps26"><a class="rvts52" href="Slectiondesrpertoiresetdesfichie.html#_Toc474416850">Les options de s&#xE9;lection</a></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<h1 class="rvps28"><a name="_Toc474416844"></a>
<span class="rvts0"><span class="rvts55">Objectif</span></span></h1>
<p class="rvps23"><span class="rvts56">Un bon nombre d&#x2019;utilitaires de la barre d&#x2019;outils </span><a class="rvts70" href="http://www.mycadservices.com/store/fr/apps/mycadtools.html">myCADtools</a><span class="rvts56"> utilise une interface afin de s&#xE9;lectionner les dossiers et/ou les fichiers &#xE0; traiter.</span></p>
<p class="rvps23"><span class="rvts56">Cette section d&#xE9;taille toutes les possibilit&#xE9;s, les combinaisons et les options que cette interface propose. Il est possible d&#x2019;ajouter, dans la liste, des r&#xE9;pertoires ou des fichiers.</span></p>
<p class="rvps20"><span class="rvts56">Cette partie de l&#x2019;interface se pr&#xE9;sente comme suit&#xA0;:</span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps20"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement162.png"></p>
<h1 class="rvps28"><a name="_Toc474416845"></a>
<span class="rvts0"><span class="rvts55">Ajout de r&#xE9;pertoires</span></span></h1>
<p class="rvps23"><span class="rvts56">En appuyant sur cet ic&#xF4;ne </span><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement161.png"><span class="rvts56"> on peut ajouter un r&#xE9;pertoire dans la s&#xE9;lection. </span></p>
<p class="rvps23"><span class="rvts56">On ne peut choisir qu&#x2019;un seul r&#xE9;pertoire. Il faut cliquer autant de fois sur cet ic&#xF4;ne que de dossiers &#xE0; ajouter.</span></p>
<h1 class="rvps28"><a name="_Toc474416846"></a>
<span class="rvts0"><span class="rvts55">Filtres de s&#xE9;lection</span></span></h1>
<p class="rvps23"><span class="rvts56">En cliquant sur cet ic&#xF4;ne </span><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement160.png"><span class="rvts56"> on peut sp&#xE9;cifier les types de documents SOLIDWORKS &#xE0; proposer pour la s&#xE9;lection. On peut &#xE9;galement demander &#xE0; ne traiter que les fichiers r&#xE9;pondant &#xE0; certains crit&#xE8;res tels que&#xA0;:</span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps38"><span class="rvts0"><span class="rvts71">Les fichiers ayant une propri&#xE9;t&#xE9; &#xE9;gale ou diff&#xE9;rente &#xE0; une certaine valeur</span></span></li>
<li style="margin-left: 0px" class="rvps38"><span class="rvts0"><span class="rvts71">Les fichiers cr&#xE9;&#xE9;s depuis une date donn&#xE9;e</span></span></li>
<li style="margin-left: 0px" class="rvps38"><span class="rvts0"><span class="rvts71">Les fichiers de Toolbox</span></span></li>
<li style="margin-left: 0px" class="rvps38"><span class="rvts0"><span class="rvts71">Etc&#x2026;</span></span></li>
</ul>
<p class="rvps22"><span class="rvts56"><br></span></p>
<p class="rvps20"><span class="rvts56">La bo&#xEE;te de dialogue suivante appara&#xEE;t&#xA0;:</span></p>
<p class="rvps20"><span class="rvts56"><br></span></p>
<p class="rvps3"><img width="422" height="538" alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement159.png"></p>
<p class="rvps7"><span class="rvts50">&#xAB;&#xA0;Type des documents &#xE0; traiter&#xA0;&#xBB;</span><span class="rvts6"> cocher les types de fichiers que la fonction &#xAB;&#xA0;Ajout de documents&#xA0;&#xBB; proposera.</span></p>
<p class="rvps7"><span class="rvts50">&#xAB;&#xA0;Filtres&#xA0;&#xBB; </span><span class="rvts6">dans cette partie de la boite de dialogue on peut cocher certains filtres de s&#xE9;lection&#xA0;:</span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps38"><span class="rvts0"><span class="rvts71">Tri sur la propri&#xE9;t&#xE9; &#xAB;&#xA0;IsFastener&#xA0;&#xBB; si elle existe. La valeur peut &#xEA;tre &#xAB;&#xA0;0&#xA0;&#xBB;&#xA0; ou &#xAB;&#xA0;1&#xA0;&#xBB;.</span></span></li>
</ul>
<h3 class="rvps39"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement158.png"></h3>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps38"><span class="rvts0"><span class="rvts71">Tri sur les documents issus de la Toolbox&#xA0;:</span></span></li>
</ul>
<h3 class="rvps39"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement157.png"></h3>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps38"><span class="rvts0"><span class="rvts71">Tri en fonction de la pr&#xE9;sence ou non, dans le document, d&#x2019;une propri&#xE9;t&#xE9; SOLIDWORKS, le statut de cette propri&#xE9;t&#xE9; peut &#xEA;tre sp&#xE9;cifi&#xE9;&#xA0;:</span></span></li>
</ul>
<h4 class="rvps40"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement156.png"></h4>
<h4 class="rvps40"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement155.png"><span class="rvts0"><span class="rvts72"> En cliquant sur cet ic&#xF4;ne on arrive directement sur la fen&#xEA;tre &#xAB;&#xA0;</span></span><span class="rvts0"><span class="rvts73">Options Propri&#xE9;t&#xE9;s</span></span><span class="rvts0"><span class="rvts72">&#xA0;&#xBB; afin de r&#xE9;cup&#xE9;rer &#xE9;ventuellement les propri&#xE9;t&#xE9;s du document actif, de la configuration active ou bien d&#x2019;une configuration en particulier&#xA0;:</span></span></h4>
<p class="rvps3"><img width="546" height="387" alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement154.png"></p>
<h4 class="rvps40"><span class="rvts0"><span class="rvts72">Le tri peut &#xE9;galement s&#x2019;effectuer en fonction de &#xAB;&#xA0;</span></span><span class="rvts0"><span class="rvts73">Sur la date</span></span><span class="rvts0"><span class="rvts72">&#xA0;&#xBB; du dernier enregistrement du fichier. La prise en compte peut &#xEA;tre &#xAB;&#xA0;&#xC9;gale&#xA0;&#xBB;, &#xAB;&#xA0;Inf&#xE9;rieur&#xA0;&#xBB; ou &#xAB;&#xA0;Sup&#xE9;rieur&#xA0;&#xBB; &#xE0; une date sp&#xE9;cifi&#xE9;e&#xA0;:</span></span></h4>
<h4 class="rvps40"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement153.png"></h4>
<h4 class="rvps40"><span class="rvts0"><span class="rvts72">Le traitement peut &#xE9;ventuellement &#xAB;&#xA0;</span></span><span class="rvts0"><span class="rvts73">Ne pas prendre en compte les fichiers en lecture seule</span></span><span class="rvts0"><span class="rvts72">&#xA0;&#xBB;.</span></span></h4>
<h1 class="rvps28"><a name="_Toc474416847"></a>
<span class="rvts0"><span class="rvts55">Ajout de documents</span></span></h1>
<p class="rvps20"><span class="rvts56">En fonction des filtres &#xE9;ventuellement sp&#xE9;cifi&#xE9;s, en cliquant sur cet ic&#xF4;ne </span><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement152.png"><span class="rvts56"> on peut ajouter un ou plusieurs documents &#xE0; la s&#xE9;lection.</span></p>
<p class="rvps20"><span class="rvts56">Les documents peuvent &#xEA;tre de tout type de fichiers SOLIDWORKS&#xA0;: mises en plan, pi&#xE8;ces, assemblages, mod&#xE8;les de documents etc...</span></p>
<p class="rvps20"><span class="rvts56">Les dossiers peuvent &#xEA;tre Gliss&#xE9;s/D&#xE9;pos&#xE9;s dans la fen&#xEA;tre depuis l&#x2019;explorateur Windows.</span></p>
<p class="rvps20"><span class="rvts56">Si un document SOLIDWORKS est ouvert, il est possible d&#x2019;ajouter ce document &#xE0; la liste </span><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement151.png"><span class="rvts56">.</span></p>
<p class="rvps20"><span class="rvts56">La s&#xE9;lection d&#x2019;un assemblage par cet ic&#xF4;ne </span><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement150.png"><span class="rvts56"> permet d&#x2019;ins&#xE9;rer automatiquement toutes les mises en plan des d&#xE9;pendances de cet assemblage (ainsi que la mise en plan de l&#x2019;assemblage s&#xE9;lectionn&#xE9;).</span></p>
<p class="rvps20"><a name="_GoBack"></a>
<span class="rvts56">Deux fen&#xEA;tres appara&#xEE;tront, la premi&#xE8;re pour s&#xE9;lectionner une pi&#xE8;ce ou un assemblage, la seconde pour s&#xE9;lectionner le r&#xE9;pertoire de recherche des mises en plan.</span></p>
<h1 class="rvps28"><a name="_Toc474416848"></a>
<span class="rvts0"><span class="rvts55">Affichage de la liste s&#xE9;lectionn&#xE9;e</span></span></h1>
<p class="rvps7"><span class="rvts6">La liste des fichiers et des r&#xE9;pertoires s&#xE9;lectionn&#xE9;s appara&#xEE;t dans la fen&#xEA;tre. En cliquant sur cet ic&#xF4;ne </span><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement149.png"><span class="rvts6"> on peut d&#xE9;velopper ou r&#xE9;duire la liste de s&#xE9;lection&#xA0;:</span></p>
<ul style="text-indent: 0px; margin-left: 28px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps42"><span class="rvts0"><span class="rvts74">&#xAB;&#xA0;D&#xE9;veloppe&#xA0;&#xBB;</span></span><span class="rvts0"><span class="rvts71">&#xA0;: </span></span></li>
</ul>
<p class="rvps43"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement148.png"></p>
<p class="rvps43"><span class="rvts64"><br></span></p>
<p class="rvps43"><span class="rvts64">Si les fichiers s&#xE9;lectionn&#xE9;s sont li&#xE9;s par une connexion &#xE0; un coffre-fort PDM (une licence myPDMtools est n&#xE9;cessaire) les ic&#xF4;nes de la liste se pr&#xE9;sentent comme suit&#xA0;:</span></p>
<p class="rvps43"><span class="rvts64"><br></span></p>
<p class="rvps43"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement147.png"></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps45"><span class="rvts0"><span class="rvts71">&#xAB;&#xA0;</span></span><span class="rvts0"><span class="rvts74">R&#xE9;duit</span></span><span class="rvts0"><span class="rvts71">&#xA0;&#xBB;&#xA0;: </span></span></li>
</ul>
<p class="rvps43"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement146.png"></p>
<p class="rvps43"><span class="rvts64"><br></span></p>
<ul style="text-indent: 0px; margin-left: 28px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps47"><span class="rvts75">&#xAB;&#xA0;Affichage&#xA0;&#xBB;&#xA0;:</span></li>
</ul>
<p class="rvps3"><span class="rvts6">En cliquant sur cet ic&#xF4;ne </span><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement145.png"><span class="rvts6"> on peut choisir le type d&#x2019;affichage de la s&#xE9;lection.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement144.png"></p>
<ul style="text-indent: 0px; margin-left: 28px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps47"><span class="rvts75">&#xAB; D&#xE9;composer &#xBB;&#xA0;:</span></li>
</ul>
<p class="rvps7"><span class="rvts6">Si un dossier a &#xE9;t&#xE9; s&#xE9;lectionn&#xE9;, les fichiers contenus ne sont pas affich&#xE9;s. En cliquant sur </span><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement143.png"><span class="rvts6"> il est possible de d&#xE9;composer le dossier afin d&#x2019;afficher tous les fichiers.</span></p>
<p class="rvps7"><span class="rvts6">Lors de l&#x2019;ajout des fichiers et des r&#xE9;pertoires on peut demander &#xE0; l&#x2019;utilitaire de prendre automatiquement en compte les sous r&#xE9;pertoires et les fichiers d&#xE9;pendants.</span></p>
<p class="rvps3"><span class="rvts6">Pour cela il suffit de cocher les cases&#xA0;:</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement142.png"></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement141.png"></p>
<h1 class="rvps28"><a name="_Toc474416849"></a>
<span class="rvts0"><span class="rvts55">Menu contextuel de s&#xE9;lection</span></span></h1>
<p class="rvps23"><span class="rvts56">Lorsque l&#x2019;on fait un clic droit dans la fen&#xEA;tre d&#x2019;affichage, des fichiers et r&#xE9;pertoires &#xE0; traiter, on acc&#xE8;de &#xE0; un menu contextuel permettant un certain nombre d&#x2019;actions.</span></p>
<p class="rvps3"><span class="rvts6"><br></span></p>
<p class="rvps20"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement140.png"></p>
<p class="rvps23"><span class="rvts56"><br></span></p>
<p class="rvps3"><span class="rvts6">Certaines de ces actions peuvent &#xEA;tre gris&#xE9;es lorsqu&#x2019;aucunes s&#xE9;lections n&#x2019;est d&#xE9;j&#xE0; pr&#xE9;sentes.</span></p>
<p class="rvps7"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement139.png"><span class="rvts50"> &#xAB;&#xA0;Enregistrer la liste&#xA0;&#xBB;</span><span class="rvts6"> permet de m&#xE9;moriser, dans un fichier externe, la liste des fichiers et des r&#xE9;pertoires s&#xE9;lectionn&#xE9;s. Cette liste pourra &#xEA;tre recharg&#xE9;e dans un autre utilitaire myCADtools afin d&#x2019;effectuer une autre t&#xE2;che sur cette m&#xEA;me liste</span></p>
<p class="rvps7"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement138.png"><span class="rvts50"> &#xAB;&#xA0;Cr&#xE9;er un favori&#xA0;&#xBB;</span><span class="rvts6"> permet de m&#xE9;moriser, dans un fichier externe, la liste des fichiers et des r&#xE9;pertoires s&#xE9;lectionn&#xE9;s. Cette liste pourra &#xEA;tre rajout&#xE9;e &#xE0; une s&#xE9;lection</span></p>
<p class="rvps7"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement137.png"><span class="rvts50"> &#xAB;&#xA0;Ouvrir une liste sauvegard&#xE9;e&#xA0;&#xBB;</span><span class="rvts6"> permet de recharger une liste de fichiers et r&#xE9;pertoires que l&#x2019;on aura, au pr&#xE9;alable, sauvegard&#xE9;e. Cela &#xE9;vite, pour chaque utilitaire, de s&#xE9;lectionner manuellement les m&#xEA;mes s&#xE9;lections. Si des s&#xE9;lections sont d&#xE9;j&#xE0; pr&#xE9;sentes dans la fen&#xEA;tre, celles-ci seront remplac&#xE9;es par la liste import&#xE9;e.</span></p>
<p class="rvps7"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement136.png"><span class="rvts6"> </span><span class="rvts50">&#xAB;&#xA0;Ajouter un favori&#xA0;&#xBB;</span><span class="rvts6"> permet d&#x2019;ajouter &#xE0; la s&#xE9;lection, d&#xE9;j&#xE0; pr&#xE9;sente dans la fen&#xEA;tre, une liste pr&#xE9;alablement m&#xE9;moris&#xE9;e. Il est possible d&#x2019;ajouter plusieurs favoris afin de compl&#xE9;ter la s&#xE9;lection. Cette liste de favoris sera vue comme un dossier dans la liste.</span></p>
<p class="rvps7"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement135.png"><span class="rvts6"> </span><span class="rvts50">&#xAB;&#xA0;Ajouter un fichier CSV contenant une liste de fichiers&#xA0;&#xBB;</span><span class="rvts6"> permet d&#x2019;ajouter une liste de fichiers qui aura &#xE9;t&#xE9; cr&#xE9;&#xE9;e &#xE9;ventuellement par une tierce personne. Ce fichier sera au format CSV.</span></p>
<p class="rvps7"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement134.png"><span class="rvts6"> </span><span class="rvts50">&#xAB;&#xA0;Fichiers r&#xE9;cents&#xA0;&#xBB;</span><span class="rvts6"> permet d&#x2019;acc&#xE9;der aux (10 Maxi) fichiers, favoris pr&#xE9;c&#xE9;demment utilis&#xE9;s.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement133.png"><span class="rvts50"> &#xAB;&#xA0;G&#xE9;rer les colonnes&#xA0;&#xBB;</span><span class="rvts6"> permet de personnaliser l&#x2019;affichage de la liste.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement132.png"></p>
<p class="rvps20"><span class="rvts56">On peut ainsi:</span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps38"><span class="rvts0"><span class="rvts71">Supprimer une colonne, seulement si elle est activ&#xE9;e. </span></span><span class="rvts0"><span class="rvts76">Notez que la colonne &#xAB;&#xA0;Nom&#xA0;&#xBB; ne peut pas &#xEA;tre supprim&#xE9;e (gris&#xE9;e)</span></span></li>
<li style="margin-left: 0px" class="rvps38"><span class="rvts0"><span class="rvts71">Ajouter une colonne en cliquant sur le bouton </span></span><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement131.png"><span class="rvts0"><span class="rvts71">.</span></span></li>
<li style="margin-left: 0px" class="rvps38"><span class="rvts0"><span class="rvts71">Le nombre inscrit par d&#xE9;faut (100) peut &#xEA;tre modifier par </span></span><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement130.png"><span class="rvts0"><span class="rvts71">. Cette taille pourra se modifier automatiquement en ajustant, dans la liste, la colonne &#xE0; l&#x2019;aide de la souris.</span></span></li>
</ul>
<h3 class="rvps39"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement129.png"></h3>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps38"><span class="rvts0"><span class="rvts71">Seules les colonnes rajout&#xE9;es par l&#x2019;utilisateur peuvent &#xEA;tre supprim&#xE9;es. S&#xE9;lectionner le nom et cliquer sur </span></span><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement128.png"><span class="rvts0"><span class="rvts71">.</span></span></li>
</ul>
<p class="rvps7"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement127.png"><span class="rvts6"> </span><span class="rvts50">&#xAB;&#xA0;Visualiser la liste compl&#xE8;te des fichiers&#xA0;&#xBB;</span><span class="rvts6"> permet de lister tous les fichiers de la liste &#xE0; travers un fichier texte.</span></p>
<p class="rvps7"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement126.png"><span class="rvts6"> </span><span class="rvts50">&#xAB;&#xA0;D&#xE9;composer (dossier, favori, csv)&#xA0;&#xBB;</span><span class="rvts6"> permet de d&#xE9;compresser et d&#x2019;afficher &#x2018;&#xE0; plat&#x2019; tous les fichiers compris dans les favoris ins&#xE9;r&#xE9;s et les r&#xE9;pertoires s&#xE9;lectionn&#xE9;s.</span></p>
<p class="rvps7"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement125.png"><span class="rvts6"> </span><span class="rvts50">&#xAB;&#xA0;Ouvrir un explorateur&#xA0;&#xBB;</span><span class="rvts6"> permet d&#x2019;ouvrir un explorateur Windows afin de faire glisser les fichiers et r&#xE9;pertoires dans la liste.</span></p>
<p class="rvps7"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement124.png"><span class="rvts6"> </span><span class="rvts50">&#xAB;&#xA0;Ins&#xE9;rer les mises en plan des documents s&#xE9;lectionner&#xA0;&#xBB;</span><span class="rvts6"> permet de joindre automatiquement &#xE0; la liste les mises en plan des fichiers pi&#xE8;ces et assemblages s&#xE9;lectionn&#xE9;s.</span></p>
<p class="rvps7"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement123.png"><span class="rvts6"> </span><span class="rvts50">&#xAB;&#xA0;Aper&#xE7;u&#xA0;&#xBB;</span><span class="rvts6"> permet, lorsque le clic droit est fait sur un fichier, d&#x2019;ouvrir une fen&#xEA;tre dans laquelle un aper&#xE7;u du fichier est visible.</span></p>
<p class="rvps7"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement122.png"><span class="rvts6"> </span><span class="rvts50">&#xAB;&#xA0;Propri&#xE9;t&#xE9;s&#xA0;&#xBB;</span><span class="rvts6"> permet, lorsque le clic droit est fait sur un fichier, d&#x2019;ouvrir la fen&#xEA;tre des propri&#xE9;t&#xE9;s Windows de ce fichier.</span></p>
<p class="rvps7"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement121.png"><span class="rvts6"> </span><span class="rvts50">&#xAB;&#xA0;Options&#xA0;&#xBB;</span><span class="rvts6"> permet d&#x2019;acc&#xE9;der &#xE0; la fen&#xEA;tre des &#xAB;&#xA0;Options&#xA0;&#xBB; pour la s&#xE9;lection en fonction de certains crit&#xE8;res.</span></p>
<h1 class="rvps28"><a name="_Toc474416850"></a>
<span class="rvts0"><span class="rvts55">Les options de s&#xE9;lection</span></span></h1>
<p class="rvps23"><span class="rvts56">Les options de s&#xE9;lection se d&#xE9;finissent au travers de 4 bo&#xEE;tes de dialogue. Le fait de sp&#xE9;cifier des filtres aura comme cons&#xE9;quence d&#x2019;automatiser le traitement de la liste des fichiers et r&#xE9;pertoires s&#xE9;lectionn&#xE9;s dans la liste.</span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps38"><span class="rvts0"><span class="rvts71">La premi&#xE8;re de ces boites de dialogue concerne la s&#xE9;lection des mises en plan. En fait ici on va sp&#xE9;cifier la m&#xE9;thode de recherche des mises en plan attach&#xE9;es aux fichiers pi&#xE8;ces et assemblages s&#xE9;lectionn&#xE9;s&#xA0;:</span></span></li>
</ul>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement120.png"></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps38"><span class="rvts0"><span class="rvts71">La seconde bo&#xEE;te de dialogue concerne la possibilit&#xE9; de s&#xE9;lectionner les documents &#xE0; traiter en fonction des propri&#xE9;t&#xE9;s des documents. On peut ainsi r&#xE9;cup&#xE9;rer les propri&#xE9;t&#xE9;s du document actif, de la configuration active ou bien encore d&#x2019;une configuration particuli&#xE8;re.</span></span></li>
</ul>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement119.png"></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps38"><span class="rvts0"><span class="rvts71">La troisi&#xE8;me bo&#xEE;te de dialogue permet de sp&#xE9;cifier la pr&#xE9;sence et les dimensions d&#x2019;affichage des colonnes ainsi que l&#x2019;ajout de nouvelles colonnes.</span></span></li>
</ul>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement118.png"></p>
<p class="rvps7"><span class="rvts6">Dans cette bo&#xEE;te de dialogue nous pouvons &#xAB;&#xA0;</span><span class="rvts50">Ajouter</span><span class="rvts6">&#xA0;&#xBB; l&#x2019;affichage d&#x2019;une colonne ou bien &#xAB;&#xA0;</span><span class="rvts50">Supprimer</span><span class="rvts6">&#xA0;&#xBB; une colonne ajout&#xE9;e apr&#xE8;s l&#x2019;avoir s&#xE9;lectionn&#xE9;e. En effet les colonnes propos&#xE9;es jusqu&#x2019;&#xE0; &#xAB;&#xA0;Coffre ePDM&#xA0;&#xBB; sont pr&#xE9;sentes par d&#xE9;faut et ne peuvent &#xEA;tre que &#xAB;&#xA0;S&#xE9;lectionn&#xE9;es&#xA0;&#xBB; ou &#xAB;&#xA0;D&#xE9;s&#xE9;lectionn&#xE9;es&#xA0;&#xBB;. Une colonne peut &#xEA;tre cach&#xE9;e de la liste en affectant une largeur &#xE9;gale &#xE0; &#xAB;&#xA0;</span><span class="rvts50">0</span><span class="rvts6">&#xA0;&#xBB;. Pour les 9 premi&#xE8;res colonnes, pour les mettre &#xE0; &#xAB;&#xA0;</span><span class="rvts50">0</span><span class="rvts6">&#xA0;&#xBB; il faut le faire directement dans la liste en raccourcissant la largeur au minimum avec la souris.</span></p>
<p class="rvps7"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement117.png"></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement116.png"></p>
<ul style="text-indent: 0px; margin-left: 28px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps49"><span class="rvts64">La propri&#xE9;t&#xE9; affich&#xE9;e sera soit la propri&#xE9;t&#xE9; du document, soit la propri&#xE9;t&#xE9; du document r&#xE9;f&#xE9;renc&#xE9; (la propri&#xE9;t&#xE9; de la pi&#xE8;ce utilis&#xE9;e par la mise en plan par exemple).</span></li>
</ul>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement115.png"></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps38"><span class="rvts0"><span class="rvts71">La quatri&#xE8;me et derni&#xE8;re bo&#xEE;te de dialogue concerne la gestion des documents ePDM.</span></span></li>
</ul>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement114.png"></p>
<p class="rvps7"><span class="rvts6">Dans un environnement </span><span class="rvts50">SOLIDWORKS Enterprise PDM</span><span class="rvts6"> certains utilitaires permettent des actions de copies, de duplications de projets n&#xE9;cessitant la gestion des documents par rapport au coffre fort ePDM. On indiquera ici ce que devra faire l&#x2019;utilitaire.</span></p>
<ul style="text-indent: 0px; margin-left: 71px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps51"><span class="rvts64">&#xAB;&#xA0;</span><span class="rvts75">Extraire les documents</span><span class="rvts64">&#xA0;&#xBB;&#xA0;: L&#x2019;action de s&#xE9;lectionner un r&#xE9;pertoire ou plusieurs fichiers depuis un coffre ePDM impliquera que les fichiers soient extraits avant d&#x2019;&#xEA;tre trait&#xE9;s par l&#x2019;utilitaire.</span></li>
<li style="margin-left: 0px" class="rvps51"><span class="rvts64">&#xAB;&#xA0;</span><span class="rvts75">Archiver les documents &#xE0; la fin du traitement</span><span class="rvts64">&#xA0;&#xBB;&#xA0;: Lorsque l&#x2019;utilitaire aura termin&#xE9; le traitement demand&#xE9;, les fichiers seront archiv&#xE9;s dans le coffre ePDM.</span></li>
<li style="margin-left: 0px" class="rvps51"><span class="rvts64">&#xAB;&#xA0;</span><span class="rvts75">Ajouter un commentaire d&#x2019;archivage</span><span class="rvts64">&#xA0;&#xBB;&#xA0;: Lors de l&#x2019;action d&#x2019;archivage des documents ePDM, suite au traitement par l&#x2019;utilitaire, il est possible d&#x2019;ajouter un commentaire.</span></li>
</ul>
<p class="rvps7"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement113.png"></p>
<ul style="text-indent: 0px; margin-left: 71px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps51"><span class="rvts64">&#xAB;&#xA0;</span><span class="rvts75">Vider le cache &#xE0; la fin du traitement</span><span class="rvts64">&#xA0;&#xBB;&#xA0;: Lorsque le traitement des fichiers s&#xE9;lectionn&#xE9;s ePDM ont &#xE9;t&#xE9; trait&#xE9;s par l&#x2019;utilitaire, il est possible de vider le cache automatiquement.</span></li>
</ul>
<p class="rvps7"><span class="rvts6">Si la suite d&#x2019;outils </span><span class="rvts50">myPDMtools</span><span class="rvts6"> n&#x2019;est pas encore immatricul&#xE9;e vous pouvez le faire en cliquant sur le bouton &#xAB;&#xA0;Immatriculer myPDMtools&#xA0;&#xBB;, la bo&#xEE;te de dialogue vous sera alors propos&#xE9;e.</span></p>
<p class="rvps7"><span class="rvts6"><br></span></p>
<p class="rvps7"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement112.png"></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps38"><span class="rvts0"><span class="rvts71">La quatri&#xE8;me bo&#xEE;te de dialogue propose 2 modes d&#x2019;extraction concernant les configurations et des feuilles de mise en plan pour le traitement.</span></span></li>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps53"><span class="rvts0"><span class="rvts71">Mode &#xAB;&#xA0;</span></span><span class="rvts0"><span class="rvts74">Standard</span></span><span class="rvts0"><span class="rvts71">&#xA0;&#xBB;&#xA0;:</span></span></li>
</ul></ul>
<p class="rvps2"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement111.png"></p>
<h3 class="rvps54"><span class="rvts0"><span class="rvts71">En utilisant ce mode il est possible d&#x2019;afficher les configurations des fichiers s&#xE9;lectionn&#xE9;s et/ou l&#x2019;affichage des diff&#xE9;rentes feuilles si la mise en plan en contient.</span></span></h3>
<h3 class="rvps44"><span class="rvts0"><span class="rvts71"><br></span></span></h3>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;"><ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside;">
<li style="margin-left: 0px" class="rvps53"><span class="rvts0"><span class="rvts71">Mode &#xAB;&#xA0;</span></span><span class="rvts0"><span class="rvts74">Avanc&#xE9;</span></span><span class="rvts0"><span class="rvts71">&#xA0;&#xBB;&#xA0;: </span></span><span class="rvts0"><span class="rvts77">(Pour l&#x2019;instant ce mode n&#x2019;est pas actif)</span></span></li>
</ul></ul>
<p class="rvps2"><img alt="" style="padding : 1px;" src="fr/imgspec/NouvelElement110.png"></p>
<h3 class="rvps55"><span class="rvts0"><span class="rvts71">En fonction de certains outils de myCADtools, il est n&#xE9;cessaire de prendre en compte toutes les feuilles d&#x2019;une mise en plan. </span></span><span class="rvts0"><span class="rvts78">Par exemple</span></span><span class="rvts0"><span class="rvts71"> l&#x2019;utilisation de &#xAB;&#xA0;</span></span><span class="rvts0"><span class="rvts74">BatchConverter</span></span><span class="rvts0"><span class="rvts71">&#xA0;&#xBB; permet de convertir toutes les mises en plan s&#xE9;lectionn&#xE9;es pour les convertir en DWG et cr&#xE9;er (ou pas) une conversion par feuille.</span></span></h3>
<p class="rvps2"><span class="rvts6"><br></span></p>
<p class="rvps7"><span class="rvts6"><br></span></p>
<p class="rvps7"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts6"><br></span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	