

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Supprimer les tables sur le plan</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Plan.html">Plan</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Plan.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				<a href="Renommeruncalque.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				<a href="Supprimeuncalque.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Condition0000.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration supprime la table d&apos;un certain type pr&#xE9;sente sur la feuille sp&#xE9;cifi&#xE9;e de toute les mises en plan s&#xE9;lectionn&#xE9;es.</span></p>
<p class="rvps3"><span class="rvts7">Le type de table pris en compte est soit &quot;</span><span class="rvts18">Nomenclature</span><span class="rvts7">&quot; soit &quot;</span><span class="rvts18">R&#xE9;vision</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><span class="rvts7">Le num&#xE9;ro de la feuille est &#xE0; choisir parmi une liste. Ce num&#xE9;ro doit &#xEA;tre num&#xE9;rique. Il peut &#xEA;tre saisi au clavier ou &#xE0; l&apos;aide de la liste d&#xE9;roulante :</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Propriete9-1.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Supprime une table de &quot;</span><span class="rvts18">Nomenclature</span><span class="rvts7">&quot; de la feuille &quot;</span><span class="rvts18">1</span><span class="rvts7">&quot; de toutes les mises en plan s&#xE9;lectionn&#xE9;es.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="imgspec/Oper-plan5.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	