

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Supprime la table de famille</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Configuration.html">Configuration</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Configuration.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Supprimeuneconfiguration.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Supprimelesconfigurationsinactiv.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps7"><span class="rvts6"><br></span></p>
<p class="rvps7"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces ou les assemblages. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition000.png"></p>
<p class="rvps7"><span class="rvts7">Cette op&#xE9;ration permet de supprimer </span><span class="rvts38">la table de famille du document, elle s&apos;utilise avec la condition &quot;</span><span class="rvts39">En fonction de la table de famille</span><span class="rvts38">&quot; pour n&apos;ouvrir que les documents comportant une table de famille (condition &quot;</span><a class="rvts40" href="Enfonctiondelatabledefamille.html">Document</a><span class="rvts38">&quot;</span><span class="rvts38">)</span><span class="rvts7">.</span></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p class="rvps7"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	