

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Supprimer certaines cotes des mises en plan</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Plan.html">Plan</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Plan.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				<a href="Supprimeuncalque.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				<a href="Configuration.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Condition0000.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration supprime toutes les cotes ou certaines cotes (bancales, pilotantes, pilot&#xE9;es) pr&#xE9;sentes dans une ou plusieurs feuilles.</span></p>
<p class="rvps3"><span class="rvts7">Le num&#xE9;ro de la feuille est &#xE0; choisir parmi une liste. Ce num&#xE9;ro doit &#xEA;tre num&#xE9;rique. Il peut &#xEA;tre saisi au clavier ou &#xE0; l&apos;aide de la liste d&#xE9;roulante : </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Choix_Nombres2.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7">Au-lieu de sp&#xE9;cifier une feuille, vous pouvez utiliser le caract&#xE8;re &quot;</span><span class="rvts18">*</span><span class="rvts7">&quot; afin de supprimer les cotes sur toutes les feuilles de la mises en plan trait&#xE9;e.</span></p>
<p class="rvps3"><span class="rvts7">Si vous souhaitez supprimer les cotes sur plusieurs feuilles, utilisez le caract&#xE8;re &quot;</span><span class="rvts18">;</span><span class="rvts7">&quot; comme s&#xE9;parateur.</span></p>
<p class="rvps3"><span class="rvts7">Il faut ensuite sp&#xE9;cifier le type de cote.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Sur la feuille &quot;</span><span class="rvts18">4</span><span class="rvts7">&quot;, &quot;</span><span class="rvts18">Toutes</span><span class="rvts7">&quot; les cote seront supprim&#xE9;es. </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Oper-plan16.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	