

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Une propri&#xE9;t&#xE9; existe</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursConditions.html">Ajouter une ou plusieurs &quot;Conditions&quot;</a> &#x203A;&#x203A; D&#xE9;tail des conditions &#x203A;&#x203A; <a href="Proprit.html">Propri&#xE9;t&#xE9;</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Proprit.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Unepropritestgaleoudiffrentedune.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Unepropritexisteavecunevaleurdon.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Le document test&#xE9; est une pi&#xE8;ce, un assemblage ou une mise en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition00.png"></p>
<p class="rvps3"><span class="rvts7">Applique l&apos;op&#xE9;ration si une propri&#xE9;t&#xE9; existe dans le document.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Si la propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">Traitement</span><span class="rvts7">&quot; existe dans le document, alors l&apos;op&#xE9;ration est appliqu&#xE9;e.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Propriete0.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7">Vous pouvez utiliser le caract&#xE8;re &quot;</span><span class="rvts18">*</span><span class="rvts7">&quot; plac&#xE9; devant ou derri&#xE8;re une cha&#xEE;ne de caract&#xE8;res sp&#xE9;cifique, afin de tester l&apos;existence d&apos;une propri&#xE9;t&#xE9; dans le document, comportant la cha&#xEE;ne de caract&#xE8;res.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : </span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Propriete1.png"><span class="rvts7"> </span><span class="rvts18">Pro*</span><span class="rvts7"> si une propri&#xE9;t&#xE9; commen&#xE7;ant par </span><span class="rvts18">Pro</span><span class="rvts7"> existe dans le document, alors l&apos;op&#xE9;ration est appliqu&#xE9;e.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Propriete2.png"><span class="rvts7"> </span><span class="rvts18">*000</span><span class="rvts7"> si une propri&#xE9;t&#xE9; se terminant par </span><span class="rvts18">000</span><span class="rvts7"> existe dans le document, alors l&apos;op&#xE9;ration est appliqu&#xE9;e.</span></p>
<p class="rvps3"><span class="rvts7">Vous pouvez &#xE9;galement d&#xE9;finir plusieurs propri&#xE9;t&#xE9;s en les s&#xE9;parant par le caract&#xE8;re &quot;</span><span class="rvts18">;</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : </span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Propriete3.png"><span class="rvts7"> Si les propri&#xE9;t&#xE9;s </span><span class="rvts18">Code_Article</span><span class="rvts7">, </span><span class="rvts18">Traitement</span><span class="rvts7"> et </span><span class="rvts18">Fournisseur</span><span class="rvts7"> existent dans le document, alors l&apos;op&#xE9;ration est appliqu&#xE9;e.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	