

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Une propri&#xE9;t&#xE9; est &#xE9;gale ou diff&#xE9;rente d&apos;une autre</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursConditions.html">Ajouter une ou plusieurs &quot;Conditions&quot;</a> &#x203A;&#x203A; D&#xE9;tail des conditions &#x203A;&#x203A; <a href="Proprit.html">Propri&#xE9;t&#xE9;</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Proprit.html"><img src="/img/arrow_up.png" alt="Parent"></a>
				
				<a href="Lenombredecaractresdelavaleur.html"><img src="/img/arrow_left.png" alt="Previous"></a>
				
				<a href="Unepropritexiste.html"><img src="/img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Le document test&#xE9; est une pi&#xE8;ce, un assemblage ou une mise en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Condition00.png"></p>
<p class="rvps3"><span class="rvts7">Applique l&apos;op&#xE9;ration seulement si deux propri&#xE9;t&#xE9;s existent dans le document.</span></p>
<p class="rvps3"><span class="rvts7">Le statut de la valeur retourn&#xE9; peut &#xEA;tre choisi &quot;</span><span class="rvts18">&#xC9;gale &#xE0;</span><span class="rvts7">&quot; ou &quot;</span><span class="rvts18">Diff&#xE9;rent de</span><span class="rvts7">&quot;. Le test peut se faire sur des valeurs num&#xE9;riques ou alphanum&#xE9;riques.</span></p>
<p class="rvps3"><span class="rvts7">Pour des valeurs num&#xE9;riques ou date on pourra choisir &quot;</span><span class="rvts18">Sup&#xE9;rieur ou &#xE9;gale &#xE0;</span><span class="rvts7">&quot;, &quot;</span><span class="rvts18">Sup&#xE9;rieur &#xE0;</span><span class="rvts7">&quot;, &quot;</span><span class="rvts18">Inf&#xE9;rieur ou &#xE9;gale &#xE0;</span><span class="rvts7">&quot; ou &quot;</span><span class="rvts18">Inf&#xE9;rieur &#xE0;</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Si, dans le document, la propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">Code_Article</span><span class="rvts7">&quot; existe et que sa valeur est diff&#xE9;rente de celle de la propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">Code_Vente</span><span class="rvts7">&quot; alors l&apos;op&#xE9;ration est appliqu&#xE9;e.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="imgspec/Propriete8.png"><span class="rvts23"> </span></p>
<p class="rvps3"><span class="rvts23"><br></span></p>
<p class="rvps3"><span class="rvts23"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	