

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Une propri&#xE9;t&#xE9; Windows est &#xE9;gale &#xE0;</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursConditions.html">Ajouter une ou plusieurs &quot;Conditions&quot;</a> &#x203A;&#x203A; D&#xE9;tail des conditions &#x203A;&#x203A; <a href="Document1.html">Document</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Document1.html"><img src="fr/imgspec/arrow_up.png" alt="Parent"></a>
				
				<a href="Letypedudocumentestuncomposantin.html"><img src="fr/imgspec/arrow_left.png" alt="Previous"></a>
				
				<a href="Testdansunexeautonome.html"><img src="fr/imgspec/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Le document test&#xE9; est une pi&#xE8;ce, un assemblage ou une mise en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="fr/imgspec/Condition00.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7">Applique l&apos;op&#xE9;ration en fonction de la valeur d&apos;une propri&#xE9;t&#xE9; Windows.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Si la valeur de la propri&#xE9;t&#xE9; Windows &quot;</span><span class="rvts18">Titre</span><span class="rvts7">&quot; est &#xE9;gale &#xE0; &quot;</span><span class="rvts18">Collage sp&#xE9;cial</span><span class="rvts7">&quot; alors l&apos;op&#xE9;ration est appliqu&#xE9;e.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="fr/imgspec/Document4.png"></p>
<p class="rvps3"><span class="rvts7">En cliquant sur les fl&#xE8;ches on peut acc&#xE9;der &#xE0; une liste d&#xE9;roulante afin de choisir la propri&#xE9;t&#xE9; Windows.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	