

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Acc&#xE8;s &#xE0; l&apos;aide</h1>
				
				<div id="topic_breadcrumb">
					<a href="Introduction1.html">Introduction</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Introduction1.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Introduction1.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Gnralitsdesutilitaires.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<h1 class="rvps15"><a name="_Toc349140131"></a>
<span class="rvts0"><span class="rvts55">Bienvenue dans l&#x2019;aide en ligne des utilitaires myCADtools</span></span></h1>
<p class="rvps16"><img width="451" height="43" alt="" style="padding : 1px;" src="img/NouvelElement174.png"></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps74"><span class="rvts56">Depuis le r&#xE9;pertoire d&#x2019;installation des utilitaires, vous pouvez lancer l&#x2019;aide en ligne (.chm, ou bien en cliquant sur l&#x2019;ic&#xF4;ne </span><img alt="" style="padding : 1px;" src="img/NouvelElement173.png"><span class="rvts56"> de l&#x2019;utilitaire.</span></p>
<p class="rvps74"><span class="rvts56">Conseils relatifs &#xE0; l&#x2019;utilisation de l&#x2019;aide.</span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps76"><span class="rvts58">Pour s&#xE9;lectionner une rubrique&#xA0;:</span></li>
</ul>
<p class="rvps74"><span class="rvts56">Utilisez l&#x2019;onglet sommaire et naviguez au travers des rubriques et des mots contenant un lien hypertexte.</span></p>
<ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;">
<li style="margin-left: 0px" class="rvps76"><span class="rvts58">Pour effectuer une recherche&#xA0;:</span></li>
</ul>
<p class="rvps77"><span class="rvts100">Cliquez sur l&#x2019;onglet </span><span class="rvts101">Rechercher</span><span class="rvts100">, entrez un terme et cliquez sur </span><span class="rvts102">Rechercher</span><span class="rvts100">. S&#xE9;lectionnez une rubrique et cliquez sur </span><span class="rvts102">Afficher</span><span class="rvts100">.</span></p>
<p class="rvps77"><span class="rvts100">Cr&#xE9;ez des recherches bool&#xE9;ennes &#xE0; l&apos;aide des op&#xE9;rateurs AND, OR, NOT et NEAR (ET, OU, SAUF et ADJ).</span></p>
<p class="rvps77"><span class="rvts100">S&#xE9;lectionnez </span><span class="rvts102">Rechercher dans les r&#xE9;sultats pr&#xE9;c&#xE9;dents</span><span class="rvts100"> afin d&apos;utiliser uniquement les rubriques trouv&#xE9;es auparavant pour la recherche suivante. Cette option vous permet d&apos;affiner votre recherche en ajoutant des mots-cl&#xE9;s.</span></p>
<p class="rvps77"><a name="_GoBack"></a>
<span class="rvts100">S&#xE9;lectionnez </span><span class="rvts102">Rechercher les mots similaires</span><span class="rvts100"> pour mettre en surbrillance les mots similaires dans les rubriques trouv&#xE9;es. Par exemple, si vous recherchez &quot;pi&#xE8;ces&quot;, vous trouverez des rubriques contenant &quot;documents pi&#xE8;ces&quot; et &quot;propri&#xE9;t&#xE9;s dans les pi&#xE8;ces&quot;.</span></p>
<p class="rvps77"><span class="rvts100">S&#xE9;lectionnez </span><span class="rvts102">Rechercher dans les titres uniquement</span><span class="rvts100"> pour ne trouver que les rubriques dont le titre inclut le mot-cl&#xE9;.</span></p>
<h1 class="rvps15"><a name="_Toc349140130"></a>
<span class="rvts0"><span class="rvts55">Restez connect&#xE9; &#xE0; la communaut&#xE9; Visiativ</span></span></h1>
<p class="rvps16"><img width="316" height="75" alt="" style="padding : 1px;" src="img/NouvelElement172.png"><span class="rvts56"> </span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps74"><span class="rvts56">A tout moment vous pouvez vous connecter &#xE0; la communaut&#xE9; myCADservices. Sur ce site vous trouverez une multitude d&#x2019;informations techniques telles que&#xA0;:</span></p>
<ul style="text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;"><ul style="text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: circle;">
<li style="margin-left: 0px" class="rvps79"><span class="rvts56">Acc&#xE8;s &#xE0; une base documentaire contenant des tutoriaux, des FAQ, des pr&#xE9;sentations de fonctionnalit&#xE9;s de la gamme SolidWorks etc&#x2026; Cette documentation est aliment&#xE9;e par nos &#xE9;quipes techniques Visiativ (Hotline, Formateurs, Consultants &#x2026;).</span></li>
<li style="margin-left: 0px" class="rvps79"><span class="rvts56">Acc&#xE8;s &#xE0; une base de vid&#xE9;os vous permettant d&#x2019;approfondir vos connaissances sur des sujets de la gamme SolidWorks.</span></li>
<li style="margin-left: 0px" class="rvps79"><span class="rvts56">Acc&#xE8;s &#xE0; des biblioth&#xE8;ques de composants standard Visiativ, TraceParts et Cadenas.</span></li>
<li style="margin-left: 0px" class="rvps79"><span class="rvts56">Acc&#xE8;s &#xE0; des t&#xE9;l&#xE9;chargements gratuits afin d&#x2019;installer les setups des utilitaires myCADtools.</span></li>
<li style="margin-left: 0px" class="rvps79"><span class="rvts56">Acc&#xE8;s aux vid&#xE9;os de formation sur les utilitaires myCADtools.</span></li>
<li style="margin-left: 0px" class="rvps79"><span class="rvts56">Acc&#xE8;s au support Hotline (contrat de maintenance obligatoire).</span></li>
</ul></ul>
<p class="rvps74"><span class="rvts56"><br></span></p>
<p class="rvps74"><span class="rvts56"> </span><img width="319" height="65" alt="" style="padding : 1px;" src="img/NouvelElement171.png"></p>
<p class="rvps74"><span class="rvts56">Vous pouvez &#xE9;galement suivre tous les articles et toutes les actualit&#xE9;s pertinents sur SolidWorks et Visiativ sur le site </span><a class="rvts103" href="http://www.mycadblog.fr">myCADblog</a><span class="rvts56">.</span></p>
<p class="rvps74"><span class="rvts56">Sur ce site vous trouverez un forum vous permettant de partager, avec d&#x2019;autres utilisateurs, vos questions ou vos connaissances autour des utilitaires myCADtools. </span></p>
<p class="rvps74"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps16"><span class="rvts56"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	