

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Affiche/Cache un calque</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Plan.html">Plan</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Plan.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Plan.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Ajouteunefeuille.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Condition0000.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet d&apos;afficher ou de cacher un calque particulier pr&#xE9;sent dans la mise en plan. Vous pouvez utiliser le caract&#xE8;re &quot;</span><span class="rvts18">*</span><span class="rvts7">&quot; si vous voulez supprimer tous les calques.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Si, dans la mise en plan, le calque nomm&#xE9; &quot;</span><span class="rvts18">Cotation</span><span class="rvts7">&quot; existe alors il sera affich&#xE9; ou cach&#xE9; en fonction du choix sp&#xE9;cifi&#xE9;.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Oper-plan1.png"><span class="rvts7"> &#xA0;</span><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Oper-plan11.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	