

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Changer une norme d&apos;habillage</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Document.html">Document</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Document.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Activeunescne.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Copiertouteslesoptionsdudocument.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Condition0000.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet de changer la norme d&apos;habillage dans tous les documents de mise en plan s&#xE9;lectionn&#xE9;s.</span></p>
<p class="rvps3"><span class="rvts7">Le choix de la norme d&apos;habillage &#xE0; appliquer se fait en cliquant sur </span><img alt="" style="vertical-align: middle; padding : 1px;" src="img/SelectValeurProp.png"><span class="rvts7">.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Les documents seront imprim&#xE9;s sur l&apos;imprimant &quot;</span><span class="rvts18">D:\SWOptions\Normes d&#x2019;habillage\ISO_MEP A4-A2.sldstd</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Oper-document12.png"><span class="rvts7"> &#xA0; &#xA0; </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	