

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Changer le mat&#xE9;riau</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Pice.html">Pi&#xE8;ce</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Pice.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Changerlacouleur.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Exporterlefichier.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Condition00000.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet d&apos;appliquer un mat&#xE9;riau sp&#xE9;cifique &#xE0; la pi&#xE8;ce.</span></p>
<p class="rvps3"><span class="rvts7">Le mat&#xE9;riau est &#xE0; choisir parmi la liste d&#xE9;roulante proposant la liste de tous les mat&#xE9;riaux contenus dans les fichiers &quot;sldmat&quot; d&#xE9;finis par les chemins de recherche dans les options g&#xE9;n&#xE9;rales de SOLIDWORKS :</span></p>
<p class="rvps3"><span class="rvts7">Options / Emplacements des fichiers / Bases de donn&#xE9;es de mat&#xE9;riaux</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="img/Document18-0.png"><span class="rvts7"> &#xA0;</span></p>
<p class="rvps3"><span class="rvts7">Le nom du mat&#xE9;riau doit respecter cette syntaxe : </span><span class="rvts29">Nom du fichier base:cat&#xE9;gorie:mat&#xE9;riau</span><span class="rvts7"> car un m&#xEA;me nom de mat&#xE9;riau peut &#xEA;tre pr&#xE9;sent dans plusieurs bases.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> :</span></p>
<p class="rvps3"><span class="rvts7">Le mat&#xE9;riau &quot;</span><span class="rvts18">Acier allier</span><span class="rvts7">&quot; est appliqu&#xE9; sur le document. On peut &#xE9;ventuellement appliquer le mat&#xE9;riau sur une configuration nomm&#xE9;e.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="img/Oper-piece2.png"></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	