

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">D&#xE9;cline les configurations</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Configuration.html">Configuration</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Configuration.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Activeuneconfiguration.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="MiseajourSpeedpak.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces ou les assemblages. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Condition000.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet de d&#xE9;cliner un nouveau document par configuration (pour une pi&#xE8;ce ou un assemblage).</span></p>
<p class="rvps3"><span class="rvts7">Le r&#xE9;pertoire de destination est &#xE0; s&#xE9;lectionner en cliquant sur </span><img alt="" style="vertical-align: middle; padding : 1px;" src="img/SelectValeurProp.png"><span class="rvts7">.</span></p>
<p class="rvps3"><span class="rvts7">Le nom des nouveaux fichiers sera g&#xE9;n&#xE9;r&#xE9; en fonction de l&apos;option choisie dans &quot;</span><span class="rvts18">Nouveau nom</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><span class="rvts7">La 3i&#xE8;me information si l&apos;on supprime ou non les configurations inactives dans le nouveau document g&#xE9;n&#xE9;r&#xE9;. </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Toutes les d&#xE9;clinaisons seront enregistr&#xE9;es dans le r&#xE9;pertoire &quot;</span><span class="rvts18">D:\Samples\180-Integration\Copies</span><span class="rvts7">&quot;. Le nom g&#xE9;n&#xE9;r&#xE9; sera compos&#xE9; du nom du document suivi du nom de la configuration. L&apos;option &#xE9;tant sur &quot;</span><span class="rvts18">OUI</span><span class="rvts7">&quot;toutes les configurations inactives seront supprim&#xE9;es dans le nouveau document (donc dans ce cas il n&apos;y aura plus qu&apos;une configuration). Si l&apos;option est sur &quot;</span><span class="rvts18">Non</span><span class="rvts7">&quot; le document g&#xE9;n&#xE9;r&#xE9; comporte encore toutes les configurations initiales et seule la configuration nomm&#xE9;e est active.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Oper-config4.png"><span class="rvts7"> &#xA0;</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Ide-Astuce.png"><span class="rvts7"> Si le r&#xE9;pertoire de destination n&apos;est pas sp&#xE9;cifi&#xE9;, les d&#xE9;clinaisons seront enregistr&#xE9;es dans le r&#xE9;pertoire du document trait&#xE9;.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	