

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Lancement d&apos;une macro</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Divers.html">Divers</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Divers.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Crerunrapportdecontrle.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Placerlalistedesrfrencesexternes.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces, les assemblages ou les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Condition00.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet d&apos;ex&#xE9;cuter une macro. </span></p>
<p class="rvps3"><span class="rvts7">La macro peut &#xEA;tre s&#xE9;lectionn&#xE9;e en cliquant sur </span><img alt="" style="vertical-align: middle; padding : 1px;" src="img/SelectValeurProp.png"><span class="rvts7">.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : La macro &quot;</span><span class="rvts18">SuppressColor.swp</span><span class="rvts7">&quot; sera ex&#xE9;cut&#xE9;e sur tous les documents s&#xE9;lectionn&#xE9;s.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Oper-divers5.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	