

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Modifie une propri&#xE9;t&#xE9; du sommaire Windows</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Proprit1.html">Propri&#xE9;t&#xE9;</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Proprit1.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Modifieunchampdansunevaleurdepro.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Question.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces, les assemblages ou les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Condition00.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet de modifier une propri&#xE9;t&#xE9; Windows du document parcouru.</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> :</span></p>
<p class="rvps3"><span class="rvts7">Modifie la propri&#xE9;t&#xE9; &quot;</span><span class="rvts18">Sujet</span><span class="rvts7">&quot; avec la valeur sp&#xE9;cifi&#xE9;e dans &quot;</span><span class="rvts18">Valeur de la propri&#xE9;t&#xE9;</span><span class="rvts7">&quot;.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="img/Oper-Propriete4.png"></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts30"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	