

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Options de nomenclature num&#xE9;ro de pi&#xE8;ce</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Configuration.html">Configuration</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Configuration.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Optionsdenomenclatureaffichagede.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Reconstructiondechaqueconfigurat.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces ou les assemblages. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Condition000.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet de g&#xE9;rer l&apos;option SOLIDWORKS &quot;N&#xB0; de pi&#xE8;ce lorsqu&apos;utilis&#xE9; dans une nomenclature&quot;.</span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Opr-option de nomenclature.png"><span class="rvts6"> </span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Dans SOLIDWORKS cette option est modifiable en faisant un clic droit sur une configuration et &quot;Propri&#xE9;t&#xE9;s&quot;.</span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Option de nomenclature.png"><span class="rvts6"> </span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Dans cette op&#xE9;ration nous allons pouvoir g&#xE9;rer :</span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">- Le Nom de la pi&#xE8;ce affich&#xE9;e si elle est utilis&#xE9;e dans la nomenclature en r&#xE9;cup&#xE9;rant, le nom du document ,le nom de la configuration ou un nom sp&#xE9;cifi&#xE9; par l&apos;utilisateur.</span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Numro de pice.png"><span class="rvts6"> </span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps2"><span class="rvts7">- Ajouter un nom sp&#xE9;cifique, si l&apos;option &quot;Nom sp&#xE9;cifi&#xE9; par l&apos;utilisateur&quot; a &#xE9;t&#xE9; choisi ci-dessus.</span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Nom spcifique.png"><span class="rvts6"> </span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">- Choix de la configuration &#xE0; modifier.</span></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps2"><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Sur quelle configuration.png"><span class="rvts6"> </span></p>
<p class="rvps2"><span class="rvts6"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	