

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Placer le test des conditions dans un rapport</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Divers.html">Divers</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Divers.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Placerlerapportdesoprationsdansu.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Placerlesvignettesdesdocumentsda.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les pi&#xE8;ces, les assemblages ou les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Condition00.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration permet le test des conditions, dans le rapport de contr&#xF4;le. </span></p>
<p class="rvps3"><span class="rvts7">Le rapport doit, au pr&#xE9;alable, avoir &#xE9;t&#xE9; cr&#xE9;&#xE9;.</span></p>
<p class="rvps3"><span class="rvts7">Le choix du rapport se fait en le choisissant parmi la liste des op&#xE9;rations ayant cr&#xE9;&#xE9;s des </span><a class="rvts17" href="Crerunrapportdecontrle.html">rapports de contr&#xF4;le</a><span class="rvts7">.</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Oper-divers23.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Le test du document trait&#xE9; sera &quot;</span><span class="rvts18">Toujours</span><span class="rvts7">&quot; rajout&#xE9; dans le rapport &quot;</span><span class="rvts18">Diffusion.doc</span><span class="rvts7">&quot;. (Voir un </span><a class="rvts17" href="Exemplederapport.html">exemple</a><span class="rvts7"> de rapport).</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Oper-divers30.png"><span class="rvts7"> &#xA0; </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	