

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Remplacer le fond de plan des feuillets en fonction de leurs formats</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; D&#xE9;tail des op&#xE9;rations &#x203A;&#x203A; <a href="Plan.html">Plan</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Plan.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Remplacerlefonddeplandesfeuilles.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Remplacerlefonddeplandunfeuille1.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts7">Op&#xE9;ration possible sur les mises en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Condition0000.png"></p>
<p class="rvps3"><span class="rvts7">Cette op&#xE9;ration modifie le fond de plan de toutes les feuilles dont le format est sp&#xE9;cifique.</span></p>
<p class="rvps3"><span class="rvts7">Le format de la feuille est &#xE0; choisir parmi une liste d&#xE9;roulante :</span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Choix_Formats1.png"><span class="rvts7"> &#xA0;</span></p>
<p class="rvps3"><span class="rvts24">Exemple</span><span class="rvts7"> : Remplace, par le fond de plan &quot;</span><span class="rvts18">A2Axemble.slddrt</span><span class="rvts7">&quot;, toutes les feuilles dont le format correspond &#xE0; &quot;</span><span class="rvts18">A2</span><span class="rvts7">&quot; de toutes les mises en plan s&#xE9;lectionn&#xE9;es.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Oper-plan7.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	