

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Si la barre de blocage est pr&#xE9;sente parmi les fonctions de l&apos;arbre</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursConditions.html">Ajouter une ou plusieurs &quot;Conditions&quot;</a> &#x203A;&#x203A; D&#xE9;tail des conditions &#x203A;&#x203A; <a href="Pice1.html">Pi&#xE8;ce</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Pice1.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="Pice1.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Lacouleurdelapiceest.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps2"><span class="rvts6"><br></span></p>
<p class="rvps3"><span class="rvts7">Le document test&#xE9; est une pi&#xE8;ce. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Condition00000.png"></p>
<p class="rvps3"><span class="rvts7">Appliquer l&apos;op&#xE9;ration si la barre de blocage SOLIDWORKS est pr&#xE9;sente parmi les fonctions de l&apos;arbre de cr&#xE9;ation.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="img/Warning1.png"><span class="rvts7"> Si la barre de blocage se trouve en haut de l&apos;arbre, elle ne sera pas d&#xE9;tect&#xE9;e car consid&#xE9;r&#xE9;e par SOLIDWORKS comme d&#xE9;sactiv&#xE9;e.</span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	