

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">SmartCounter</h1>
				
				</div>
			<div id="topic_header_nav">
				<a href="Reglesdenommage.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Nouveauchapitre67.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts50"><br></span></p>
<p class="rvps3"><span class="rvts18"><br></span></p>
<p class="rvps3"><span class="rvts18">SmartCounter</span><span class="rvts7"> permet de cr&#xE9;er des compteurs donnant la possibilit&#xE9; d&#x2019;incr&#xE9;menter une propri&#xE9;t&#xE9; sur chaque document en cr&#xE9;ant une propri&#xE9;t&#xE9; unique.</span></p>
<p class="rvps3"><span class="rvts7">Ces compteurs peuvent &#xEA;tre utilis&#xE9;s dans chacun des utilitaires </span><span class="rvts18">myCADtools</span><span class="rvts7"> traitant des propri&#xE9;t&#xE9;s (</span><span class="rvts18">BatchProperties</span><span class="rvts7">, </span><span class="rvts18">BatchConverter</span><span class="rvts7">, </span><span class="rvts18">CloneComponents</span><span class="rvts7">, </span><span class="rvts18">Integration</span><span class="rvts7">, </span><span class="rvts18">SmartProperties</span><span class="rvts7">, &#x2026;) et dans </span><span class="rvts18">myPDMtools</span><span class="rvts7"> (ex&#xA0;: </span><span class="rvts18">SerialNumber</span><span class="rvts7">)</span></p>
<p class="rvps3"><span class="rvts51"><br></span></p>
<p class="rvps3"><a class="rvts34" href="Nouveauchapitre67.html">Param&#xE9;trage SmartCounter</a></p>
<p class="rvps3"><a class="rvts34" href="Nouveauchapitre68.html">Type de compteur &quot;Simplifi&#xE9;&quot;</a></p>
<p class="rvps3"><a class="rvts34" href="Nouveauchapitre69.html">Type de compteur &quot;Avanc&#xE9;&quot;</a></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="img/NouvelElement.png"></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	