

<div id="topic_header">
			<div id="topic_header_content">
				<h1 id="topic_header_text">Test dans un exe autonome</h1>
				
				<div id="topic_breadcrumb">
					Utilisation de &quot;Integration&quot; &#x203A;&#x203A; <a href="AjouteruneouplusieursConditions.html">Ajouter une ou plusieurs &quot;Conditions&quot;</a> &#x203A;&#x203A; D&#xE9;tail des conditions &#x203A;&#x203A; <a href="Document1.html">Document</a> &#x203A;&#x203A; </div>
				</div>
			<div id="topic_header_nav">
				<a href="Document1.html"><img src="img/arrow_up.png" alt="Parent"></a>
				
				<a href="UnepropritWindowsestgale.html"><img src="img/arrow_left.png" alt="Previous"></a>
				
				<a href="Pice1.html"><img src="img/arrow_right.png" alt="Next"></a>
				
				</div>
			<div class="clear"></div>
		</div>
	<div id="topic_content">
		
<p></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts7">Le document test&#xE9; est une pi&#xE8;ce, un assemblage ou une mise en plan. </span><img alt="" style="vertical-align: middle; padding : 1px;" src="img/Condition00.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7">Permet </span><span class="rvts8">de programmer des op&#xE9;rations sp&#xE9;cifiques dans un ex&#xE9;cutable. La valeur de retour permet de contr&#xF4;ler si l&#x2019;ex&#xE9;cution est valide, si la valeur de retour est diff&#xE9;rente de la valeur programm&#xE9;e (EX&#xA0;: 1) l&#x2019;ex&#xE9;cution est consid&#xE9;r&#xE9;e comme &#xE9;chou&#xE9;e.</span></p>
<p class="rvps10"><span class="rvts8">L&#x2019;emplacement du document est pass&#xE9; en argument</span><span class="rvts7">.</span></p>
<p class="rvps3"><img alt="" style="padding : 1px;" src="img/Document11.png"><span class="rvts7"> </span></p>
<p class="rvps3"><span class="rvts7">Ensuite le niveau de recherche pour le contr&#xF4;le peut s&apos;arr&#xEA;ter au premier niveau ou descendre dans tous les niveaux.</span></p>
<p class="rvps3"><span class="rvts7"><br></span></p>
<p class="rvps3"><span class="rvts24">Exemple de programme autonome (application console en VB.net)</span><span class="rvts7"> :</span></p>
<p class="rvps2"><span class="rvts26">Lecture des arguments</span></p>
<p class="rvps2"><span class="rvts26">Dim args() As String = Environment.GetCommandLineArgs()</span></p>
<p class="rvps2"><span class="rvts26">Sub Main()</span></p>
<p class="rvps2"><span class="rvts26">If args.Length &lt; 2 Then End</span></p>
<p class="rvps2"><span class="rvts26">Dim stPath As String = args(1)</span></p>
<p class="rvps2"><span class="rvts26">Select Case IO.Path.GetExtension(stPath).ToUpper</span></p>
<p class="rvps2"><span class="rvts26">Case &quot;.SLDPRT&quot;</span></p>
<p class="rvps2"><span class="rvts26">Environment.Exit(1) &#xA0;&apos; Retour 1 si le chemin indique une pi&#xE8;ce</span></p>
<p class="rvps2"><span class="rvts26">Case &quot;.SLDASM&quot;</span></p>
<p class="rvps2"><span class="rvts26">Environment.Exit(2) &#xA0;&apos; Retour 2 si le chemin indique un assemblage</span></p>
<p class="rvps2"><span class="rvts26">Case &quot;.SLDDRW&quot;</span></p>
<p class="rvps2"><span class="rvts26">Environment.Exit(3) &#xA0;&apos; Retour 3 si le chemin indique une plan</span></p>
<p class="rvps2"><span class="rvts26">Case Else</span></p>
<p class="rvps2"><span class="rvts26">Environment.Exit(0) &#xA0;&apos; Retour 0 si le chemin n&apos;indique pas une pi&#xE8;ce, un assemblage ou un plan</span></p>
<p class="rvps2"><span class="rvts26">End Select</span></p>
<p class="rvps2"><span class="rvts26">End Sub</span></p>
<p class="rvps3"><span class="rvts25"><br></span></p>
<p></p>
</div>
	
	<div id="topic_footer">

			<div id="topic_footer_content">
				Copyright &#xA9; 2017 by Visiativ. All Rights Reserved.</div>
		</div>
	